table.conn {
   margin: 4px;
	border: none;
	border-bottom: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	font-size:12px;
	
}
.req {
	color:red;
}
table.conn th{
   background-color: #eeeeee;
   height: 30px;
}
table.conn td{
	border: 1px solid #d0d0d0;
	border-bottom: none;
	border-left: none;
	height: 30px;
	padding:2px;
	background-color: white;
}

table.conn td.label {
   background-color: #eeeeee;

}
table.conn td.right {
    text-align: right;
}
table.conn td.left {
    text-align: left;
}
table.conn td.center {
    text-align: center;
}
table.many td {
	margin:0px;
	padding:0px;
	font-size:12px;
	border:none;
}
.icon-excel {
	background:url('../images/addicon/icon-excel.png') no-repeat center center;
}
