/*  
 * @description: 公用css 
 * @author: name  
 * @update: 2017-10-11 
 */

/*****颜色*****/
$black: #242633;
$yellow: #ffd400;
$red: #ff4c4c;
$green: #3dcc85;
$white:　#ffffff;
$deepblue: #292c3b;
$blue: #2d3040;
$lightblue: #a3aacc;
$highLight: #474c66;
$bottom_color: #36394d;


//$gary_white : #ccd5ff;
//$gray : #7a7f99;
//$highLight : #474c66;
//$depLight : #2d3040;
//$bottom_color : #36394d;


//字体
$fs12 : 12px;
$fs14 : 14px;


