/*  
 * @description: 公用css 
 * @author: name  
 * @update: 2017-10-11 
 */

/*****颜色*****/
$black: #242633;
$yellow: #ffd400;
$red: #ff4c4c;
$green: #3dcc85;
$white: #ffffff;
$deepblue: #292c3b;
$blue: #2d3040;
$lightblue: #a3aacc;
$highLight: #474c66;
$bottom_color: #36394d;

/*****字体*****/
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;

/*****字体*****/
$yh: "\5FAE\8F6F\96C5\9ED1"; /*微软雅黑*/
$st: "\5B8B\4F53"; /*宋体*/
$ht: "\9ED1\4F53"; /*黑体*/
$arial: Arial;

/*****排版*****/
.clear{
    clear: both;
}
.fl{ 
    float: left;
}
.fr{ 
    float: right;
}

table{
    width: 100%;
    tr{
        background: $blue;
        &:nth-child(even){
            background: $deepblue;
        }
    }
    td{
        text-align: left;
    }
    .red{
        color: $red;
    }
    .green{
        color: $green;
    }
}

.icon{
    display: inline-block;
    overflow: hidden;
}

/*****按钮*****/
.btn{
    display: inline-block;
    border-radius: 4px;
    color: $black;
    font-size: $fs16;
    &.yellow{
        background: $yellow;
    }
    &.blud{
        background: $lightblue;
    }
}
