/****行情页面样式***/
.mainTitle{
	line-height: 16px;
}
#quotationTitle span{
	color:#FFFFFF;
}
body{
	background-color: #2B2B2B;
}
p{
	margin: 0px;
	color:#FFFFFF;
}
.mainTitle p{
	margin-bottom: 0px;
	color:#FFFFFF;
}
.mainTitle .mainTitleFirst{
	margin-top: 6px;
}
.quotationBack{
	color:white;
}
.mui-bar{
	background-color: #2b2b2b;
	border-bottom: 1px solid #454545;
	height: 46px;
}
#sliderProgressBarQuotation{
	color:#cccccc;
}
.mui-slider-indicator #Time,#Candlestick,#TradingCenter{
	color:#cccccc;
	height:38px;
	line-height: 38px;
	background-color: #2B2B2B;
}
#TimeChart1{
	background-color: #2B2B2B;
	color:black !important;
}
#CandlestickChart{
	width: 100%;
	background-color: #2B2B2B;
	color:black !important;
}
#CandlestickChartDiv{
	background-color: #2B2B2B;
		width: 100%;;
}
#buttomFix{
	height: 192px;
	width: 100%;
	background-color: #2B2B2B;
	overflow: hidden;
	/*position: fixed;
	bottom: 0px;*/
}
.buttomFixLeft,.buttomFixRight{
	background-color: #2B2B2B;
	float: left;
}
.buttomFixRight{
	border-bottom: 1px solid #454545;
		border-left: 1px solid #454545;
	height: 90px;
}
.buttomFixRight p{
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
}
.buttomFixLeft p{
	color:# 999999;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	width: 100%;
}
.buttomFixLeft p span{
	color:white;
}
.PricesLeft{
	margin-left: 15px;
}
.PricesRight{
	display: block;
	float: right;
}
#freshPrices{
	color:#e9392a;
	font-size: 28px;
	line-height: 40px;;
	margin-top: 11px;
	font-weight: bold;
}
#domnRange{
	color:#e9392a;
}
#BuyContent{
	color:#cccccc;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	width: 100%;
	background-color:#2B2B2B;
}
.BuyDiv{
	clear: all;
	borer:1px solid red;
	background-color:#2B2B2B;
}
.BuyContentLeft{
	width: 50%;
	display: inline-block;
	color:#cccccc;
	height: 42px;
	line-height: 42px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	font-size: 14px;
}
.BuyContentLeft input{
	background-color:#2B2B2B;
	border:none;
	width:73%;
	height: 38px;
	color:#cccccc;
	font-size: 14px;
	text-align: center;
}
.buyBtn{
	clear: all;
	background-color: #2B2B2B;
	/*height:60px;*/
	height: 70px;
	padding: 13px 10px;
	text-align: center;
}
.buyBtn button{
	border:none;
	color:white;
}
#buy{
	background-color:#e9392a;
	margin-right: 5px;;
}
#sell{
	background-color:#16a951;
	margin-left: 5px;
}
#marketBuy{
	margin-right: 5px;;
	background-color:#e9392a;
	height: 40px;
	line-height: 28px;
	position: fixed;
	bottom: 3%;
	left:6%;
}
#marketSell{
	margin-left: 5px;
	background-color:#16a951;
	height: 40px;
	line-height: 28px;
	position: fixed;
	bottom: 3%;
	right:6%;
}
.Assets{
	width: 100%;
	height:40px;
	padding:4px 0px;
	border-bottom: 1px solid #454545;
	position: fixed;
	top:86px;
	z-index: 998;
}
.Assets p span{
	font-size: 12px;
	display: inline-block;
	width: 33.33%;
	text-align: center;
}
.Assets p{
	line-height: 16px;
}
.mainContent{
	background-color: #2B2B2B;
}
.YellowFont{
	color:#fcc900;
}
.ProductInformation{
	overflow: hidden;
	padding:3px 0px;
	color:#FFFFFF;
	border-bottom: 1px solid #454545;
}
.ProductInformationLeft,.ProductInformationRight{
	float: left;
	overflow: hidden;
	padding:0px 8px;
	/*width: 50%;*/
	height: 65px;
}
.ProductInformationRight{
	width: 48%;
}
.ProductInformationLeft{ 
	width: 52%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
	position: relative;
	/*padding:10px 15px;*/
}
.ProductInformationLeft p{
	font-size: 14px;
}

.ProductInformationLeft #tradeTitle{
	position: absolute;
	top:12px;
	/*left:-2px;*/
	z-index: 888;
	background-color: rgba(0, 0, 0, 0);
	color:#FFFFFF;
	font-size: 14px;
	margin-bottom: 0px;
	padding: 10px 0px !important;
}
#searchIcon{
	margin-top: 12px;
	display: inline-block;
	width: 100%;
	text-align: right;
}
#tradeTitle #titleValue{
	display: inline-block;
	width: 80%;
}
#contentListBg{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	padding:15% 5% 5% 5%;
/*	background-color: red;*/
	/*display: none;*/
	z-index: 999;
}
#contentList{
	position:fixed;
	top:170px;
	display: none;
	z-index: 999;
	list-style-type: none;
	height: 300px;
	border:1px solid #0062CC;
	/*width: 100%;*/
	width: 40%;
	padding-left: 0px;
	overflow: scroll;
}
#contentList li{
	padding-left: 5px;
	width: 100%;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
	color:#000000;
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
}
.ProductInformationLeft select{
	background-color: rgba(0, 0, 0, 0);
	color:#FFFFFF;
	font-size: 14px;
	margin-bottom: 0px;
	padding: 10px 0px !important;
}
/*#searchIcon{
	position: absolute;
	top: 10%;
	color:red;
	font-size: 30px;
}*/
.ProductInformationRight{
	overflow: hidden;
}
.ProductInformationRight p{
	font-size: 12px;
}
.grayFont{
	color:#999999 !important;
}
.whiteFont{
	color:#FFFFFF !important;
}
.dataRight{
	display: block;
	float: right;

}
#buyFuture{
	border-bottom: 1px solid #454545;
}
#buyFuture label{
	color:#FFFFFF;
}
#buyFuture span{
	display: inline-block;
	width: 50%;
	height:40px;
	line-height: 40px;
	font-size: 12px;
	border-bottom: 1px solid #454545;
	padding:0px 15px;
	
}
#buyFuture .radioChoice{
	width: 25px;
	height:25px;
	display: table-cell;
	vertical-align: middle;
	color:#FFFFFF;
	margin-right: 15px;
}
.buyBtnPrices{
	border-top: 1px solid #FFFFFF;
}
.listStyle {
	background-color: #2B2B2B;
	border:none;
	width: 100%;
	overflow-x: scroll;
	padding: 0px;
}
#item2,#item1,#item3,#item4{
	text-align: center;
}
.listStyle li{
	height:40px;
	text-align: left;
	border-bottom: 1px solid  #454545;
	line-height: 40px;
} 
.listStyle li  a{
	height:40px;
	width: 100%;
	display: inline-block;
	line-height: 40px;
	color:#CCCCCC;
	font-size: 12px;
	
}
.listStyle li a span{
	text-align: center;
	display: inline-block;
	width: 70px;
	height:40px;
	color:#CCCCCC;

}
#trade{
	background-color: #2B2B2B;
}
.mui-navigate-right:after, .mui-push-right:after{
	content:"";
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border:none;
}
#topMenu{
	position: fixed;
	top: 46px;;
	background-color: #2B2B2B;
	border-top: 1px solid #454545;
	z-index: 999;
}
#kilAnorder{
	width: 70%;
	background-color: #cccccc;
	display: block;
	border:none;
	position: fixed;
	bottom: 1%;
	left: 15%;
}
#allOpen,#Open{
	background-color:#cccccc;
	position: fixed;
}
#allOpen{
	bottom: 1%;
	left: 5%;
}
#Open{
	bottom: 1%;
	right: 5%;
}
#positionList,#postersOrder{
	width: 100%;
	padding-bottom: 45px;
}

#Entrust{
	width: 100%;
}

#sliderProgressBarQuotation{
	background-color: #fcc900;
}
.mui-control-item{
	color:#cccccc !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color:#fcc900 !important;
	border-bottom: 2px solid #fcc900 ;
}
.mui-control-item{
	color:#CCCCCC;
}

.operateLogin{
	background-color: #2B2B2B;
	border:none;
}
.blackBg{
	background-color: #2B2B2B;
}
.operateLogin label,input{
	display: inline-block;
	text-align: left;
}
.mui-input-group .mui-input-row{
	height: 50px;
}
#formDiv {
	position: relative;
	top: -2px;;
	z-index: 999;
	border-top:1px solid #454545
}
.operateLogin label{
	color:#FFFFFF;
	height: 50px;
	line-height: 28px;
	width: 120px;
	font-size: 14px;
}
.operateLogin input{
	color:#A9A9A9;
	height: 50px;
	line-height: 30px;
	width: 59% !important;
	text-align: left;
	border:1px solid red;
}
.mui-input-row select{
	height: 49px;
	line-height: 49px;
	background-color: #2B2B2B;
	color:#A9A9A9;
	text-align: center;
	margin-top: 1px;;
}
.operateLogin button {
	background-color: #fcc900;
	border:none;
	height: 45px;
	line-height: 15px;
	margin-top: 15px;
}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{
	border-radius: none !important;
	border-top-left-radius:none !important;
	border-top-right-radius:none !important;
}
.muiLine{
	width: 100%;
}
.productList {
	width: 100%;
	margin-top: 45px;
}
.productList span,.productList p{
	color:#FFFFFF;
}
.productList div{
	float: left;
}
.productList .openPage{
	display: inline-block;
	width: 100%;
	height: 50px;
	padding:0px 2%;
	border-bottom:1px solid #454545;
}
.productContentLeft{
	height:50px;
	width: 25%;
	text-align: left;
	padding:9px 0px 13px;
	font-size: 12px;
	line-height: 14px;
	color:#999999;
}
.CommodityNoName{
	color:#999999!important;
}
.productContentRight{
	height:50px;
	width: 75%;
	padding:9px 0px 13px;
	text-align: center;
	line-height: 26px;
}
.productContentRight span{
	display: inline-block;
	width: 31%;
	text-align: center;
}
.redFont{
	color:#e9392a !important;
}
.redBg{
	margin: auto;
	width: 80%;
	height:26px;
	border-radius: 2px;
	background-color: #e9392a;
}
.greenFont{
	color:#16a951!important;
}
.greenBg{
	margin: auto;
	width: 80%;
	height:26px;
	border-radius: 2px;
	background-color: #16a951;
}
.dateTimeL{
		width: 115px !important;
}
.dateTimeFloat{
	width: 160px !important;
	text-anchor: center;
}
.PositionLi{
	width: 465px;
}
.PositionLi a{
	width: 465px;
}
.Guadan{
	width:490px ;
}
.Guadan  a{
	width:490px ;
}
.EntrustOreder{
	width: 635px;
}
.EntrustOreder a{
	width: 635px;
}
.DealLi{
	width: 420px;
}
.DealLi  a{
	width:420px ;
}
input{
	text-align: center;
}
#fisrtLlist{
	width: 100%;
	padding: 0px 2%;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	position: fixed;
	top:45px;
	z-index: 990;
	margin-top: -2px;;
	border-bottom: 1px solid #454545;
	border-top: 1px solid #454545;
	background-color: #2B2B2B;
}
#fisrtLlist span{
	display: inline-block;
	width: 25%;
	text-align: center;
}
#fisrtLlist span:nth-child(1){
	display: inline-block;
	width: 25%;
	text-align: left;
}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{
	border-radius: 0px;
}
.toggleClassBack{
	background-color: #454545;
}
.mui-radio{
	display: inline-block;
	width: 49%;	
	font-size: 12px;
}
.butomBoreder{
	border-bottom: 1px solid #454545;
}
.mui-table-view-cell:after{
	content:none;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color:#FFCC33;
}
#switchAccount{
	position: absolute;
	display: inline-block;
	right: 10px;
	height: 43px;
	line-height: 43px;
	font-size: 14px;
}
#refresh{
	color:#FFFFFF;
}
.mui-content{
	background-color: #2B2B2B;
}
.RegistrationTips{
	width: 100%;
	text-align: center;
}
#loginIform{
	width: 100%;
	text-align: center;
	height: 40px;
	margin: 0px;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	right: 45%;
}


.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
	left:13.5%;
}
@media only screen and (min-device-width : 320px ) {
	.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
		left:8%;
	}
}
@media only screen and (min-device-width : 375px ) {
	.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
		left:15%;
	}
}
@media only screen and (min-device-width : 414px ) {
	.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
		left:13.5%;
	}
}
#loginAgree{
	width: 100%;
	/*padding-left:40px;*/
	text-align: center;
	height: 40px!important;
	line-height: 40px !important;
}
#forgetPassword{
	position: absolute;
	right: 10px;
	line-height: 44px;
	color:#FFFFFF;
	font-size: 14px
}
#tutorial{
	vertical-align: middle;
}
#tutorial img{
	width: 24px;
	height: auto;
	margin-top: 10px;
}
.accountSelect{
	width: 60% !important;
}
