/****行情页面样式***/
.mainTitle{
	line-height: 16px;
}
#quotationTitle span{
	color:#FFFFFF;
}
body{
	background-color: #2B2B2B;
}
p{
	margin: 0px;
	color:#FFFFFF;
}
.mainTitle p{
	margin-bottom: 0px;
	color:#FFFFFF;
}
.mainTitle .mainTitleFirst{
	margin-top: 6px;
}
.quotationBack{
	color:white;
}
.mui-bar{
	background-color: #2b2b2b;
	border-bottom: 1px solid #454545;
}
#sliderProgressBarQuotation{
	color:#cccccc;
}
.mui-segmented-control .mui-control-item{
	transition: none;
	-webkit-transition: none;
	background: linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -webkit-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -moz-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -ms-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -o-linear-gradient(#2B2B2B,#2B2B2B) !important;
}
.mui-slider-indicator{
	transition: none;
	background: linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -webkit-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -moz-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -ms-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -o-linear-gradient(#2B2B2B,#2B2B2B) !important;
}
.mui-slider-indicator #Time,#Candlestick,#TradingCenter{
	color:#cccccc;
	height:38px;
	line-height: 38px;
	background-color: #2B2B2B;
	background: linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -webkit-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -moz-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -ms-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -o-linear-gradient(#2B2B2B,#2B2B2B) !important;
}
.mui-slider{
	/*border-bottom: 1px solid #454545;*/
	background-color: #666666;
}
#TimeChart1{
	background-color: #CCCCCC;
	color:black !important;
}
#CandlestickChart{
	width: 100%;
	background-color: #CCCCCC;
	color:black !important;
}
#CandlestickChartDiv{
		width: 100%;;
}
#buttomFix{
	height: 192px;
	width: 100%;
	background-color: #2B2B2B;
	overflow: hidden;
	/*position: fixed;
	bottom: 0px;*/
}
.buttomFixLeft,.buttomFixRight{
	background-color: #2B2B2B;
	float: left;
}
.buttomFixRight{
	border-bottom: 1px solid #454545;
		border-left: 1px solid #454545;
	height: 90px;
}
.buttomFixRight p{
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
}
.buttomFixLeft p{
	color:# 999999;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	width: 100%;
}
.buttomFixLeft p span{
	color:white;
}
.PricesLeft{
	margin-left: 15px;
}
.PricesRight{
	display: block;
	float: right;
	
}
#freshPrices{
	color:#e9392a;
	font-size: 28px;
	line-height: 40px;;
	margin-top: 11px;
	font-weight: bold;
}
#domnRange{
	color:#e9392a;
}
#BuyContent{
	color:#cccccc;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	width: 100%;
	background-color:#2B2B2B;
}
.BuyDiv{
	clear: all;
	borer:1px solid red;
	background-color:#2B2B2B;
}
.BuyContentLeft{
	width: 50%;
	display: inline-block;
	color:#cccccc;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
font-size: 14px;
}
.BuyContentLeft input{
	background-color:#2B2B2B;
	border:none;
	width:70%;
	color:#cccccc;
	font-size: 14px;
	text-align: center;
}
.buyBtn{
	clear: all;
	background-color: #2B2B2B;
	/*height:60px;*/
	padding: 13px 10px;
	text-align: center;
}
.buyBtn button{
	border:none;
	color:white;
}
#buy{
	background-color:#e9392a;
	margin-right: 5px;;
}
#sell{
	background-color:#16a951;
	margin-left: 5px;;
}
.Assets{
	width: 100%;
	height:40px;
	padding:4px 0px;
	border-bottom: 1px solid #454545;
}
.Assets p span{
	font-size: 12px;
	display: inline-block;
	width: 33.33%;
	text-align: center;
}
.Assets p{
	line-height: 16px;
}
.mainContent{
	background-color: #2B2B2B;
}
.YellowFont{
	color:#fcc900;
}
.ProductInformation{
	overflow: hidden;
	padding:3px 0px;
	color:#FFFFFF;
	border-bottom: 1px solid #454545;
}
.ProductInformationLeft,.ProductInformationRight{
	float: left;
	overflow: hidden;
	padding:0px 15px;
	width: 50%;
}
.ProductInformationLeft{
	padding:10px 15px;
}
.ProductInformationLeft p{
	font-size: 14px;
}
.ProductInformationRight{
	overflow: hidden;
}
.ProductInformationRight p{
	font-size: 12px;
	line-height: ;
}
.grayFont{
	color:#999999 !important;
}
.whiteFont{
	color:#FFFFFF;
}
.dataRight{
	display: block;
	float: right;

}
#buyFuture{
	border-bottom: 1px solid #454545;
}
#buyFuture label{
	color:#FFFFFF;
}
#buyFuture span{
	display: inline-block;
	width: 50%;
	height:40px;
	line-height: 40px;
	font-size: 12px;
	border-bottom: 1px solid #454545;
	padding:0px 15px;
	
}
#buyFuture .radioChoice{
	width: 25px;
	height:25px;
	display: table-cell;
	vertical-align: middle;
	color:#FFFFFF;
	background-color: #FFFFFF;
	margin-right: 15px;
}.buyBtnPrices{
	border-bottom: 1px solid #FFFFFF;
}
.listStyle {
	background-color: #2B2B2B;
	border:none;
	/*width: 100%;*/
	padding: 0px;
}
.listStyle  .mui-navigate-right{
	color:#999999;
}
.listStyle li{
	border-bottom: 1px solid  #454545;
}
.listStyle .mui-navigate-right span{
	display: inline-block;
	height:40px;;
	width: 120px;
	padding:15px 0px;
	line-height: auto;
	text-align: center;
	font-size: 12px;
	word-break: normal;
	color:#999999;
	width: 120px;
}
.mui-navigate-right:after, .mui-push-right:after{
	content:"";
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border:none;
}
#kilAnorder{
	background-color: #cccccc;
	border:none;
	margin-top: 30px;
}
#fisrtLi .mui-navigate-right span{
	display: inline-block;
	height:30px;;
	width: 120px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	word-break: normal;
	color:#FFFFFF;
}
#allOpen,#Open{
	margin:0px 10px;
	background-color:#cccccc;
}
#Entrust{
	width: 100%;
}
#Entrust .mui-navigate-right span{
	width: 120px;
}
#Deal .mui-navigate-right span{
	width: 120px;
}
#sliderProgressBarQuotation{
	background-color: #fcc900;
}
.mui-control-item{
	color:#cccccc !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color:#fcc900 !important;
	border-bottom: 2px solid #fcc900;
}
.mui-control-item{
	color:#CCCCCC;
}
.operateLogin{
	background-color: #2B2B2B;
}
.blackBg{
	background-color: #2B2B2B;
}
.operateLogin label{
	color:#FFFFFF;
}
.operateLogin input{
	color:#656565;
}

.operateLogin button {
	background-color: #fcc900;
	border:none;
}
.link-area a{
	color:#FFFFFF;
	display: inline-block;
	width: 50%;
	}
.link-area	#regLogin{
	text-align: right;
}
.link-area a span{
	color:#FFCC33;
}
#fisrtLlist{
	color:#FFFFFF;
	height:40px;
	line-height: 40px;
	font-size: 14px;
	width: 100%;
	border:1px solid  #454545;
	text-align: center;
}
#fisrtLlist  span{
	display:  inline-block;
	width: 25%;
}

.productList span,.productList p{
	color:#FFFFFF;
}
.productList div{
	float: left;
}

.productContentLeft{
	height:50px;
	width: 25%;
	text-align: center;
	padding:13px 0px;
	font-size: 12px;
	line-height: 14px;
}
.productContentRight{
	height:50px;
	width: 75%;
	padding:15px 0px;
	text-align: center;
	line-height: 20px;
}
.productContentRight span{
	display: inline-block;
	width: 32%;
	text-align: center;
}
.redFont{
	color:#e9392a !important;
}
.redBg{
	margin: auto;
	width: 80%;
	height:20px;
	background-color: #e9392a;
}
.greenFont{
	color:#16a951!important;
}
.greenBg{
	margin: auto;
	width: 80%;
	height:20px;
	background-color: #16a951;
}
