/****行情页面样式***/
.mainTitle{
	line-height: 16px;
}
#quotationTitle span{
	color:#FFFFFF;
}
body{
	background-color: #2B2B2B;
}
p{
	margin: 0px;
	color:#FFFFFF;
}
.mainTitle p{
	margin-bottom: 0px;
	color:#FFFFFF;
}
.mainTitle .mainTitleFirst{
	margin-top: 6px;
}
.quotationBack{
	color:white;
}
.mui-bar{
	background-color: #2b2b2b;
	border-bottom: 1px solid #454545;
}
#sliderProgressBarQuotation{
	color:#cccccc;
}
.mui-segmented-control .mui-control-item{
	transition: none;
	-webkit-transition: none;
	background: linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -webkit-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -moz-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -ms-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -o-linear-gradient(#2B2B2B,#2B2B2B) !important;
}
.mui-slider-indicator{
	transition: none;
	background: linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -webkit-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -moz-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -ms-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -o-linear-gradient(#2B2B2B,#2B2B2B) !important;
}
.mui-slider-indicator #Time,#Candlestick,#TradingCenter{
	color:#cccccc;
	height:38px;
	line-height: 38px;
	background-color: #2B2B2B;
	background: linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -webkit-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -moz-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -ms-linear-gradient(#2B2B2B,#2B2B2B) !important;
	background: -o-linear-gradient(#2B2B2B,#2B2B2B) !important;
}

#TimeChart1{
	background-color: #2B2B2B;
	color:black !important;
}
#CandlestickChart{
	width: 100%;
	background-color: #2B2B2B;
	color:black !important;
}
#CandlestickChartDiv{
	background-color: #2B2B2B;
		width: 100%;;
}
#buttomFix{
	height: 192px;
	width: 100%;
	background-color: #2B2B2B;
	overflow: hidden;
	/*position: fixed;
	bottom: 0px;*/
}
.buttomFixLeft,.buttomFixRight{
	background-color: #2B2B2B;
	float: left;
}
.buttomFixRight{
	border-bottom: 1px solid #454545;
		border-left: 1px solid #454545;
	height: 90px;
}
.buttomFixRight p{
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
}
.buttomFixLeft p{
	color:# 999999;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	width: 100%;
}
.buttomFixLeft p span{
	color:white;
}
.PricesLeft{
	margin-left: 15px;
}
.PricesRight{
	display: block;
	float: right;
	
}
#freshPrices{
	color:#e9392a;
	font-size: 28px;
	line-height: 40px;;
	margin-top: 11px;
	font-weight: bold;
}
#domnRange{
	color:#e9392a;
}
#BuyContent{
	color:#cccccc;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	width: 100%;
	background-color:#2B2B2B;
}
.BuyDiv{
	clear: all;
	borer:1px solid red;
	background-color:#2B2B2B;
}
.BuyContentLeft{
	width: 50%;
	display: inline-block;
	color:#cccccc;
	height: 42px;
	line-height: 42px;
	padding: 0px 15px;
	border-bottom: 1px solid #454545;
	margin-bottom: 0px;
	font-size: 14px;
}
.BuyContentLeft input{
	background-color:#2B2B2B;
	border:none;
	width:70%;
	height: 38px;
	color:#cccccc;
	font-size: 14px;
	text-align: center;
}
.buyBtn{
	clear: all;
	background-color: #2B2B2B;
	/*height:60px;*/
	padding: 13px 10px;
	text-align: center;
}
.buyBtn button{
	border:none;
	color:white;
}
#buy{
	background-color:#e9392a;
	margin-right: 5px;;
}
#sell{
	background-color:#16a951;
	margin-left: 5px;
}
#marketBuy{
		margin-right: 5px;;
	background-color:#e9392a;
	height: 40px;
	line-height: 28px;
}
#marketSell{
	margin-left: 5px;
	background-color:#16a951;
	height: 40px;
	line-height: 28px;
}
.Assets{
	width: 100%;
	height:40px;
	padding:4px 0px;
	border-bottom: 1px solid #454545;
}
.Assets p span{
	font-size: 12px;
	display: inline-block;
	width: 33.33%;
	text-align: center;
}
.Assets p{
	line-height: 16px;
}
.mainContent{
	background-color: #2B2B2B;
}
.YellowFont{
	color:#fcc900;
}
.ProductInformation{
	overflow: hidden;
	padding:3px 0px;
	color:#FFFFFF;
	border-bottom: 1px solid #454545;
}
.ProductInformationLeft,.ProductInformationRight{
	float: left;
	overflow: hidden;
	padding:0px 15px;
	width: 50%;
}
.ProductInformationLeft{
	padding:10px 15px;
}
.ProductInformationLeft p{
	font-size: 14px;
}
.ProductInformationRight{
	overflow: hidden;
}
.ProductInformationRight p{
	font-size: 12px;
	line-height: ;
}
.grayFont{
	color:#999999 !important;
}
.whiteFont{
	color:#FFFFFF !important;
}
.dataRight{
	display: block;
	float: right;

}
#buyFuture{
	border-bottom: 1px solid #454545;
}
#buyFuture label{
	color:#FFFFFF;
}
#buyFuture span{
	display: inline-block;
	width: 50%;
	height:40px;
	line-height: 40px;
	font-size: 12px;
	border-bottom: 1px solid #454545;
	padding:0px 15px;
	
}
#buyFuture .radioChoice{
	width: 25px;
	height:25px;
	display: table-cell;
	vertical-align: middle;
	color:#FFFFFF;
	margin-right: 15px;
}.buyBtnPrices{
	border-top: 1px solid #FFFFFF;
}
.listStyle {
	background-color: #2B2B2B;
	border:none;
	width: 100%;
	overflow-x: scroll;
	padding: 0px;
}
#item2,#item1,#item3,#item4{
	text-align: center;
}
.listStyle li{
	height:40px;
	text-align: left;
	border-bottom: 1px solid  #454545;
	line-height: 40px;
} 
.listStyle li  a{
	height:40px;
	width: 100%;
	display: inline-block;
	line-height: 40px;
	color:#CCCCCC;
	font-size: 12px;
	
}
.listStyle li a span{
	text-align: center;
	display: inline-block;
	width: 70px;
	height:40px;
	color:#CCCCCC;

}
#trade{
	background-color: #2B2B2B;
}
.mui-navigate-right:after, .mui-push-right:after{
	content:"";
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border:none;
}
#kilAnorder{
	background-color: #cccccc;
	border:none;
	margin-top: 30px;
}
/*.fisrtLi .mui-navigate-right span{
	display: inline-block;
	height:40px;;
	width: 120px;
	line-height: 10px;
	text-align: center;
	font-size: 12px;
	word-break: normal;
	color:#FFFFFF;
}*/

#allOpen,#Open{
	margin:0px 10px;
	background-color:#cccccc;
}
#Entrust{
	width: 100%;
}
/*#Entrust .mui-navigate-right span{
	width: 120px;
}
#Deal .mui-navigate-right span{
	width: 120px;
}*/
#sliderProgressBarQuotation{
	background-color: #fcc900;
}
.mui-control-item{
	color:#cccccc !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color:#fcc900 !important;
	border-bottom: 2px solid #fcc900 ;
}
.mui-control-item{
	color:#CCCCCC;
}

.operateLogin{
	background-color: #2B2B2B;
	border:none;
}
.blackBg{
	background-color: #2B2B2B;
}
.operateLogin label,input{
	display: inline-block;
}
.mui-input-group .mui-input-row{
	height: 50px;
}
.operateLogin label{
	color:#FFFFFF;
	height: 50px;
	line-height: 28px;
	width: 100px;
	font-size: 14px;
}
.operateLogin input{
	color:#656565;
	height: 50px;
	line-height: 30px;
	width: 110%;
	font-size: 12px;
}

.operateLogin button {
	background-color: #fcc900;
	border:none;
}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{
	border-radius: none !important;
	border-top-left-radius:none !important;
	border-top-right-radius:none !important;
}
.muiLine{
	width: 100%;
}
.link-area a{
	color:#FFFFFF;
	display: inline-block;
	}
.link-area a:nth-child(1){
	width: 40%;
}
.link-area a:nth-child(2){
	width: 60%;
}
.link-area	#regLogin{
	text-align: right;
}
.link-area a span{
	color:#FFCC33;
}
.productList {
	width: 100%;
	height: 500px;
	margin-top: 45px;
}
.productList span,.productList p{
	color:#FFFFFF;
}
.productList div{
	float: left;
}
.productContentLeft{
	height:50px;
	width: 25%;
	text-align: center;
	padding:13px 0px;
	font-size: 12px;
	line-height: 14px;
	color:#999999;
}
.CommodityNoName{
	color:#999999!important;
}
.productContentRight{
	height:50px;
	width: 75%;
	padding:15px 0px;
	text-align: center;
	line-height: 20px;
}
.productContentRight span{
	display: inline-block;
	width: 31%;
	text-align: center;
}
.redFont{
	color:#e9392a !important;
}
.redBg{
	margin: auto;
	width: 80%;
	height:20px;
	background-color: #e9392a;
}
.greenFont{
	color:#16a951!important;
}
.greenBg{
	margin: auto;
	width: 80%;
	height:20px;
	background-color: #16a951;
}
/*.liContent span {
	padding:0px 0px 15px 0px;
}*/
.dateTimeL{
		width: 115px !important;
}
.PositionLi{
	width: 410px;
}
.PositionLi a{
	width: 410px;
}
.Guadan{
	width:480px ;
}
.Guadan  a{
	width:480px ;
}
.EntrustOreder{
	width: 635px;
}
.EntrustOreder a{
	width: 635px;
}
.DealLi{
	width: 410px;
}
.DealLi  a{
	width:410px ;
}
input{
	text-align: center;
}
#fisrtLlist{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	position: fixed;
	top:45px;
	background-color: #2B2B2B;
}
#fisrtLlist span{
	display: inline-block;
	width: 25%;
	text-align: center;
}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{
	border-radius: 0px;
}
.toggleClassBack{
	background-color: #454545;
}
.mui-radio{
	display: inline-block;
	width: 49%;	
	font-size: 12px;
}
.butomBoreder{
	border-bottom: 1px solid #454545;
}
.mui-table-view-cell:after{
	content:none;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color:#FFCC33;
}
