@charset "utf-8";
/*学堂*/
.mui-bar .mui-title {height: 44px;}
.mui-segmented-control .mui-control-item {line-height: 35px;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {color: #fcc900; border-bottom: none;}
#school .mui-table-view-cell:after {left: 0;}
#school ul li img {position: absolute; height: 68px; width: 80px; max-width: 80px; right: 15px; top: 10px; border-radius: 4px;}
#school .mui-table-view-cell>a:not(.mui-btn) {height: 90px;}
#school .title {padding-right: 100px; height: 45px; color: #333333; font-size: 16px; overflow: hidden;}
#school .mui-table-view-cell>a:not(.mui-btn) {white-space: initial; text-overflow: initial;}
#school .signature {font-size: 12px; color: #999999; border-left: 3px solid #00a1f2; height: 13px; line-height: 13px; padding-left: 5px; width: 100%; margin-top: 10px;}
/*财经日历*/
.finance-time {margin-bottom: 0; font-size: 11px;color: #ffffff;background: #c9a100;text-align: center;height: 25px;line-height: 25px;}
#weekLis a {font-size: 9px;color: #666666;line-height: 20px;background: #f0f5f7;}
#weekLis a span{font-size: 15px;/*font-weight: bolder;*/}
#weekLis.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {color: #c9a100;}
.directSeed-calendar-all {position: fixed;background: #ffffff;z-index: 3; top: 44px;}
#finance {padding-top: 110px;background: #ffffff;}
#finance .finance-lis {height: 120px;}
#finance li .finance-left {float: left;text-align: center;height: 120px;border-bottom: 1px solid #ffffff;}
#finance li .overdue {background: #999999;}
#finance li .key {background: #c9a100;}
#finance li .commonly {background: #fcc900;}
#finance li .finance-left span {font-size: 15px;color: #ffffff;}
#finance li .finance-left .finance-hour {font-size: 13px;color: #ffffff;margin-top: 5px;}
#finance li .finance-left img {margin-top: 10px;}
#finance li .finance-right {float: left;height: 120px;border-bottom: 1px solid #e5e5e5;background: #ffffff;}
#finance .finance-stars {margin-top: 20px;}
#finance li .finance-right ul li {color: #666666;font-size: 11px;float: left;text-align: center;height: 25px;line-height: 25px;background: #f0f5f7;}
#finance li .finance-right ul li.on {color: #00a1f2;}
#finance li .finance-right .finance-right-title {font-size: 13px;color: #333333;padding: 0px 15px;overflow: hidden;text-overflow: ellipsis;height: 42px;}
#finance li .finance-right .finance-right-country {padding: 10px 0; padding-bottom: 0;}
#finance li .finance-right .finance-right-country img{height: 15px;margin-left: 15px;vertical-align: middle;}
#finance li .finance-right .finance-right-country span{font-size: 11px;color: #333333;height: 15px;line-height: 15px;display: inline-block;margin-left: 15px;}
#chartContainerContent .mui-table-view-chevron .mui-table-view-cell {padding-right: 0px;}
#chartContainerContent .mui-table-view-cell {padding: 0px;}
#chartContainerContent .mui-table-view:before {background-color: #ffffff;}
#chartContainerContent .mui-table-view-cell:after {background-color: #ffffff;}
#chartContainerContent .mui-table-view:after {background-color: #ffffff;}
#chartContainerContent .mui-pull-top-pocket {top: 90px;}
#chartContainer .mui-control-content {position: static;}
.mui-bar~.mui-pull-top-tips {z-index: 3;}
#directSeedCalendar {position: static;}
/*直播*/
.mui-content {background: #ffffff;}
.directSeed-tab {height: 44px;}
.directSeed-tab .directSeed-lis {float: left;height: 44px;}
/*.mui-bar .mui-title {left: 0;right: 0;}*/
/*.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {font-size: 13px;color: #333333;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {font-size: 13px;color: #ffffff;border-bottom: none;}*/
#directSeedSearch {float: right;right: 0px;top: 25px;font-size: 20px;width: 38px;height: 38px; color: #ffffff; position: absolute;}
#directSeedSearch:before {top: 10px;position: relative;}
#click-alert {height: 38px;width: 38px;display: inline-block;margin-top: 4px; position: absolute; left: 2px; color: #ffffff;}
#demo4 {height: 38px; width: 38px; display: inline-block; position: absolute; right: 0; top: 5px; color: #ffffff;}
.directSeed-inquire img {float: right;margin-right: 12px;margin-top: 14px;width: 14px;}
.directSeed-all {height: 40px;background: #ffffff;z-index: 3;width: 100%;position: fixed; top: 44px;}
.chartContainer-time {font-size: 13px;color: #999999;border-left: 5px solid #fcc900;height: 20px;line-height: 20px;padding-left: 10px;position: fixed;width: 100%;background: #ffffff;z-index: 1;margin-top: 10px;}
#chartContainerContent li {position: relative;overflow: hidden;}
#chartContainerContent li:last-child .content-right{border-left: 1px solid #ffffff;}
#chartContainerContent .content-left {position: absolute;font-size: 11px;color: #3285ea;width: 60px;padding-left: 15px;height: 16px;line-height: 16px;}
#chartContainerContent .content-circular {position: absolute;font-size: 11px;width: 15px;height: 15px;background: #fcc900;border-radius: 15px;left: 53px;}
#chartContainerContent .content-right {float: left; position: relative; font-size: 13px;color: #3285ea;margin-left: 60px;border-left: 1px solid #fcc900;padding-bottom: 10px;}
#chartContainerContent .content-right p {padding-left: 15px;padding-right: 15px;position: relative;top: -3px;color: #666;font-size: 13px;}
#chartContainerContent1 {padding-top: 84px; padding-bottom: 60px;}
#directSeedNews {position: static;}
#noSearchResultContainer {position: fixed;top: 35px;left: -85px;margin-left: 50%;margin-top: 50%;padding-top: 68px;height: 115px;width: 170px;color: #999999;font-size: 15px;line-height: 23px;text-align: center;background: url(../img/searchResult.png) no-repeat center top;background-size: 45px auto;}
.nodata {text-align: center;background-color: #efeff4; font-size: 15px;line-height: 40px;color: #777;position: absolute;width: 100%;}
/*弹出层*/
#chioceProfit ul li {float: left; margin: 8px 0; font-size: 13px; list-style-type: none;}
#chioceProfit ul li span {text-align: center; background: #f0f5f7; border-radius: 4px; width: 80%; display: inline-block; padding: 5px 0; margin-left: 10%;}
.buttonListLi {padding: 0;}
.buttonListLi p {margin-bottom: 0; text-align: center; font-size: 15px; color: #666666; height: 40px; line-height: 40px; border-bottom: 1px solid #efefef;}
#chioceProfit ul {display: inline-block; padding: 0 10px; margin-top: 10px; margin-bottom: 0;}
#chioceProfit ul li span.span-selected {color: #ffffff; background: #fcc900;}
/*资讯详情*/
.details {padding: 10px 15px; border-bottom: 1px solid #e5e5e5;}
.details .p1 {font-size: 17px; text-align: left; color: #333333; }
.details .p2 {font-size: 11px; color: #999999; margin-top: 10px; height: 12px; line-height: 12px; padding-left: 5px;}
.detailsContent {padding: 15px;}
.detailsContent p {font-size: 15px; color: #333333; line-height: 22px;}
.detailsMore {padding: 15px;}
.detailsMore .relevant {border-left: 2px solid #ffb319; height: 15px; line-height: 15px; padding-left: 5px; font-size: 15px; color: #333333;}
#information .mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn) {padding-right: 15px;}
#information .mui-table-view-cell p {height: 50px; color: #333333; font-size: 15px;}
#information .mui-table-view-cell span {color: #999999; font-size: 11px;} 
.caoz {padding-left: 15px; color: #fcc900;}
#chartContainerContentOne ,chartContainerContent1{background: #efeff4;}
#chioce {
    display: none;
    z-index: 100;
}
.own-topbg a img {
    width: 15px;
    margin-top: 10px;
}
.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}
.finance-uls {
	display: inline-block;
    width: 100%;
    padding-left: 0;
    margin-top: 1px;
}
.finance-uls li {list-style-type: none;}
.alertContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    display: none;
    z-index: 101;
}
.buttonListLi {
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #E5E5E5;
}
.popupButton {
    background: #fff;
    border-radius: 15px;
    font-size: 25px;
    margin-bottom: 10px;
    float: right;
    color: #999;
    position: absolute;
    right: 10px;
    top: 8px;
}
#chioceProfit .important li {
	margin: 0;
}
.confirmBottonProfit {
    width: 100%;
    border: none;
    float: left;
    height: 40px;
    padding: 0px;
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid #e5e5e5;
}
.cancelBottonProfit {
    width: 100%;
    border: none;
    float: left;
    height: 40px;
    padding: 0px;
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
}