*{
    margin: 0;
    padding: 0;
}
.evaluationBanner {
    background: url("../images/evaluation-banner.png") center no-repeat;
    width: 100%;
    height: 569px;
}
.evaluationCenter {
    background: #f9daa3;
    padding-bottom: 60px;
}
.evaluationCenter .content {
    width: 1010px;
    margin: 0 auto;
}
.evaluationCenter .contentBanner {
    background: url("../images/evaluation-5.png");
    width: 1010px;
    height: 715px;
}
.evaluationCenter .contentBanner p {
    font-size: 16px;
    color: #8d4b29;
    padding-left: 60px;
    width: 799px;
    line-height: 24px;
}
.evaluationCenter .contentBanner p a {
    color: #e2655e;
}
.evaluationCenter .contentBanner .title {
    text-align: center;
    padding: 30px 0;
}
.cp {
    text-align: center;
    margin-top: 50px;
}
.cp a {
    width: 260px;
    height: 40px;
    line-height: 40px;
    background: url("../images/evaluation-botton.png") no-repeat;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}
.cp a:hover {
    cursor: pointer;
    opacity: 0.9;
}
.footer {
    font-size: 14px;
    color: #ffffff;
    background: #e2655e;
    height: 80px;
    line-height: 80px;
    text-align: center;
}



