<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
    </encoder>
  </appender>
  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/WEB-INF/logs/main.log</File>
    <encoder>
      <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    
      <MaxHistory>50000</MaxHistory>
      <fileNamePattern>/WEB-INF/logs/main.log.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	      <MaxFileSize>50MB</MaxFileSize>
      </TimeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <logger name="jdbc.sqlonly" level="DEBUG"/>
  <logger name="jdbc.audit" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="jdbc.sqltiming" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="jdbc.resultset" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="stdout"/>
    <appender-ref ref="logfile"/>
  </root>
</configuration>



