<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	
	<!--token更新-->
	<bean id="refreshTokenTask" class="com.tzdr.cms.quartz.HundsunTokenRefresh"></bean>
	
	<task:scheduler id="refreshTokenScheduler" pool-size="5"/>
	<task:scheduled-tasks scheduler="refreshTokenScheduler">
		<task:scheduled ref="refreshTokenTask" method="executeRefreh" cron="0 15/30 * * * ?"/>
	</task:scheduled-tasks>
</beans>