/*  
 * @description: 页面css 
 * @author: WXF
 * @update: 2017-11-11 
 */

.main{
	max-width: 7.5rem;
	width: 7.5rem;
	height: auto;
	overflow: hidden;
	margin: auto;
	position: relative;
}
nav{
	width: 7.5rem;
	height: 1rem;
	overflow: hidden;
	background: #212121;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
}
nav li{
	float: left;
	width: 20%;
	text-align: center;
}
nav li.current span{
	color: #c78b42;
}
nav li .icon{
	display: block;
	width: 0.34rem;
	height: 0.34rem;
	background-size: 100% 100%;
	margin: 0.15rem auto 0.05rem auto;
}
nav li .icon_quote{
	background: url(../images/quote.png) no-repeat center center;
}
nav li .icon_trade{
	background: url(../images/trade.png) no-repeat center center;
}
nav li .icon_news{
	background: url(../images/news.png) no-repeat center center;
}
nav li .icon_circle{
	background: url(../images/circle.png) no-repeat center center;
}
nav li .icon_account{
	background: url(../images/account.png) no-repeat center center;
}
nav li.current .icon_quote{
	background: url(../images/quote_1.png) no-repeat center center;
}
nav li.current .icon_trade{
	background: url(../images/trade_1.png) no-repeat center center;
}
nav li.current .icon_news{
	background: url(../images/news_1.png) no-repeat center center;
}
nav li.current .icon_circle{
	background: url(../images/circle_1.png) no-repeat center center;
}
nav li.current .icon_account{
	background: url(../images/account_1.png) no-repeat center center;
}
/*****首页*****/
header{
	width: 7.5rem;
	height: 0.93rem;
	overflow: hidden;
	background: #111720;
	border-bottom: 0.02rem solid #000;
	position: fixed;
	top: 0;
	z-index: 2;
}
header h1{
	line-height: 0.93rem;
	text-align: center;
	font-size: 0.3rem;
}
.icon_search{
	width: 0.4rem;
	height: 0.4rem;
	background: url(../images/search.png) no-repeat center center;
	background-size: 100% 100%;
	position: fixed;
	top: 0.28rem;
	right: 0.28rem;
}
.icon_nav{
	width: 0.34rem;
	height: 0.26rem;
	background: url(../images/open.png) no-repeat center center;
	background-size: 100% 100%;
	position: fixed;
	top: 0.35rem;
	left: 0.28rem;
}
.box{
	width: 100%;
	height: auto;
}
.home .menu{
	position: fixed;
	top: 0.93rem;
	width: 7.5rem;
	height: 0.9rem;
	background: #111720;
	padding: 0 0.28rem;
}
.home .menu li{
	float: left;
	width: 0.65rem;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	margin-right: 0.9rem;
	position: relative;
}
.home .menu li span{
	font-size: 0.28rem;
}
.home .menu li.current span{
	color: #c78b42;
}
.home .menu li i{
	display: inline-block;
	width: 0.65rem;
	height: 0.08rem;
	background: #c78b42;
	border-radius: 0.08rem;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}
.home .menu li.current i{
	display: block;
}
.home .menu li:last-child{
	width: auto;
	margin-right: 0;
}
.home .cont{
	padding: 1.83rem 0 1rem 0;
	overflow-y: auto;
}
.home .cont .title{
	height: 0.64rem;
	line-height: 0.64rem;
	background: #111720;
	border-bottom: 0.01rem solid #000;
}
.home .cont .title span{
	float: left;
	display: inline-block;
	color: #878582;
	font-size: 0.28rem;
}
.home .cont .title span:first-child{
	width: 3.2rem;
	padding-left: 0.35rem;
	box-sizing: border-box;
}
.home .cont .title span:nth-child(2){
	width: 1.3rem;
	text-align: center;
}
.home .cont .title span:nth-child(3){
	float: right;
	margin-right: 0.6rem;
}
.home .cont li{
	height: 1.16rem;
	background: #111720;
	border-bottom: 0.01rem solid #000;
}
.home .cont li i{
	display: inline-block;
	width: 0.24rem;
	height: 0.24rem;
	line-height: 0.24rem;
	text-align: center;
	background: #8353d3;
	color: #000;
	font-size: 0.14rem;
	margin: 0.3rem 0.12rem 0 0;
}
.home .cont li i.blue{
	background: #0082ca;
}
.home .cont li i.red{
	background: #cc465f;
}
.home .cont li .order_name{
	width: 2.96rem;
}
.home .cont li .order_name span{
	display: block;
	color: #a6a5a4;
	font-size: 0.2rem;
}
.home .cont li .order_name span:first-child{
	margin-top: 0.23rem;
	font-size: 0.26rem;
	color: #fff;
}
.home .cont li .price{
	width: 2.28rem;
	font-size: 0.26rem;
	line-height: 1.16rem;
	font-weight: bold;
}
.home .cont li .change_rate{
	width: 1.64rem;
	height: 0.6rem;
	line-height: 0.6rem;
	overflow: hidden;
	text-align: center;
	color: #fff;
	border-radius: 0.05rem;
	margin: 0.28rem 0 0 0;
	font-size: 0.26rem;
	font-weight: bold;
}
.home .cont li .change_rate.green{
	color: #488c00;
}
.home .cont li .change_rate.red{
	color: #f4201f;
}
/*****交易*****/
.icon_msg{
	width: 0.4rem;
	height: 0.38rem;
	background: url(../images/msg.png) no-repeat center center;
	background-size: 100% 100%;
	position: absolute;
	top: 0.28rem;
	right: 0.28rem;
}
.trade .box{
	padding: 0.95rem 0 1rem 0;
}
.trade .box .step{
	width: 6.29rem;
	margin: 0.5rem auto 1rem auto;
}
.trade .box li{
	height: 0.8rem;
	margin-bottom: 0.75rem;
	padding-left: 0.92rem;
}
.trade .box li:nth-child(2){
	height: 0.87rem;
}
.trade .box li .icon{
	float: left;
	width: 0.8rem;
	height: 0.8rem;
	background-size: 100%;
}
.trade .box li .icon_1{
	background: url(../images/trade_07.png) no-repeat center center;
}
.trade .box li .icon_2{
	height: 0.87rem;
	background: url(../images/trade_08.png) no-repeat center center;
}
.trade .box li .icon_3{
	background: url(../images/trade_09.png) no-repeat center center;
}
.trade .box li .words{
	float: left;
	margin-left: 0.6rem;
}
.trade .box li .words p:first-child{
	color: #c78b42;
	font-size: 0.32rem;
	margin-bottom: 0.08rem;
}
.trade .box li .words p:last-child{
	color: #7b7b7b;
}
.trade .box button{
	width: 5.9rem;
	height: 0.9rem;
	line-height: 0.9rem;
	background: #dfc052;
	color: #121821;
	border: none;
	margin: 0.8rem 0.8rem 0 0.8rem;
}
.trade .box .go_login{
	text-align: center;
	color: #da9745;
	font-size: 0.3rem;
	margin-top: 0.46rem;
}
/*****圈子*****/
.circle .box{
	padding: 1.81rem 0 1rem 0;
}
.circle .menu{
	width: 7.5rem;
	height: 0.86rem;
	line-height: 0.86rem;
	background: #111720;
	position: fixed;
	top: 0.95rem;
	z-index: 2;
}
.circle .menu li{
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
}
.circle .menu li.current span{
	color: #f9ab4b;
}
.circle .menu li span{
	color: #a8a6a4;
	font-size: 0.3rem;
}
.circle .banner{
	width: 7.5rem;
	height: 2.92rem;
}
.circle .box .title{
	height: 0.88rem;
	padding: 0 0.25rem;
}
.circle .box .title h3{
	float: left;
	line-height: 0.88rem;
	color: #b0aeab;
}
.circle .box .title i{
	float: left;
	display: inline-block;
	width: 0.08rem;
	height: 0.3rem;
	background: #c78b42;
	border-radius: 0.08rem;
	margin: 0.29rem 0.2rem 0 0;
}
.circle .box .cont li{
	width: 7.5rem;
	height: auto;
	overflow: hidden;
	background: #171d27;
	padding: 0 0.25rem;
	margin-bottom: 0.15rem;
}
.circle .box .cont li h3{
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.28rem;
}
.circle .box .cont li p{
	color: #afada9;
	font-size: 0.2rem;
	line-height: 0.4rem;
	margin-bottom: 0.3rem;
	
}
.circle .box .cont li .mark{
	height: 0.8rem;
	float: right;
	margin-right: 0.1rem;
}
.circle .box .cont li .mark .icon_fabulous{
	width: 0.3rem;
	height: 0.3rem;
	background: url(../images/circle_06.png) no-repeat center center;
	background-size: 100% 100%;
	margin: 0.1rem 0.2rem 0 0.5rem;
}
.circle .box .cont li .mark .icon_comment{
	width: 0.29rem;
	height: 0.27rem;
	background: url(../images/circle_07.png) no-repeat center center;
	background-size: 100% 100%;
	margin: 0.1rem 0.2rem 0 0.3rem;
}
.circle .box .cont li .mark span, 
.circle .box .cont li .mark i{
	float: left;
	line-height: 0.5rem;
	color: #4e4f50;
}
.circle .box .cont li .mark img{
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.2rem;
}
.circle .box .cont li .mark .name{
	margin-right: 0.25rem;
}
/*****我的*****/
.account .box{
	padding: 0.95rem 0 1rem 0;
}
.icon_set{	
	width: 0.43rem;
	height: 0.39rem;
	background: url(../images/set.png) no-repeat center center;
	background-size: 100% 100%;
	position: fixed;
	top: 0.27rem;
	right: 0.27rem;
}
.account .login{
	overflow: hidden;
	background: #171d27;
}
.account .login img{
	width: 0.7rem;
	height: 0.7rem;
	margin: 0.45rem 0.22rem 0 0.22rem;
}
.account .login span{
	font-size: 0.3rem;
	color: #fff;
	margin-top: 0.6rem;
}
.icon_arrow{
	width: 0.19rem;
	height: 0.3rem;
	background: url(../images/arrow.png)no-repeat center center;
	background-size: 100% 100%;
	margin: 0.65rem 0.24rem 0 0;
}

.account .info{
	width: 7.5rem;
	height: 1.35rem;
	overflow: hidden;
	background: #171d27;
	margin-bottom: 0.15rem;
}
.account .info li{
	float: left;
	width: 25%;
	text-align: center;
}
.account .info li em{
	display: block;
	color: #b0afab;
	margin: 0.32rem 0 0.1rem 0;
}
.account .info li span{
	color: #b0afab;
}
.account .money{
	height: 1.02rem;
	background: #171d27;
	padding: 0 0.24rem 0 0.38rem;
	margin-bottom: 0.15rem;
}
.account .money span{
	line-height: 1.02rem;
	font-size: 0.28rem;
	color: #c3c0bc;
}
.account .money span:last-child{
	color: #c88d42;
}
.account .money .icon_arrow{
	margin: 0.34rem 0 0 0.24rem;
}
.account .money .icon_1{
	width: 0.41rem;
	height: 0.41rem;
	background: url(../images/account_02.png) no-repeat center center;
	background-size: 100% 100%;
	margin: 0.31rem 0.26rem 0 0;
}
.account .detail{
	width: 7.5rem;
	overflow: hidden;
	background: #171d27;
	padding: 0.75rem 0.38rem 0.5rem 0.38rem;
}
.account .detail li{
	float: left;
	width: 50%;
	height: 1.58rem;
}
.account .detail li span{
	float: left;
	color: #c3c0bc;
	font-size: 0.26rem;
}
.account .detail li .icon{
	float: left;
	width: 0.7rem;
	background-size: 100% 100%;
}
.account .detail li .icon_2{
	height: 0.4rem;
	background: url(../images/account_04.png) no-repeat center center;
}
.account .detail li .icon_3{
	height: 0.4rem;
	background: url(../images/account_03.png) no-repeat center center;
}
.account .detail li .icon_4{
	height: 0.4rem;
	background: url(../images/account_06.png) no-repeat center center;
}
.account .detail li .icon_5{
	height: 0.47rem;
	background: url(../images/account_05.png) no-repeat center center;
	margin-top: -0.05rem;
}
.account .detail li .icon_6{
	height: 0.44rem;
	background: url(../images/account_08.png) no-repeat center center;
}
.account .detail li .icon_7{
	height: 0.4rem;
	background: url(../images/account_07.png) no-repeat center center;
}
.account .detail li .icon_8{
	height: 0.45rem;
	background: url(../images/account_09.png) no-repeat center center;
}
/*****资讯*****/
.news .box{
	padding: 0.95rem 0 1rem 0;
}
.news .box_three{
	width: 7.5rem;
	overflow: hidden;
	margin-top: 0.35rem;
}
.news .box_three li{
	float: left;
	width: 33.3%;
	text-align: center;
}
.news .box_three li span{
	display: block;
	color: #bbb9b5;
	margin: 0.24rem 0 0.5rem 0;
}
.news .box_three li .icon{
	width: 0.72rem;
	height: 0.72rem;
	background-size: 100% 100%;
}
.news .box_three li .icon_news1{
	background: url(../images/news_02.png) no-repeat center center;
}
.news .box_three li .icon_news2{
	background: url(../images/news_03.png) no-repeat center center;
}
.news .box_three li .icon_news3{
	background: url(../images/news_04.png) no-repeat center center;
}
.news .box_three li .icon_news4{
	background: url(../images/news_05.png) no-repeat center center;
}
.news .box_three li .icon_news5{
	background: url(../images/news_06.png) no-repeat center center;
}
.news .box_three li .icon_news6{
	background: url(../images/news_07.png) no-repeat center center;
}
.news .box .list{
	overflow: hidden;
	background: #171d27;
}
.news .box .title{
	height: 1.4rem;
	overflow: hidden;
	padding: 0 0.25rem;
	background: #171d27;
}
.news .box .title span{
	float: left;
	line-height: 1.4rem;
	font-size: 0.3rem;
	color: #bbb9b5;
}
.news .box .title i{
	float: left;
	display: inline-block;
	width: 0.08rem;
	height: 0.3rem;
	background: #c78b42;
	border-radius: 0.08rem;
	margin: 0.57rem 0.2rem 0 0;
}
.news .hot{
	width: 7.5rem;
	overflow: hidden;
	padding: 0 0.12rem;
	margin-bottom: 0.4rem;
}
.news .hot li{
	float: left;
	width: 33.3%;
	text-align: center;
}
.news .hot li span{
	display: block;
	font-size: 0.26rem;
	color: #bbb9b5;
	margin-bottom: 0.15rem;
}
.news .hot li em{
	font-size: 0.26rem;
}
.news .hot li em.red{
	color: #ff201d;
}
.news .hot li em.green{
	color: #54a800;
}
.news .choose li{
	overflow: hidden;
	margin-bottom: 0.48rem;
	padding: 0 0.28rem;
}
.news .choose li .top{
	height: 0.48rem;
}
.news .choose li span{
	display: inline-block;
	float: left;
	color: #bbb9b5;
}
.news .choose li .top .name{
	width: 2.2rem;
	font-size: 0.28rem;
	color: #fff;
	margin: 0;
}
.news .choose li .top span{
	margin-right: 0.15rem;
	line-height: 0.38rem;
}
.news .choose li .bottom .rate{
	float: right;
	color: #54a800;
	margin-right: 0.2rem;
}
.news .choose li .bottom .icon_add{
	float: right;
	width: 0.35rem;
	height: 0.35rem;
	background: url(../images/add.png) no-repeat center center;
	background-size: 100% 100%;
}
