@charset "utf-8";
/*
 *发现
 * */
.size-11 {font-size: 11px; color: #999999;}
.find-tab img {width: 50px; height: 50px;}
.mui-content>.mui-table-view:first-child {margin-top: 0px;}
.mui-grid-view.mui-grid-9 {border-top: none;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {border-bottom: none; border-top: 1px solid #eee;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {padding: 11px 10px;}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {font-size: 13px; line-height: 13px; height: 13px; font-weight: bolder;}
/*.find-notice-all{border-top: 10px solid #F2F2F2; border-bottom: 10px solid #F2F2F2;}*/
.find-notice li a {font-size: 15px; color: #333333;}
.find-notice li p {font-size: 13px; color: #666666;}
.find-notice .mui-table-view-cell.mui-active {background-color: #fff;}
.find-notice .mui-table-view-cell.mui-active a {border-bottom: 1px solid #F2F2F2; border-top: 1px solid #F2F2F2;}
.find-notice .mui-table-view-cell:after {left: 0px;}
.find-notice.mui-table-view:before {background-color: #F2F2F2;}
.new {background: #f25749; color: #fff; border-radius: 4px; padding: 0px 5px; margin-left: 5px; font-size: 9px;}