/*
 *个人中心
 * */
@charset "utf-8";
.mui-grid-view.mui-grid-9 .mui-table-view-cell {padding: 0 10px;}
.find-tab img {width: 50px; height: 50px;}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {font-size: 13px; line-height: 16px; height: 15px; font-weight: bolder;}
.size-11 {font-size: 11px; color: #999999;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {border-bottom: none;}
.main-list .mui-table-view-cell {min-height: 60px; overflow: hidden; height: auto; position: relative; color: #999999;}
.main-list .mui-table-view-cell .title {/*width: 90%;*/ text-align: left; font-size: 15px; margin-left: 50px; color: #333333; font-weight: normal; height: 15px; line-height: 15px;}
.main-list .mui-table-view-cell .title .title_number {float: right; margin-right: 32px; font-size: 13px;}
.main-list .mui-table-view-cell .time .time_fd {float: right; margin-right: 32px; font-size: 13px;}
.main-list .mui-table-view-cell .title span {font-size: 12px; color: #999999; margin-left: 5px;}
.main-list .mui-table-view-cell .time {color: #666666; height: 34px; line-height: 34px; margin-left: 50px; font-size: 11px; white-space: normal; border-bottom: 1px solid #eee;}
.main-list .mui-table-view-cell label {width: 40px; height: 40px; position: absolute; vertical-align: middle; display: block; margin-top: auto; margin-bottom: auto; background: url(../img/home_list_1.png) no-repeat; text-align: center; padding: 5px; color: #fff;}
.main-list .mui-table-view-cell label .commodityNo {font-size: 12px; height: 12px; line-height: 12px; display: inline-block; float: left; text-align: center; width: 30px; margin-bottom: 2px; margin-top: 2px;}
.main-list .mui-table-view-cell label .commodityNo_name {font-size: 12px; height: 12px; line-height: 12px; display: inline-block; float: left; text-align: center; width: 30px;}
.main-list .mui-table-view-cell img {width: 40px; height: 40px; position: absolute; vertical-align: middle; display: block; margin-top: auto; margin-bottom: auto;}
.main-list .mui-table-view-cell>a:not(.mui-btn) {min-height: 60px; padding-right: 0px; /*margin-right: -50px;*/ padding-left: 15px;}
.main-list .mui-table-view-cell .mui-navigate-right {padding-bottom: 0px; padding-left: 0px; margin-left: 0px; padding-right: 15px; color: #999999; margin-right: 25px;}
.mui-table-view-cell:after {background-color: #fff;}
.find-tab .mui-table-view-cell {padding: 11px 0px;}
.home-about {height: 50px; background: #fff;}
.home-about ul {height: 50px; margin-bottom: 50px;}
.home-about ul li {float: left; text-align: center;}
.home-about ul li p {background: #cccccc; font-size: 11px; color: #fff; height: 26px; line-height: 26px; margin-top: 12px; width: 60%; margin-left: 20%; border-radius: 4px;}
.home-about ul li p button {height: 26px; line-height: 26px; width: 100%;}
.home-iphone {height: 40px; line-height: 40px; margin-bottom: 50px; text-align: center; font-size: 13px; color: #666666; position: relative; background: #ffffff; border-top: 1px solid #e4e3e6;}
#list {border-bottom: 10px solid #f2f2f2;}
.mui-bar a {display: inline-block; width: 40px; padding-right: 5px; height: 44px; line-height: 44px; text-align: right; font-size: 13px; color: #333333;}
.mui-bar a.right {position: absolute; right: 10px;}
#list .mui-table-view-cell {padding-left: 0px;}
.home-iphone .mui-table-view-cell {padding: 0;}
.home-iphone:after {background: none; width: 14px; left: 100%; margin-left: -28px; top: 13px;}
