@charset "utf-8";
/*底部开始*/
.navlist {bottom: 0; display: table; width: 100%; height: 50px; padding: 0; table-layout: fixed; border-top: 0; border-bottom: 0;-webkit-touch-callout: none; background: #ffffff;position: fixed;
  z-index: 55; right: 0; left: 0;backface-visibility: hidden;/*-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .7); box-shadow: 0 0 2px rgba(0, 0, 0, .7);*/}
.navlist a {display: table-cell; overflow: hidden; width: 1%; height: 50px; text-align: center; vertical-align: middle; white-space: nowrap;  text-overflow: ellipsis; color: #333333;background-color: #ffffff; border-top: 1px solid #e4e3e6;}
.navlist a.navon { color: #ffb319;}
.navlist a .mui-icon {top: 3px; width: 24px; height: 24px; padding-top: 0;  padding-bottom: 0;font-size: 24px; position: relative;  z-index: 20;}
.navlist .mui-icon~.mui-tab-label {
  font-size: 11px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*底部结束*/
