@charset "utf-8";
/*
 *维胜视点
 * */
#slider{top: 64px;}
#vsViewpoint ul li .mui-ellipsis {font-size: 15px; color: #333333; padding-bottom: 10px;}
#vsViewpoint ul li .time {font-size: 11px; color: #999999;}
#vsViewpoint .mui-table-view .mui-media-object.mui-pull-left {height: 20px; line-height: 20px; color: #ffb319;}
