body { background: #f2f2f2;}
#aboutHelp {width: 1280px; margin: 0 auto;}
#aboutHelp .aboutHelp_left {float: left; width: 240px; background: #fcfcfc; border-bottom: 2px solid #ccc; margin: 20px 10px 20px 0;}
#aboutHelp .aboutHelp_left ul li {border-bottom: 1px solid #f2f2f2; background: #fff;}
#aboutHelp .aboutHelp_left ul li a {height: 50px; line-height: 50px; font-size: 16px; color: #333; text-align: center; display: inline-block; width: 100%;}
#aboutHelp .aboutHelp_left ul li.on a {background: #ffb319;}
#aboutHelp .aboutHelp_left ul li:hover {background: #ffb319;}
.calendar {background: #fff; border-bottom: 2px solid #ffb725; vertical-align: middle; position: relative; height: 40px; line-height: 40px;}
.calendar span {margin-left: 10px; font-size: 16px;}
.calendar .icon {position: absolute; left: 0; top: 10px;}
#aboutHelp .aboutHelp_right {float: left; width: 1030px; border-bottom: 2px solid #ccc; margin: 20px 0;}
#aboutHelp .aboutHelp_right .p1 {border-bottom: 2px solid #ccc; height: 40px; line-height: 40px; background: #fff;}
#aboutHelp .aboutHelp_right .title_on .title {width: 120px; text-align: center; display: inline-block; border-right: 1px solid #f2f2f2; border-bottom: 2px solid #ccc; float: left; color: #333;}
#aboutHelp .aboutHelp_right .title_on .on {color: #ffb319; border-bottom: 2px solid #ffb319;}
#aboutHelp .aboutHelp_right .aboutHelp_title {height: 60px; line-height: 60px; text-align: center; font-size: 20px; color: #333; background: #fff; margin-top: 10px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding {padding: 20px; background: #fff; margin-top: 10px; font-size: 14px; color: #333;}
#aboutHelp .aboutHelp_right .aboutHelp_padding p {line-height: 26px; text-indent: 2em;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .ul1 li {margin: 8px 0;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .li1 {font-size: 16px; color: #ffb319;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .aboutHelp_lis_left {float: left; width: 50%; text-align: center; height: 150px; margin-top: 20px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .aboutHelp_lis_left h4 {text-align: center; height: 50px; line-height: 50px; color: #fc3; margin-bottom: 10px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .aboutHelp_lis_left h4 i {font-style: normal; background: url("../image/about_1.png") no-repeat; width: 60px; height: 50px; line-height: 50px; display: inline-block;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .aboutHelp_lis_left ul li {line-height: 26px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .img1 {width: 990px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .ul2 {margin-top: 20px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .ul2 li {border-bottom: 1px solid #e8e8e8; height: 40px; line-height: 40px; padding-left: 10px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .ul3 {padding-left: 10px; padding-top: 20px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .ul3 li {padding: 5px 0;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .li2 {font-size: 16px; color: #666;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .li3 span {vertical-align: middle; display: inline-block;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .ul4 .li1 {border-bottom: 1px solid #e8e8e8; height: 40px; line-height: 40px; padding-left: 30px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .ul4 .li4 {line-height: 24px; padding: 15px 0 15px 30px; color: #333; font-size: 14px;}
#aboutHelp .aboutHelp_right .operateCourse_all .title:hover {cursor: pointer;color: #ffb319; border-bottom: 2px solid #ffb319;}
#aboutHelp .aboutHelp_right .aboutHelp_padding .colorWidth {color: #999;}
#aboutHelp .aboutHelp_right .operateCourse_lis {display: none;}
#aboutHelp .aboutHelp_right .aboutHelp_padding table {width: 100%;}
#aboutHelp .aboutHelp_right .aboutHelp_padding table tr td {vertical-align: middle; height: 40px; line-height: 40px; border-bottom: 1px solid #e8e8e8;padding: 0 10px;}
#aboutHelp .aboutHelp_right .aboutHelp_padding table tr td.sp {padding: 5px 10px; line-height: 24px;}
#aboutHelp .noviceRead {width: 720px; margin: 0 auto;}
#aboutHelp .noviceRead .noviceRead_title span {font-size: 14px; color: #ffb319; background: #333; padding: 0 6px; margin-right: 5px;}
#aboutHelp .noviceRead .noviceRead_title {margin-bottom: 10px; display: inline-block; font-size: 16px; color: #333;}
#aboutHelp .noviceRead .noviceRead_1 {padding: 10px 0;}
#aboutHelp .noviceRead .bz table tr.beij {background: #f2f2f2;}
#aboutHelp .noviceRead .bz table tr td {text-align: center; font-size: 14px color: #333;}
#aboutHelp .noviceRead .bz table .th td {font-size: 16px; color: #ffb319;}
#aboutHelp .noviceRead .wanzuan a {display: inline-block; width: 120px; height: 30px; line-height: 30px; text-align: center; background: #ffb319; color: #333; margin: 0 37px; border-radius: 4px;}
#aboutHelp .noviceRead .wanzuan a:hover {background: #eca419;}
/*帮助中心 */
#aboutHelp .helpCenter .helpCenter_lis {display: none;}
#aboutHelp .helpCenter_all .title:hover {cursor: pointer; color: #ffb319; border-bottom: 2px solid #ffb319;}
#aboutHelp .helpCenter .helpCenter_problem {}





