body { background: #f2f2f2;}

#aboutHelp {width: 1280px; margin: 0 auto;}

#aboutHelp .aboutHelp_left {    

    float: left;

    width: 240px;

    background: #fcfcfc;

    border-bottom: 2px solid #ccc;

    border-right: 10px solid #f2f2f2;

    padding-bottom: 9999px;

    margin-bottom: -9999px;

}

.calendar {border-bottom: 2px solid #ffb725; vertical-align: middle; position: relative; height: 40px; line-height: 40px;}

.calendar span {margin-left: 10px; font-size: 16px;}

.calendar .icon {position: absolute; left: 0; top: 10px;}

#aboutHelp .aboutHelp_right {    

    float: left;

    width: 1030px;

    background: #fff;

}

/* 手风琴开始 */

.list{width : 240px;}

.list ul{list-style: none;}

.list>ul>li{

    width        : 100%;

    border-bottom: 1px solid #f2f2f2;

    /*-webkit-transition: .3s ease;

    -moz-transition: .3s ease;

    -o-transition: .3s ease;

            transition: .3s ease;*/

}

.list>ul>li p[class=title]{

    /*text-align: center;*/

    background: #fff;

    height: 50px;

    line-height: 50px;

    padding: 0;

    border: none;

    position: relative;

    font-size: 16px;

    padding-left: 10px;

}

.list>ul>li p[class=title]:hover {cursor: pointer;}

.list>ul>li p[class=title]>span{position: absolute; right: 10%; color: #ffb319;}

.list-se{overflow: hidden; display: none;}

.list-se>p{background: #fff; color: #333; font-size: 16px;}

.list-se>li{

    position: relative;

    /*right   : -100%;*/

    /*-webkit-transition: right .5s;

    -moz-transition   : right .5s;

    -o-transition     : right .5s;

    transition        : right .5s;*/

}

.list-se>li>p{

    background: #fff;

    color: #333;

    font-size: 14px;

    height: 40px;

    line-height : 40px;

    padding-left: 20px;

    /*border-left : 5px solid #3b3b3b;*/

    /*-webkit-box-sizing :border-box;

            box-sizing :border-box;*/

    /*-webkit-transition   : border .5s;

             transition  : border .5s;

    -webkit-transition   : background .3s;

             transition  : background .3s;*/

}

.list-se>li>p.on{background: #ffb319;}

.list-se>li>p:hover{background: #ffb319; cursor: pointer;/*border-color: #EE4977;*/ }

/* 手风琴结束 */

#aboutHelp .aboutHelp_right .title {height: 50px; line-height: 50px; text-align: center; font-size: 20px; color: #333; font-weight: bolder; border-bottom: 1px dashed #e6e6e6;}

#aboutHelp .aboutHelp_right .content {padding: 10px 20px;}

#aboutHelp .aboutHelp_right .content .p1{line-height: 30px; font-size: 14px;}

#aboutHelp .aboutHelp_right .content .p2{line-height: 30px; font-size: 14px; color: #ffb319;}

#aboutHelp .aboutHelp_right .content .p3{line-height: 30px; font-size: 14px;}

#aboutHelp .aboutHelp_right .content .p4{height: 50px; line-height: 50px; font-size: 16px; text-align: center; font-weight: bolder; margin-top: 20px;}

#aboutHelp .aboutHelp_right .content .p5{font-size: 16px; height: 40px; line-height: 40px;}

#aboutHelp .help_introduce tr td {border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; padding: 10px 20px; line-height: 24px;}

#aboutHelp .help_introduce table {border-top: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6;}

#aboutHelp .aboutHelp_right .tab_lis {display: none;}

.aboutHelpAll {

    background: #fff;

    overflow: hidden;

    margin-top: 10px;

    margin-bottom: 20px;

}