@charset "utf-8";

* {

    margin: 0;

    padding: 0;

}

body{

    width: 100%;

    margin: 0px;

    padding: 0px;

    height: auto;

    font-family: "微软雅黑","Microsoft YaHei",sans-serif;

}

input {

    font-family: "Microsoft YaHei",sans-serif;

}

a{

    color: #ffffff;

}

ul,li{

    list-style-type: none;

}

.backgroundColor{

    background-color: #333333;

}

.yellowFont{

    color:#ffb319 !important;

}

img{

    border:0px;

}

a{

    color:#ffffff;

    text-decoration: none;

}



.fontActive {

    color: #ffb319 !important;

}

.greenFont {

    color: #30bf30;

}

.redFont {

    color: #ff4040;

}

.grayColor {

    color: #666666;

}

.grayColor9 {

    color: #999999;

}

.blackFont3 {

    color: #333333!important;

}

.marginTop {

    margin-top: 10px;

}

.clickLiColor {

    background-color: #f2f2f2;

}

.newTitleActiveColor {

    color: #ffb725;

}

.blueFont {

    color: #19b2ff !important;

}

.blockDiv {

    display: block;

}

