.coupon_record {border-top: 10px solid #f2f2f2; background: #fff; padding: 0 20px; border-bottom: 1px solid #e8e8e8;}
.coupon_record ul {display: inline-block; height: 40px; line-height: 40px; padding: 0 10px;}
.coupon_record ul li { float: left;}
.coupon_record .coupon_title {font-size: 16px; color: #333;}
.coupon_record .coupon_lis {font-size: 14px; color: #666; border-top: 1px solid #e8e8e8;}
.coupon_record .coupon_voucher {width: 140px;}
.coupon_record .coupon_type {width: 160px;}
.coupon_record .coupon_start_time {width: 180px;}
.coupon_record .coupon_end_time {width: 240px;}
.coupon_record .coupon_source {width: 180px;}
.coupon_record .coupon_state {width: 70px;}
.coupon_record .coupon_state .state_success {color: #19b2ff;}
.coupon_record .coupon_voucher .use {color: #fff; text-align: center; line-height: 30px;margin-top: 7px;background: url("../image/coupon_voucher.png") no-repeat; display: inline-block; width: 60px; height: 30px;}
.coupon_record .coupon_voucher .noUse {text-align: center; line-height: 30px; margin-top: 7px; background: url("../image/coupon_voucher_on.png") no-repeat; display: inline-block; width: 60px; height: 30px;}
.coupon_prompt {background: #fff; border-top: 1px solid #e8e8e8;}
.reminder {color: #666; font-size: 14px; padding: 30px;}
.reminder .reminder_p1{font-size: 20px; color: #333; margin-bottom: 10px;}
.reminder p{margin: 5px 0;}


