.drawmoney {}
.drawmoney .drawmoney_tab {display: none;}
.drawmoney .btn {width: 202px; height: 40px; line-height: 40px; text-align: center; display: inline-block; background: #ffb319; font-size: 16px; color: #333; border-radius: 4px;}
.uc_centerRight .title_on .title:hover {cursor: pointer;}
/*.uc_centerRight .title_on a { font-size: 16px; float: right; margin-right: 20px;}*/
.drawmoney_management {border-top: 10px solid #f2f2f2;}
.drawmoney_management .management_1 {background: #fff; font-size: 14px; color: #666; height: 40px; line-height: 40px; padding-left: 30px; border-bottom: 1px solid #f2f2f2;}
.drawmoney_management .management_1 a {color: #19b2ff;}
.drawmoney_management .management_2 {background: #fff; font-size: 16px; color: #333; height: 80px; line-height: 80px; padding-left: 30px;}
.drawmoney_management .management_2 .money_draw {font-size: 24px; color: #ffb319;}
.drawmoney_management .management_2 i {color: #ffb319; font-style: normal;}
.drawmoney_management .management_2 .prompter {color: #666;}
.drawmoney_management .management_center {background: #fff; margin-top: 10px;}
.drawmoney_management .management_center .management_left {float: left; width: 515px;}
.drawmoney .name {width: 80px; height: 46px; line-height: 46px; display: inline-block; font-size: 16px; color: #333; margin-left: 30px;}
.drawmoney input {width: 190px; height: 38px; line-height: 38px; border: 1px solid #e6e6e6; border-radius: 4px; outline: none; padding-left: 10px;}
.drawmoney_management .management_center .management_left .p2 {margin: 25px 0;}
.drawmoney_management .management_center .management_left .drawmoney_demo {width: 200px; height: 150px; background: #fff; left: 110px; top: 43px;}
.demo .box {width: 180px;}
.drawmoney_management .management_center .management_left .p2 .span1 {position: relative; left: -25px; color: #666;}
.drawmoney_management .management_center .management_left .p2 .management_password {color: #19b2ff; font-size: 14px; margin-left: 10px;}
.drawmoney_management .management_center .management_left .p2 .pay_drawmoney {margin-top: 20px; width: 202px; height: 40px; line-height: 40px; text-align: center; display: inline-block; background: #ffb319; font-size: 16px; color: #333; border-radius: 4px;}
.drawmoney_management .management_center .management_right {float: left; width: 464px; padding: 37px 20px 40px 30px; border-left: 1px solid #e6e6e6;}
.drawmoney_management .management_center .management_right .management_p1 {color: #333; font-size: 16px; margin-bottom: 15px;}
.drawmoney_management .management_center .management_right .management_p2 {color: #666; font-size: 14px; line-height: 24px;}
.drawmoney_management .management_center .management_right div {border-bottom: 1px solid #ccc; margin-bottom: 30px; padding-bottom: 30px;}
.drawmoney .drawmoney_back {background: #fff; border-top: 10px solid #f2f2f2; padding-bottom: 40px;}
.drawmoney .drawmoney_back .back_p {height: 40px; line-height: 40px; border-bottom: 1px solid #f2f2f2; padding: 0 20px; font-size: 16px; color: #19b2ff;}
.drawmoney .drawmoney_back .bind_back .back_all ul {padding: 10px; display: inline-block;}
.drawmoney .drawmoney_back .bind_back .back_all ul li {float: left; width: 200px; height: 100px; border: 1px solid #ccc; margin: 10px;}
.drawmoney .drawmoney_back .add_back {clear: both;}
.drawmoney .drawmoney_back .add_back .back_xx .p2 {padding: 15px 0;}
.drawmoney .drawmoney_back .add_back .span3 {color: #19b2ff; font-size: 14px; margin-left: 20px;}
.drawmoney .drawmoney_back .add_back .drawmoney_demo {width: 200px; height: 150px; background: #fff; left: 110px; top: 43px;}
.drawmoney .drawmoney_record {padding: 0 20px; background: #fff; border-bottom: 1px solid #e8e8e8;}
.drawmoney .drawmoney_record .record_title {font-size: 16px; color: #333;}
.drawmoney .drawmoney_record .record_time {width: 360px; }
.drawmoney .drawmoney_record .record_back {width: 300px;}
.drawmoney .drawmoney_record .record_money {width: 200px}
.drawmoney .drawmoney_record .record_state {width: 110px;}
.drawmoney .drawmoney_record .state_success {color: #19b2ff;}
.drawmoney .drawmoney_record .state_error {color: #333;}
.drawmoney .drawmoney_record .record_lis {font-size: 14px; color: #666; border-top: 1px solid #e8e8e8;}
.drawmoney .drawmoney_record ul {display: inline-block; height: 40px; line-height: 40px; padding: 0 10px;}
.drawmoney .drawmoney_record ul li {float: left;}



