#financeSummaryDetails {width: 1280px; margin: 0 auto; padding-bottom: 36px;}
#financeSummaryDetails .financeSummaryDetails_left {float: left; width: 720px; margin-top: 10px; margin-bottom: 20px;}
#financeSummaryDetails .calendar {background: #fff; margin-top: 10px; border-bottom: 2px solid #ffb725; vertical-align: middle; position: relative; height: 40px; line-height: 40px;}
#financeSummaryDetails .calendar span {margin-left: 10px; font-size: 16px;}
#financeSummaryDetails .calendar .icon {position: absolute; left: 0; top: 10px;}
#financeSummaryDetails .center {border-bottom: 1px solid #e6e6e6;}
#financeSummaryDetails .center .p1 {font-size: 24px; color: #333; padding: 20px 0; font-weight: bolder;}
#financeSummaryDetails .center .p2 {font-size: 14px; color: #999; padding: 10px 0; border-bottom: 1px solid #e6e6e6;}
#financeSummaryDetails .center .p3 {font-size: 16px; color: #666; line-height: 30px; padding: 15px 0;}
#financeSummaryDetails .center .p4 {font-size: 14px; color: #999; text-align: right; padding: 10px 0;}
#financeSummaryDetails .center .p4 span {margin-left: 20px;}
#financeSummaryDetails .center .p4 span {margin-left: 20px;}
#financeSummaryDetails .financeSummaryDetails_right {margin-top: 10px; float: left; width: 362px; margin-left: 198px; color: #666; font-size: 14px;}
#financeSummaryDetails .financeSummaryDetails_right .right_center {padding: 10px; background: #fff; border-bottom: 1px solid #e7e7e7;}
#financeSummaryDetails .financeSummaryDetails_right .right_center span {padding-left: 4px; color: #fff; display: inline-block; background: url("../image/icon-time.png") no-repeat; width: 50px; height: 20px;}
#financeSummaryDetails .financeSummaryDetails_right .right_center p {font-size: 14px; color: #666; line-height: 22px; margin-top: 10px;}


