.uc_centerRight .title_on a{color: #19b2ff; font-size: 14px; float: right; margin-right: 20px;}
.newsNotice .newsNotice_record {border-top: 10px solid #f2f2f2; background: #fff; padding: 0 20px; border-bottom: 1px solid #e8e8e8;}
.newsNotice .newsNotice_record p {height: 80px; line-height: 80px; border-bottom: 1px solid #e8e8e8; font-size: 14px; color: #333;}
.newsNotice .newsNotice_record p span {float: right; color: #999;}
.newsNotice .newsNotice_record p span a {color: #19b2ff; margin-left: 20px;}














