#personalCenter .uc_center {background: #fff; border-top: 10px solid #f2f2f2;}
#personalCenter .uc_center .p2 {height: 40px; line-height: 40px; border-bottom: 1px solid #f2f2f2; padding: 0 20px 0 30px; font-size: 16px; color: #333;}
#personalCenter .uc_center .p2 ul {float: right;}
#personalCenter .uc_center .p2 ul li {float: left;}
#personalCenter .uc_center .p2 ul li img {position: relative; top: 2px; margin-left: 20px;}
#personalCenter .uc_center .p3 {padding: 0 20px 0 30px; font-size: 16px; color: #333; height: 80px; line-height: 80px; width: 650px;}
#personalCenter .uc_center .p3 .money {color: #ffb319; font-size: 24px;}
#personalCenter .uc_center .p3 i {font-size: 16px; font-style: normal;}
#personalCenter .uc_center .p3 a {width: 90px; height: 30px; line-height: 30px; float: right; font-size: 16px; text-align: center; border-radius: 4px; margin: 25px 10px;}
#personalCenter .uc_center .p3 a.extract {color: #333; background: #ccc;}
#personalCenter .uc_center .p3 a.recharge {color: #333; background: #ffb319;}
#personalCenter .uc_center .p3 a.recharge:hover {background: #f5aa19; cursor: pointer;}
#personalCenter .uc_center .p3 a.extract:hover {background: #c0c0c0; cursor: pointer;}
#personalCenter .uc_center .xq {padding: 10px 20px 10px 30px; color: #333; background: #fff;}
#personalCenter .uc_center .xq ul {float: left; width: 180px; height: 110px; padding: 10px 0;}
#personalCenter .uc_center .xq ul li{margin-top: 20px;}
#personalCenter .uc_center .xq ul .lis {color: #666;}
#personalCenter .uc_center .xq ul img {position: relative; top: 3px;}

