<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	default-lazy-init="true">

	<description>Olog</description>
	<aop:config>
		<aop:aspect id="ologAspect" ref="ologControllerAdvice">
			<!-- 拦截Spring3 MVC的Controller -->
			<aop:pointcut id="spring3Mvc" expression="execution(* com.tzdr.cms.controller.*Controller+.*(..)) &amp;&amp; @annotation(org.springframework.web.bind.annotation.RequestMapping)" />
			<aop:around method="interceptOlog" pointcut-ref="spring3Mvc" />
		</aop:aspect>
	</aop:config>
	<bean id="ologManager" class="com.tzdr.olog.OlogManagerDatabase" />
	<bean id="ologControllerAdvice" class="com.tzdr.olog.aop.OlogControllerAdvice">
		<property name="ologManager" ref="ologManager" />
		<!-- 模块名称映射( url或功能 到 模块名称的映射，一般在安全框架的权限或资源管理中有该对应关系) -->
		<property name="moduleNameMappingFactory" ref="moduleNameMappingFactory" />
		<!-- 是否需要记录参数 -->
		<property name="needRecordParameter" value="true" />
		<!-- 忽略的参数 ，多个使用逗号分割，可以使用前或后匹配的* -->
		<property name="ignoreParameters" value="ec*,autoInc,submit" />
		<!-- 忽略的方法,多个使用逗号分割 -->
		<property name="ignoreMethods" value="index,create,edit,authorisedMenus,portallets" />
		<!-- 忽略的Controllers,controller全路径，多个使用逗号分割 -->
		<property name="ignoreClasses" value="com.tzdr.olog.db.web.OlogManageController" />
		<!-- 定义常规的拦截方法名称的动作名称映射管理，也可以通过在方法体上使用annotation指定 -->
		<property name="methodNamesMapping">
			<map>
				<entry key="list" value="分页查询" />
				<entry key="query" value="条件查询" />
				<entry key="save" value="新增" />
				<entry key="update" value="修改" />
				<entry key="show" value="查看/详情" />
				<entry key="get" value="查看/详情" />
				<entry key="remove" value="删除" />
				<entry key="removes" value="批量删除" />
				<entry key="listJson" value="分页查询" />
				<entry key="queryJson" value="条件查询" />
				<entry key="saveJson" value="新增" />
				<entry key="updateJson" value="修改" />
				<entry key="showJson" value="查看/详情" />
				<entry key="deleteJson" value="删除" />
				<entry key="importJson" value="导入" />
				<entry key="imports" value="导入" />
				<entry key="exports" value="导出" />
				<entry key="exportXls" value="导出EXCEL" />
				<entry key="exportCsv" value="导出CSV" />
				<entry key="importXls" value="导入EXCEL" />
				<entry key="importCsv" value="导入CSV" />
			</map>
		</property>
	</bean>

	<!-- 模块名称映射数据库实现（使用安全框架的资源管理进行映射） -->
	<bean id="moduleNameMappingFactory" class="com.tzdr.olog.aop.ModuleNameMappingResourceFactory" />

	<!-- olog归档 -->
	<bean id="archiveManager" class="com.tzdr.olog.archive.ArchiveManagerDatabase">
		<property name="ologManager" ref="ologManager" />
		<!-- 存储根目录可选使用JVM系统变量和物理路径. 默认存在在webapp下的/WEB-INF/logs/archive目录 -->
		<property name="storageRoot" value="/WEB-INF/logs/archive" />
		<!-- 按天设定每次归档的数据访问（多少天前的数据需要归档） -->
		<property name="archivebeforeDays" value="0" />
		<!-- 归档完成后是否清除已归档的数据 -->
		<property name="archiveCleanup" value="true" />
		<!-- 归档文件前缀,组件会在后面自动加上："_yyyyMMdd.log" -->
		<property name="archiveFileNamePrefix" value="Olog_archive" />
		<!-- 归档文件的编码 -->
		<property name="archiveEncoding" value="UTF-8" />
		<!-- 为防止OR-MAPPING一次抓取过的数据到服务器内存，采用分页多次抓取，该参数为每次抓取的行数 -->
		<property name="batchSize" value="100" />
		<!-- 归档文件是否需要压缩（如果压缩后，则替换原来的文本文件） -->
		<property name="archiveCompress" value="true" />
	</bean>

	<!-- 定时归档,使用Spring Scheduled 集群可能有问题
	<task:scheduler id="archiveScheduler" pool-size="2" />
	<task:scheduled-tasks scheduler="archiveScheduler">
		<task:scheduled ref="archiveManager" method="archive" cron="0 1 0 1 * ?" />
	</task:scheduled-tasks>
	-->


</beans>