/* 维胜资讯 */
.information-img {width: 100%; position: relative; height: 360px; background: url("../images/information-top.png") center center;}
.information-content {width: 100%; position: relative; height: 360px; background: #dcefff;}
.information-content .information-center {width: 1000px; margin: 0 auto; height: 360px; text-align: center;}
.information-content .information-center .fl {float: left; width: 220px; height: 280px; margin: 40px 15px; background: url("../images/information-icon.png") 0px 0px;}
.information-content .information-center .fl p {color: #dcefff; font-size: 20px; margin-top: 47px;}
.information-content .information-center .fl ul {margin-top: 50px;}
.information-content .information-center .fl ul li {margin-top: 10px; color: #1e2878; font-size: 16px;}
.information-concern {background: #c2e3ff; width: 100%; height: 240px;}
.information-concern .concern-center {width: 1000px; margin: 0 auto; height: 240px; text-align: center;}
.information-concern .concern-center ul {float: left; width: 250px; height: 240px; text-align: center; color: #1e2878; font-size: 16px;}
.information-concern .concern-center .weixin {background: url("../images/information-icon.png") -271px 0px; width: 120px; height: 120px; margin-left: 65px; margin-top: 50px;}
.information-concern .concern-center .app {background: url("../images/information-icon.png") -430px 0px; width: 120px; height: 120px; margin-left: 65px; margin-top: 50px;}
.information-concern .concern-center .furx {font-size: 20px; margin-top: 50px;}
.information-concern .concern-center ul li {margin-bottom: 15px;}
.information-footer {width: 100%; height: 100px; line-height: 100px; text-align: center; background: #111744; color: #6b7cff; font-size: 14px;}
/* 客服 */
#kefu {display: none;width: 360px; height: 190px; background: #ffffff; position: fixed; top: 50%; left: 50%; margin-top: -95px; margin-left: -180px;}
#kefu .close {background: url("../images/information-icon.png") 2px -297px;; width: 31px; height: 31px;display: inline-block; float: right;}
#kefu .close:hover {cursor: pointer;}
#kefu .ry {background: url("../images/information-icon.png") -72px -287px; width: 40px; height: 45px;display: inline-block; float: left;}
#kefu p {width: 340px; margin: 50px auto 0; color: #1e2878;}
#kefu .lx {border-top: 1px solid #cccccc; padding: 10px; margin-top: 36px;}
#kefu .lx input {width: 270px; border: 1px solid #c2e3ff; background: #c2e3ff; outline: none; padding: 10px 0 10px 10px;}  
#kefu ::-webkit-input-placeholder { /* WebKit browsers */ color: #1e2878; } 
#kefu :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #1e2878; } 
#kefu ::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #1e2878; } 
#kefu :-ms-input-placeholder { /* Internet Explorer 10+ */ color: #1e2878; }   
#kefu .lx span{width: 40px;padding: 9px 3px; display: inline-block; float: right; text-align: center; color: #dcefff; background: #111744;}
