#noviceIntroduction h3{
	width: 100%;
	text-align: center;
	line-height: 35px;
}
#noviceIntroduction h4{
	padding: 0px 15px;
	text-align: left;
	line-height: 30px;
}
#noviceIntroduction{
	text-align: center;
}
#noviceIntroduction p{
	padding: 0px 15px;
	text-align: left;
}
#noviceIntroduction img{
	width: 50%;
	height: auto;
}
.mui-bar-nav .mui-title{
	color:#000000;
}
