<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	
	<!--token更新-->
	<!-- <bean id="apiRefreshTokenTask" class="com.tzdr.api.support.ApiHundsunTokenRefresh"></bean>
	
	<task:scheduler id="apiRefreshTokenScheduler" pool-size="5"/>
	<task:scheduled-tasks scheduler="apiRefreshTokenScheduler">
		<task:scheduled ref="apiRefreshTokenTask" method="executeRefreh" cron="0 15/30 * * * ?"/>
	</task:scheduled-tasks> -->
	
	<!-- 清除注册短信发送超过次数的手机号 -->
	<bean id="clearTimesnTask" class="com.tzdr.api.support.ClearRegistMsgMaxTimesTask"></bean>
	<task:scheduler id="clearTimesnTaskScheduler" pool-size="5"/>
	<task:scheduled-tasks scheduler="clearTimesnTaskScheduler">
		<task:scheduled ref="clearTimesnTask" method="executeClear" cron="0 1 0 * * ?"/>
	</task:scheduled-tasks>
</beans>