@charset "utf-8";
/* CSS Document */
*{ margin:0;padding:0;border:0;font-size:0;}
body{font-family:'微软雅黑'; background: #fff;background:url(../image/bg.png)}
.tp_main1 { margin: 0; font-size: 0; width: 100%; overflow: hidden; position: relative;height:168px;min-width:1000px}
.tp_main1 img { width: 1920px; height: 168px; position: absolute; top: 0; left: 50%; margin-left: -960px;}
.xu{background:url(../image/xu.png);height:5px;margin-top:20px}
.tp_main2{width:1030px;height:532px;margin:auto}
.tp_main2 h3{color:#f75429;font-size:32px;text-align:center;line-height:126px;}
.tp_main2 .way{margin:15px 15px;width:1030px}
.tp_main2 img{margin-right:28px}
.tp_main2 h4{color:#481312;font-size:28px;font-weight:normal;width:425px;height:99px;background:#ffe433;border-radius:10px;border-bottom:5px solid #e79700;text-align:center;line-height:99px;margin:50px 304px}
.big_main3{width: 100%;height:158px;background:#f5f5f5}
.tp_main3{width:1030px;height:158px;margin:auto;padding-top:25px}
.tp_main3 .special{margin-left: 20px;width:1100px}
.tp_main3 img{margin-right:33px;}
.tp_main4{width:1030px;height:598px;margin:auto}
.tp_main4 h3{color:#f75429;font-size:32px;text-align:center;line-height:126px;}
.tp_main4 .step{width:1100px;margin:5px 15px}
.tp_main4 span{color:#525252;font-size:18px;display:inline-block;width:120px;margin-left:10px;vertical-align:5px;margin-right:100px}
.tp_main4 .content{width:1000px;height:350px;background:#f5f5f5;margin:38px 15px}
.tp_main4 .content .content1{height:350px;width:500px;border-right:1px solid white;float:left}
.tp_main4 .content .content2{height:350px;width:498px;border-left:1px solid white;float:right}
.tp_main4 .content h3{color:#f75429;font-size:28px;font-weight:normal;margin-bottom:-18px}
.tp_main4 .content p{color:#f75429;font-size:16px;width:450px;line-height:24px;margin-bottom:22px;margin-left:20px}
.tp_main4 .content p em{color:#f75429;font-size:40px;font-style:normal;vertical-align:-8px;margin-right:-8px}
.tp_main5{width:1030px;height:377px;margin:auto}
.tp_main5 h3{color:#f75429;font-size:32px;text-align:center;line-height:126px;}
.tp_main5 .download{width:1200px;margin:0px 20px}
.tp_main5 .erweima{float:left;margin-right:66px;margin-bottom:50px}
.tp_main5 .erweima p{color:#525252;font-size:18px;font-weight:bold}
.tp_main5 .erweima img{margin-top:5px}
.tp_main5 p{color:#f75429;font-size:18px;text-align:center;}
.tp_foot {  width: 100%; height: 50px; line-height: 50px; background: #3b3b3b; text-align: center; font-size: 14px; color: #b2b2b2;}


