body { font-family: 'microsoft yahei', tahoma, arial; background: #f5f5f5;}
*{ margin: 0; padding: 0; font-size: 0;}

header { min-width: 300px; height: 22.5px; padding: 8px 10px; overflow: hidden; margin: 0 auto; max-width: 640px; }
.hd_logo { width: 82.5px; height: 22.5px; float: left;}
.hd_logo img { width: 82.5px; height: 22.5px; }
header a { display: block; width: 79px; height: 21.5px; float: right; background: url(../images/wapcn/btn.gif) no-repeat; background-size: 100%; }
.banner { min-width: 320px; height: auto; margin: 0 auto; max-width: 640px }
.banner img { width: 100%; height: auto;}
.content { min-width: 280px; height: auto; padding: 0 20px; margin: 0 auto; padding-bottom: 80px; max-width: 600px;}
.cn_ip { width: 100%; height: auto; overflow: hidden; position: relative; }
/*.cn_ip input { display: block; float: left; width: 210px; height: 42px; padding:0 34px 1px; background: url(../images/wapcn/ip.gif) no-repeat; background-size: 100%; border:none; outline: none; margin: 10px 0; font-size: 16px; color: #444; font-family: "黑体"; }
.cn_ip a { display: block; width: 132.5px; height: 41px; float: left; }*/
.cn_ip input { display: block; float: left; border:none; outline: none; margin: 10px 0; font-size: 16px; color: rgb(151,147,147); font-family: "黑体"; width: 70%; border:1px solid #cfcfcf; border-radius: 4px; padding: 14px 14%; }
.cn_ip_icon { width: 18px; height: 30px; display: block; position: absolute; top: 18%; left: 5% }
.cn_ip a { display: block; width: 50%; height: auto; float: left; text-align: right;  }
.cn_ip a.space { text-align: left;}
.cn_ip a img { width: 95%; height: auto;}
.cn_pic { width: 100%; height: auto; margin: 20px 0 0;}
.cn_pic img { width: 100%;}
footer { width: 100%; height: auto; background: #fff; position: fixed; left: 0; bottom: 0; }
footer a { display: block; height: auto; margin: 10px auto; text-align: center; max-width: 640px;  }
footer a img { width: 90%;}