@charset "utf-8";
/* CSS Document */
* { margin:0;padding:0;border:0;}
body {font-family:'微软雅黑'; background: #fff;}
ul,li,ol,i,em { font-style: normal; list-style: none;}
 a{text-decoration:none;}

.top {
	width: 100%;
	height: 39px;
	background: url(../images/common/topbg.gif) repeat-x;
	border-bottom: 1px solid #c2c1c2;
	min-width:1400px;
}
.topctn {
	width: 1000px;
	height: 39px;
	margin: 0 auto;
}
.topctn ul {
	float: right;
	width: auto;
	height: 22px;
	background: url(../images/common/icon_01.gif) no-repeat left center;
	padding: 10px 0 7px 20px;
	overflow: hidden;
}
.topctn ul li {
	display: block;
	width: auto;
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 0 12px;
	border-right: 1px solid #595c5e;
	margin: 4px 0;
}
.topctn ul li.last {
	border-right: none;
}
.topctn ul li a {
	font-size: 12px;
	color: #595c5e;
}
.nav {
	width: 1000px;
	height: 86px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.navlogo {
	width: 205px;
	height: 70px;
	float: left;
	margin-top: 6px;
}
.navtel {
	position: absolute;
	width: 240px;
	height: 40px;
	right: 0;
	top: 6px;
}
.navtel p {
	width: 215px;
	height: 22px;
	padding-left: 25px;
	background: url(../images/common/icon_02.gif) no-repeat;
	font-size: 13px;
	color: #656b6f;
}
.navtel p i {
	font-size: 20px;
	color: #595c5e;
	vertical-align: middle;
}
.navtel span {
	display: block;
	width: 145px;
	height: 18px;
	line-height: 18px;
	text-align: left;
	font-size: 14px;
	color: #595c5e;
	padding-left: 90px;
	margin-top: 2px;
}
.navlist {
	width: auto;
	height: 20px;
	overflow: hidden;
	float: right;
	margin-top: 54px;
}
.navlist li {
	display: block;
	float: left;
	width: auto;
	height: 20px;
	line-height: 20px;
	margin: 0 27px;
}
.navlist li a {
	font-size: 16px;
	color: #444;
}
.navlist li a:hover,.navlist li a.on {
	color: #778cb9;
}
.copyright {
	width: 100%;
	height: 340px;
	background: url(../images/common/btnbg.gif) repeat-x #eae9e9; 
	min-width:1400px;
}
.cpctn {
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.cp_list {
	width: 110px;
	height: auto;
	float: left;
	padding-right: 50px;
	margin-top: 15px;
}
.cp_list li {
	display: block;
	width: 110px;
	height: 29px;
	line-height: 29px;
}
.cp_list li,.cp_list a {
	font-size: 14px;
	color: #6a6a6a;
}
.cp_sina,.cp_wx {
	width: 100px;
	height: auto;
	float: left;
	margin-top: 20px;
}
.cp_sina h3 {
	width: 78px;
	height: 16px;
	line-height: 16px;
	padding-left: 22px;
	background: url(../images/common/icon_03.gif) no-repeat left center;
	text-align: left;
	font-size: 14px;
	color: #6a6a6a;
	font-weight: normal;
	margin-bottom: 15px;
}
.cp_wx {
	margin-left: 135px;
}
.cp_wx h3 {width: 78px;
	height: 16px;
	line-height: 16px;
	padding-left: 22px;
	background: url(../images/common/icon_04.gif) no-repeat left center;
	text-align: left;
	font-size: 14px;
	color: #6a6a6a;
	font-weight: normal;
	margin-bottom: 15px;
	
}
.cp_hot {
	width: 225px;
	height: auto;
	float: left;
	margin-left: 105px;
	margin-top: 20px;
}
.cp_hot h3 {
	width: 100%;
	height: 16px;
	line-height: 16px;
	text-align: left;
	font-size: 14px;
	color: #6a6a6a;
	font-weight: normal;
	padding-bottom: 10px;
}
.cp_hot p {
	width: 170px;
	height: 44px;
	padding: 0 0 0 55px;
	margin-top: 8px;
}
.cp_hotphone {
	background: url(../images/common/icon_05.gif) no-repeat left center;
	height: 44px;
	line-height: 44px;
	font-size: 24px;
	color: #6a6a6a;
}
.cp_hotqq {
	background: url(../images/common/icon_06.gif) no-repeat left center;
	font-size: 12px;
	color: #6a6a6a;
	line-height: 22px;
}
.cp_copyright {
	width: 1000px;
	height: auto;
	border-bottom: 1px solid #c5c4c4;
	margin: 10px auto 0;
	padding-bottom: 5px;
}
.cp_copyright div {
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #6a6a6a;
}
.cp_copyright div a {
	color: #6a6a6a;
	font-size: 14px;
	padding-right: 20px;
}
.cp_copyright p {
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #6a6a6a;
	font-size: 12px;
}
.cp_img {
	width: 640px;
	height: 50px;
	margin: 20px auto;
}
.cp_img img {
	margin: 0 13px;
	vertical-align: middle;
}
.floatlayer {
	width: 1000px;
	height: 0;
	margin: 0 auto;
	font-size: 0;
	position: relative;
	z-index:50;
}
.fl_server {
	width: 54px;
	height: auto;
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.fl_server a {
	display: block;
	margin-top: 10px;
}
.fl_mask {
	width: 100%;
	height: 1000px;
	position: fixed;
	top: 0;	
	left:0;		  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 10;
}