@charset "utf-8";
/* CSS Document */

body,p,a,span,font,input {margin:0px; padding:0px; border:0px;}
li,ul { list-style:none;margin:0px; padding:0px; border:0px;}
em { font-style:normal;}
body {background:#f1f1f1;}

.tips_out{width:100%;background-color:#fffdf6;}
.tips {width:1080px; height:auto; margin:0px auto;}
.tips .close {width:16px; height:16px; background:url(../images/home-new/close.gif) no-repeat; float:right; cursor:pointer;}
.tips .main {width:1075px; padding:5px 10px;font-size:12px;color:red;margin-left:-8px;padding-bottom:11px}
.tips .main p{line-height:24px;text-indent:3.5em;margin-top:5px}
header {background:url(../images/home-new/head_top.gif) repeat-x; font-family:"微软雅黑"; width:100%;}
header .top {height:37px; width:1080px; overflow:hidden; clear:both; font-size:14px; margin:0px auto;}
header .salogan {float:left; color:#808080; line-height:36px;}
header .top p {float:right;color:#808080; line-height:36px;}
header .top p a {color:#808080; padding:0px 16px;}
header .top p a:link,header .top p a:visited { text-decoration:none;}
header .top p a:hover,header .top p a:active { text-decoration:underline;}
header .top p span {background:url(../images/home-new/phone.png) no-repeat -2px -4px ; line-height:18px; padding-left:22px; margin-left:11px; display:inline-block;}
header .top p font {color:#f60;}
header .main { margin:0px auto; height:84px; width:1080px;}
header .main .logo {float:left;width:185px; height:62px; margin-top:15px;margin-left:-10px}
header .main .logo a {background:url(../images/home-new/logo.png) no-repeat; display:block; width:152px; height:52px;}
header .main nav {float:right; overflow:hidden; margin-top:22px;}
header .main nav a {display:block; height:36px; float:right; color:#4c4c4c; font-size:16px; padding:0px 20px; border-radius:3px; line-height:36px; text-decoration:none; margin:0px 5px;}
header .main nav .cur,header .main nav a:hover,header .main nav a:active {background-color:#ff524f; color:#fff;}

.p1 {background:#f1f1f1; padding-top:8px;}
.p1 .pic {width:1080px; margin:0px auto; height:350px; position:relative;}
.p1 .pic .tu {width:1080px; height:350px; overflow:hidden; position:relative;}
.p1 .pic .tu img {width:1080px; height:350px;}
.p1 .pic .tu a { display:block; width:1080px; heigth:350px; position:absolute; left:0; top：0；}
.p1 .pic .shu {position:absolute; top:290px; left:50%;z-index:10; margin-left:-100px;}
.p1 .pic .shu span { background:url(../images/home-new/shu.png); display:block; border-radius:15px; width:30px; height:30px; line-height:30px; text-align:center; float:left; margin:3px;}
.p1 .pic .shu span a {background:url(../images/home-new/shu.png); display:block; border-radius:10px; width:20px; height:20px; line-height:20px; text-align:center; font-size:12px; text-decoration:none; margin:5px 0px 0px 5px; color:#fff; font-family:"微软雅黑";}
.p1 .pic .shu span .cur,.p1 .pic .shu span a:hover,.p1 .pic .shu span a:active {background:url(../images/home-new/shu1.png); color:#f5474d;}

.p1 .login {width:276px; height:318px; background:url(../images/home-new/shu.png); border-radius:3px; position:absolute; left:775px; top:15px; font-family:"微软雅黑";}
.p1 .login .main {background:url(../images/home-new/lg_btn.png) repeat; width:250px; height:282px; margin:18px 0 0 13px; border-radius:1px;}
.p1 .login .main .t1 {font-size:18px; color:212121; border-bottom:1px dashed #939598; height:56px; line-height:70px; width:222px; margin:0px 14px;}
.p1 .login .main .uname {margin:14px 15px 8px 15px; width:180px; background:url(../images/home-new/uname.png) no-repeat 12px 9px #fff; outline:none; height:35px; *line-height:35px; line-height:35px\0; border-radius:3px; padding-left:40px; font-size:14px; color:#333;}
.p1 .login .main .key {margin:14px 15px 8px 15px; width:180px; background:url(../images/home-new/key.png) no-repeat 12px 9px #fff; outline:none; height:35px; *line-height:35px; line-height:35px\0; border-radius:3px; padding-left:40px; font-size:14px; color:#333;}
.p1 .login .main .fr {height:45px; width:220px; padding:0px 15px; font-size:14px; line-height:24px;}
.p1 .login .main .fr span {float:left;}
.p1 .login .main .fr span a {color:#727272; text-decoration:none;}
.p1 .login .main .fr font {float:right;}
.p1 .login .main .fr font a {color:#ff524f; text-decoration:none;}
.p1 .login .main .bot {width:216px; height:35px; margin:12px 17px; line-height:35px; text-align:center; font-size:16px; color:#fff; background:#ff524f; border-radius:3px; outline:none; cursor:pointer;}
.p1 .login .main .bot:hover { background:#e83330; }
.p1 .afterlogin {width:276px; height:318px; background:url(../images/home-new/shu.png); border-radius:3px; position:absolute; left:775px; top:15px; font-family:"微软雅黑";}
.p1 .afterlogin .main {background:#fdd7d8; width:250px; height:282px; margin:18px 0 0 13px; border-radius:1px;}
.p1 .afterlogin .main .t1 {font-size:12px; color:#212121; border-bottom:1px dashed #939598; height:56px; line-height:65px; width:222px; margin:0px 14px;padding-left:4px}
.p1 .afterlogin .main .t1 a{color:#212121;text-decoration:none;float:right;}
.p1 .afterlogin .main .t1 a:hover{text-decoration:underline}
.p1 .afterlogin .mainCenter{margin:30px 40px;}
.p1 .afterlogin .main .t2{font-size:14px;margin-top:26px}
.p1 .afterlogin .main .t3{margin:31px -22px}
.p1 .afterlogin .main .t3 a { display:block;line-height: 35px; text-align: center; font-size: 16px; color: #fff; background: #ff524f;border-radius: 3px;text-decoration: none;}
.p1 .afterlogin .main .t3 a:hover { background:#e83330;text-decoration: none;}
.p1 .afterlogin .mainTime{margin-top:-19px}
.p1 .afterlogin .mainTime .t4{font-size:12px;text-align:center;margin-bottom:5px}

.p21 {margin:12px auto 0px auto; width:1080px; height:364px; overflow:hidden; clear:both;}
.p21 .try {background:url(../images/home-new/try1.png) no-repeat; width:224px; padding:55px 52px 0px 52px; height:309px; float:left; margin-right:15px;}
.p21 .try p {text-indent:2em; color:#232323; font-size:14px; margin-top:30px; font-family:"微软雅黑"; line-height: 24px;}
.p21 .try a {background:url(../images/home-new/try_a1.png) no-repeat; width:200px; height:42px; margin-top:19px; display:block;}
.p21 .try a:hover { background:url(../images/home-new/try_a1hover.gif) no-repeat; }
.p21 .main {float:left; width:735px; height:358px; border:1px solid #e5e5e5; border-right:none; margin-top:4px; background:#fff;}
.p21 .main .youshi {width:736px; height:177px;border-bottom:1px solid #e5e5e5; clear:both;}
.p21 .main .youshi ul {width:183px; float:left; border-right:1px solid #e5e5e5; height:177px;}
.p21 .main .youshi ul .tu {width:42px; height:45px; text-align:center; margin-top:43px; margin-left:69px;}
.p21 .main .youshi ul .hei {width:183px; text-align:center; font-size:14px; color:#232323; line-height:36px; font-family:"微软雅黑";}
.p21 .main .youshi ul .xiao {width:183px; text-align:center; font-size:12px; color:#a9a9a9; line-height:24px;}
.p21 .main .ruijian {height:180px;width:720px; padding-left:15px; border-right:1px solid #e5e5e5;}
.p21 .main .ruijian .tui {color:#232323; font-size:16px; font-family:"微软雅黑"; margin-top:26px;}
.p21 .main .ruijian .tui img { vertical-align:-20%;}
.p21 .main .ruijian .shengqin {margin-top:45px;}
.p21 .main .ruijian .shengqin .cao {background:url(../images/home-new/money.gif) no-repeat; line-height:18px; padding-left:24px; font-size:14px; display:inline-block;}
.p21 .main .ruijian .shengqin .bei {background:url(../images/home-new/gan.gif) no-repeat; line-height:18px; padding-left:24px; font-size:14px; display:inline-block;}
.p21 .main .ruijian .shengqin .tian {background:url(../images/home-new/time.gif) no-repeat; line-height:18px; padding-left:24px; font-size:14px; display:inline-block;}
.p21 .main .ruijian .shengqin em {font-size:40px; color:#f00; font-style:normal; font-family:Arial, Helvetica, sans-serif; margin:0px 5px;}
.p21 .main .ruijian .shengqin font {font-size:20px; color:#f00; margin-right:18px; font-family:"微软雅黑";}
.p21 .main .ruijian .shengqin a {background:url(../images/home-new/jian.gif) no-repeat; width:135px; height:42px; display:inline-block; vertical-align:-50%; margin-left:30px;}
.p21 .main .ruijian .shengqin a:hover { background:url(../images/home-new/jianhover.gif) no-repeat;}

.p22 {margin:12px auto 0px auto; width:1080px; height:245px; overflow:hidden; clear:both;}
.p22 .try {background:url(../images/home-new/try2.png) no-repeat; width:224px; padding:55px 52px 0px 52px; height:196px; float:left; margin-right:15px;}
.p22 .try p {text-indent:2em; color:#232323; font-size:14px; font-family:"微软雅黑";width:220px;line-height:23px}
#p1{ margin-top:35px;}
.p22 .main {float:left; width:735px; height:245px; border:1px solid #e5e5e5;  margin-top:4px; background:#fff;}
.p22 .main .youshi {width:736px; height:177px;clear:both;}
.p22 .main .youshi ul {width:183px; float:left; border-right:1px solid #e5e5e5; height:50px;margin-top:100px}
#noBorderUl{border-right:none;}
.p22 .main .youshi ul .tu {width:42px; height:45px; text-align:center; margin-top:-20px; margin-left:69px;}
.p22 .main .youshi ul .hei {width:183px; text-align:center; font-size:14px; color:#232323; line-height:36px; font-family:"微软雅黑";}
.p22 .main .youshi ul .xiao {width:183px; text-align:center; font-size:12px; color:#a9a9a9; line-height:24px;}
.p22 .main .youshi ul a{background:url(../images/home-new/try_a2.png) no-repeat; width:135px; height:42px; display:inline-block; margin-left:-14px}
.p22 .main .youshi ul a:hover { background:url(../images/home-new/try_a2hover.gif) no-repeat; }

.p3 {width:1040px; height:148px; margin:0px auto; background:#fff; margin-top:17px; border:1px solid #e5e5e5; padding-left:38px; overflow:hidden;}
.p3 .main {width:160px; height:148px; float:left; padding-left:100px; font-family:"微软雅黑";}
.p3 .zj {background:url(../images/home-new/zj.gif) no-repeat 0 30px;}
.p3 .jy {background:url(../images/home-new/jy.gif) no-repeat 0 30px;}
.p3 .fk {background:url(../images/home-new/fk.gif) no-repeat 0 30px;}
.p3 .ms {background:url(../images/home-new/ms.gif) no-repeat 0 30px;}
.p3 .main .t1 {margin-top:43px; margin-bottom:10px; font-size:16px; color:#232323;}
.p3 .main .t2 {line-height:18px;font-size:12px; color:#999;}

.flink {width:1078px; height:70px; margin:0px auto; background:#fff; margin-top:17px; border:1px solid #e5e5e5; overflow:hidden;}
.flink span {display:inline-block; padding-left:40px; font-size:20px; color:#6F6F6F;font-weight:bolder; font-family:"微软雅黑"; padding-right:50px;padding-top:20px}
.flink ul{margin-left:170px;margin-top:-27px}
.flink ul li{float:left;margin-right:40px}
.flink ul li a{cursor:text; }
.main_link { width:1080px; background:#fff; margin:20px auto 0; font-size:12px; padding:20px 0; color:#232323;}
.main_link a { color:#232323;text-decoration: none; padding-right:20px;}
.main_link span { padding-left:40px;}
footer {background:#3b3b3b; height:50px; margin-top:17px;clear:both}
footer p {width:1080px; line-height:50px; text-align:center; color:#b2b2b2; font-size:14px; font-family:"微软雅黑"; margin:0px auto;}