@charset "utf-8";
/* CSS Document */

body,p,a,span,font,input {margin:0px; padding:0px; border:0px;}
li,ul { list-style:none;margin:0px; padding:0px; border:0px;}

body {background:#f1f1f1;}


header {background:url(../images/qa/head_top.gif) repeat-x; font-family:"微软雅黑"; width:100%;}
header .top {height:37px; width:1080px; overflow:hidden; clear:both; font-size:14px; margin:0px auto;}
header .salogan {float:left; color:#808080; line-height:36px;}
header .top p {float:right;color:#808080; line-height:36px;}
header .top p a {color:#808080; padding:0px 16px;}
header .top p a:link,header .top p a:visited { text-decoration:none;}
header .top p a:hover,header .top p a:active { text-decoration:underline;}
header .top p span {background:url(../images/qa/phone.png) no-repeat -2px -4px ; line-height:18px; padding-left:22px; margin-left:11px; display:inline-block;}
header .top p font {color:#f60;}
header .main { margin:0px auto; height:84px; width:1080px;}
header .main .logo {float:left;width:185px; height:62px; margin-top:15px;margin-left:-10px}
header .main .logo a {background:url(../images/qa/logo.png) no-repeat; display:block; width:152px; height:52px;}
header .main nav {float:right; overflow:hidden; margin-top:22px;}
header .main nav a {display:block; height:36px; float:right; color:#4c4c4c; font-size:16px; padding:0px 20px; border-radius:3px; line-height:36px; text-decoration:none; margin:0px 5px;}
header .main nav .cur,header .main nav a:hover,header .main nav a:active {background-color:#ff524f; color:#fff;}


/*软件下载*/
.content {margin:13px auto; width:1080px; overflow:hidden; clear:both;background:white;;border:1px solid #E5E5E5;}
.content .nav{width:1002px;height:58px;border-bottom:2px solid #E5E5E5;margin:0px 39px}
.content .nav ul{ overflow:hidden;}
.content .nav ul li{float:left;display:block; height:58px; line-height:58px;}
.content .nav ul li a{text-decoration:none;font-size:21px;color:#999999;font-weight:bold;padding-right:25px;padding-left:25px; height:58px; line-height:58px;}
.content #nowA{color:#FF524F !important}
.content #nowLi{border-bottom:3px solid #FF524F;position:relative}
.content #nowLi img{position:absolute;left:50%; margin-left:-5px; bottom:0px;}
.contentDownload{width:1002px;height:171px;margin:0px 39px;border-bottom:1px solid #E5E5E5;border-bottom-style:dashed;clear:both}
.contentDownload h3{font-size:16px;margin:34px 7px;margin-bottom:19px}
.contentDownload p{font-size:14px;text-indent:2em;line-height:32px;margin-left:-23px}
.contentDownload a{color:#3D9FE1;text-decoration:none}
.contentDownload a:hover{text-decoration:underline}
.contentDownload1{float:left;margin-left:-39px}
.contentDownload1 img{margin:12px 47px}
.content  #w8Img{margin:17px 40px}
.content  #lastImg{margin:43px 48px}
.contentDownload2{float:left;margin:-14px -26px;}
#w82{margin:-14px -12px;}
#lastContentDownload2{margin:-14px -29px;}
#lastContentDownload2 p{margin-top:-10px;}
#lastContentDownload{height:190px}
.contentIntorduce{width:1010px;margin:0px 39px;clear:both}
.contentIntorduce1{width:320px;float:left;margin:34px 12px 56px 0px}
.contentIntorduce1 p{border:1px solid #E5E5E5;font-size:14px;text-indent:2em;padding:20px;line-height:35px;margin-top:13px;height:168px}
#firstContentIntorduce1{margin-left:8px}


/*常见问答*/
.contentAnswer {margin:13px auto; width:1080px; overflow:hidden; clear:both;background:white;;border:1px solid #E5E5E5;}
.contentAnswer .nav{width:1002px;height:58px;border-bottom:2px solid #E5E5E5;margin:0px 39px}
.contentAnswer .nav ul{overflow: hidden;}
.contentAnswer .nav ul li{float:left;height: 58px;line-height: 58px;}
.contentAnswer .nav ul li a{text-decoration:none;font-size:21px;color:#999999;font-weight:bold;padding-right:25px;padding-left:25px}
.contentAnswer #nowA{color:#FF524F !important}
.contentAnswer #nowLi{border-bottom:3px solid #FF524F;position:relative}
.contentAnswer #nowLi img{position:absolute;left: 50%; margin-left: -5px; bottom: 0px;}
.contentAnswer #h31{margin:20px 7px 9px;font-weight:normal;font-size:14px;color:#3D9FE1;}
.contentAnswer p{font-size:14px;text-indent:2em;line-height:32px;margin-left:6px;width:980px}
.contentAnswer1{width:1002px;margin:0px 39px;padding-bottom:26px}
.contentAnswer h3{margin:20px 7px 9px;font-weight:normal;font-size:14px;color:#3D9FE1;}
.contentAnswer #lastP{margin-bottom:50px}
footer {background:#3b3b3b; height:50px; margin-top:45px;clear:both}
footer p {width:1080px; line-height:50px; text-align:center; color:#b2b2b2; font-size:14px; font-family:"微软雅黑"; margin:0px auto;}