@charset "utf-8;";
*{margin: 0;padding: 0; font-family: "微软雅黑";}
#old {background: #ffbb33;}
#old .old_content {width: 1000px; margin: 0 auto;}
#old .old_content .p1 {font-size: 36px; color: #1a0800; height: 110px; line-height: 110px; font-weight: bolder; text-align: center;}
#old .old_top {width: 100%; position: relative; height: 360px; background: url("../images/old_1.jpg") center center; border-bottom: 20px solid #1a0800;}
#old .old_content .p2 {margin-bottom: 10px; margin-top: 30px; background: url("../images/old_2.jpg"); width: 110px; padding-left: 10px; height: 40px; line-height: 40px; color: #ffbb33; font-size: 20px;}
#old .old_content p {color: #1a0800; font-size: 16px; line-height: 30px;}
#old .old_content .p4 span {float: left; width: 65px; height: 50px;}
#old .old_footer .footer_img {margin-top: 60px; width: 100%; position: relative; height: 60px; background: url("../images/old_3.jpg") center center;}
#old .old_footer p {font-size: 12px; color: #ffbb33; text-align: center; height: 60px; background: #1a0800; line-height: 60px;}















