@charset "utf-8";
/* CSS Document */
body,p,a,span,font,input {margin:0px; padding:0px; border:0px; font-family:"微软雅黑";}
li,ul { list-style:none;margin:0px; padding:0px; border:0px;}
.header {width:739px; height:42px;margin:20px auto;overflow:hidden }
.header ul{}
.header li{float:left;margin-right:13px}
.header #a1{background:url(../images/login/new_logo.png);display:block;width:104px;height:40px;margin-top:2px;cursor: text;}
.header #a2{background:url(../images/login/logo2.jpg);display:block;width:108px;height:33px;margin-top:5px}
.header li p{ width:1px; height:32px; background:#ccc; margin:8px 0 0 0;}
.header li h3{font-size: 28px;color: #333; margin: 7px 0 0 0;font-weight: normal;height: 33px;line-height: 33px;}
#rightP{font-size:14px;float:right;padding-top:20px}
#rightP a{color:#60ABE3;text-decoration:none}
#rightP a:hover{text-decoration:underline}
.lg_promt { width:741px; font-size:12px;margin:10px auto 0;text-align:left;text-indent:3.3em;line-height:24px;color:#fff;height:24px;background:#FA8C34;}
/*注册*/
.register {border:1px solid #CCCCCC;width:739px; margin:0px auto; height:560px; clear:both;}
.register h3{font-weight:normal;border-bottom:2px solid #FA8C34;padding-bottom:7px;width:661px;margin-left:39px;margin-top:37px}
.register form{margin:54px 147px}
.register input{height:32px;width:258px;border:1px solid #C5C5C5;border-radius:3px;color:#BEBEBE;font-size:12px;margin-bottom:30px;margin-left:18px;padding-left:10px}
.register #phone{background:url(../images/login/phone.png) no-repeat 245px 3px}
.register #checkPhone{width:151px}
.register #password,.register #checkPassword{background:url(../images/login/password.png) no-repeat 245px 7px}
.register p{font-size:14px;width:550px;color:#545454;overflow:hidden;}
.register #shortP{margin-left:30px}
.register p em{font-style:normal;color:red;margin-right:10px}
.register #firstSpan{display:inline-block;width:152px;height:32px;border:1px solid #178E30;color:#178E30;text-align:center;line-height:32px;margin-left:11px;background:#D7EEDB;font-size:12px}
.register #secondSpan{display:inline-block;width:141px;height:32px;border:1px solid #FF4D4D;color:#FF4D4D;text-align:center;line-height:32px;margin-left:11px;background:#FFE4E5;font-size:12px}
.register #huoqu1{display:inline-block;width:103px;height:34px;background:#5AA8FA;color:white;line-height:32px;text-align:center;border-radius:3px;margin-left:4px;text-decoration:none}
.register #huoqu1:hover{background:#2C84E0}
.register #huoqu2{display:inline-block;width:103px;height:34px;background:#999999;color:white;line-height:32px;text-align:center;border-radius:3px;margin-left:4px;text-decoration:none}
.register form a img{margin-left:90px}
.register #checkbox{position:relative;padding-left:30px;margin-left:80px;margin-bottom:28px}
.register #checkbox input{width:14px;height:14px;position:absolute;margin:1px -19px;}
.register #checkbox a{text-decoration:none;color:#3D9FE1}
.register #checkbox a:hover{text-decoration:underline}
/*登录*/

.login { position:relative; border:1px solid #CCCCCC;width:739px; margin:0px auto; height:543px; clear:both;}
.login h3{font-weight:normal;border-bottom:2px solid #FA8C34;padding-bottom:7px;width:661px;margin-left:39px;margin-top:37px}
.login form{margin:106px 163px}
.login input{vertical-align: middle;height:32px;width:258px;border:1px solid #C5C5C5;border-radius:3px;color:#545454;font-size:12px;margin-left:18px;padding-left:10px; outline:none;}
.login input:focus { border:1px solid #178e30;}
.login input.error { border:1px solid #ff4d4d;}
.login input.holder {background:url(../images/login/phone.png) no-repeat 245px 3px}
.login input.password{background:url(../images/login/password.png) no-repeat 245px 7px}
.login .logon-ipt { position:relative;font-size:14px;width:440px;color:#545454;margin-bottom:25px; margin-left:157px;}
.login .logon-ipt label {vertical-align: middle;}
.login .logon-ipt span{display:inline-block;width:78px;height:32px;border:1px solid #FF4D4D;color:#FF4D4D;text-align:center;line-height:32px;margin-left:14px;background:#FFE4E5}
.login ui-pwd a img{margin-left:74px}
.login-btn button { display:block; margin:0 auto; border:1px solid #dd6f00; background:#ff8c1a;text-align: center; width:270px; height:40px; border:none;cursor: pointer;line-height: 40px; color: #fff;border-radius: 5px; font-family:"微软雅黑"; font-size:16px;}
.login-btn button:hover {background:#e66803;}
.login .lastP {margin-top:28px; width:270px; margin:0 auto; overflow:hidden;}
.login a.forget {color:#3D9FE1;text-decoration:none; float:left;}
.login a.registerlink{color:#3D9FE1;text-decoration:none; float:right;}
.login a.forget:hover{text-decoration:underline}
.login a.registerlink:hover{text-decoration:underline}
.login-btn { margin-bottom:30px;}
.loginError { position: absolute; left:358px; top:0; width:auto; height: 32px; line-height:32px; font-size:12px; color:#e1453d; padding:0 10px; border:1px solid #ff4d4d; background:#ffe4e5;}
/*重置密码*/
.resetpassword {border:1px solid #CCCCCC;width:739px; margin:0px auto; height:543px; clear:both;}
.resetpassword h3{font-weight:normal;border-bottom:2px solid #FA8C34;padding-bottom:7px;width:661px;margin-left:39px;margin-top:37px}
.resetpassword form{margin:54px 147px}
.resetpassword input{height:32px;width:258px;border:1px solid #C5C5C5;border-radius:3px;color:#BEBEBE;font-size:12px;margin-bottom:30px;margin-left:18px;padding-left:10px}
.resetpassword #phone{background:url(../images/login/phone.png) no-repeat 245px 3px}
.resetpassword #checkPhone{width:151px}
.resetpassword #password,.resetpassword #checkPassword{background:url(../images/login/password.png) no-repeat 245px 7px}
.resetpassword p{font-size:14px;width:550px;color:#545454;overflow:hidden;}
.resetpassword #shortP{margin-left:14px}
.resetpassword p em{font-style:normal;color:red;margin-right:10px}
.resetpassword #firstSpan{display:inline-block;width:162px;height:32px;border:1px solid #178E30;color:#178E30;text-align:center;line-height:32px;margin-left:11px;background:#D7EEDB;font-size:12px}
.resetpassword #secondSpan{display:inline-block;width:141px;height:32px;border:1px solid #FF4D4D;color:#FF4D4D;text-align:center;line-height:32px;margin-left:11px;background:#FFE4E5;font-size:12px}
.resetpassword #huoqu1{display:inline-block;width:103px;height:34px;background:#5AA8FA;color:white;line-height:32px;text-align:center;border-radius:3px;margin-left:4px;text-decoration:none}
.resetpassword #huoqu1:hover{background:#2C84E0}
.resetpassword #huoqu2{display:inline-block;width:103px;height:34px;background:#999999;color:white;line-height:32px;text-align:center;border-radius:3px;margin-left:4px;text-decoration:none}
.resetpassword form a img{margin-left:90px}
.footer {clear:both;margin-top:19px;margin-bottom:50px}
.footer p {width:1080px;text-align:center; color:#999; font-size:14px; font-family:"微软雅黑"; margin:0px auto;}