@charset "utf-8";
/* CSS Document */
*{ margin:0;padding:0;border:0;font-size:0;}
body{font-family:'Microsoft YaHei'; background: #fff;}

.tp_main { margin: 0; font-size: 0; width: 100%; height: 200px; overflow: hidden; position: relative;}
.tp_main img { width: 1920px; height: 200px; position: absolute; top: 0; left: 50%; margin-left: -960px;}
.mainctn { width: 1000px; height: auto; margin: 0 auto; padding: 20px 0; position: relative; overflow: hidden;}
.mainctn img { display: block; margin: 0 auto 20px;}
.tp_font { width: auto; height: 16px; line-height: 16px; font-size: 14px; text-align: center; color: #e11641; position: absolute; left: 50%; top: 95px; margin-left: 237px;    }
.tp_font i { display: inline-block; vertical-align: middle; width: 30px; height: 16px; text-align: center; line-height: 16px; background: #f54b31; color: #fdff03; font-size: 14px; font-style: normal; margin: 0 2px; }
.tp_btn { display: block; width: 207px; height: 45px; position: absolute; left: 50%; font-size: 0; margin-left: -20px; top: 160px; background: url(../images/epbg.png) repeat;  }
.tp_record { width: 328px; height: 60px; line-height: 60px; text-align: center; font-size: 24px; color: #e31b41; left: 50%; position: absolute; margin-left: -350px; top: 80px; }
.tp_record i { font-size: 24px;  font-style: normal; padding-left: 50px; }
.tp_btn2 { display: block; width: 190px; height: 48px; position: absolute; left: 50%; margin-left:167px; top: 24px; background: url(../images/epbg.png) repeat; }
.tp_btn3 { display: block; width: 190px; height: 48px; position: absolute; left: 50%; margin-left:167px; top: 90px; background: url(../images/epbg.png) repeat; }
.tp_foot {  width: 100%; height: 50px; line-height: 50px; background: #3b3b3b; text-align: center; font-size: 14px; color: #b2b2b2; font-family: "微软雅黑";}
.tp_nav { width: 100%; height: 42px; padding: 16px 0 13px; background: #c83f27;  }
.tp_navctn { width: 1000px; height: 42px; margin: 0 auto;}
.tp_navctn a { display: block; float: left; width: 155px; height: 42px; background: url(../images/nav.gif) no-repeat; font-size: 18px; color: #e3133e; text-align: center; line-height: 42px; text-decoration: none; font-weight: bold; margin: 0 45px;}
.tp_navctn a.on,.tp_navctn a:hover {  background: url(../images/navon.gif) no-repeat; } 
/*排行榜*/
.tp_ctn { width: 100%; height: auto; background: #d63f41;}
.tp_rank  { width: 900px; height: auto; margin: 0 auto; padding-bottom: 50px;}
.tp_rank h3 { width: 100%; height:60px; line-height: 60px; padding-top: 20px; overflow: hidden; }
.tp_rank h3 i { display: block; float: left; width: auto; height: 60px; line-height: 60px; font-size: 30px; color: #fff; font-style: normal; }
.tp_rank h3 em { display: block; float: right; width: auto; height: 44px; line-height: 44px; font-size: 18px; color: #671305; font-style: normal; padding-top: 16px; }
.tp_rankctn { width: 898px; height: auto; border:1px solid #fca93b; background: #ffefd6;}
.tp_rankctn p { width: 865px; border-top: 1px solid #f00; margin: 0 auto; height: 44px; text-align: center; font-size:14px; color: #786474; line-height: 44px;  }
.tp_rankctn p a { font-size: 14px; color: #786474; text-decoration: underline; padding: 0 5px;}
.tp_ranklist {  width: 100%;min-height: 502px;} 
.tp_ranklist ol { display: block; width: 100%; height:44px; line-height: 44px; overflow: hidden; }
.tp_ranklist ol li { display: block; float: left; width: 20%; height: 44px;  font-size: 14px; color: #786474; text-align: center; }
.tp_ranklist ol.tp_rankol li { color: #f00;}
.tp_ranklist ol.tp_ranktitle { width: 100%; height: 62px; background: #f54b31; }
.tp_ranklist ol.tp_ranktitle li { display: block; float: left; width: 20%; height: 62px; line-height: 62px; font-size: 18px; color: #ffefd6; text-align: center; }
.tp_floatlayer { width: 1000px; margin: 0 auto; position: relative; height: 0;z-index: 30;}
.tp_flmask { width: 100%; height: 2000px; position: fixed;filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000'); background: rgba(0,0,0,0.6); z-index: 20; left: 0; top: 0; }
.tp_fl { width: 1000px; height: auto; position: fixed; left: 50%; margin-left: -500px; background: #fff; border-radius: 5px; z-index: 25; padding: 10px 0 20px; top: 10%; }
.tp_fl a.close { display: block; width:30px; height: 30px; position: absolute; background: url(../images/close.png) no-repeat; position: absolute; top: -15px; right: -15px; }
.tp_fl a.close:hover { background: url(../images/close.png) no-repeat 0 -30px; }
.tp_fl table { width: 950px; height: auto; margin: 0 auto;}
.tp_fl table thead td { height: 30px; line-height: 30px; font-size: 12px; color: #7d7d7d; border-bottom:1px solid #d2dbea; background: #f2f4f6; padding-left: 5px;}
.tp_fl table tbody td { height: 30px; line-height: 30px; font-size: 12px; color: #333; border-bottom:1px solid #ddd; padding-left: 5px;}
/*奖品设置,比赛规则,参赛流程*/
.tp_rank_main{ margin: 0; width: 100%;height:110px; position: relative;overflow: hidden;}
.tp_rank_main img{left:50%; position:absolute;width:900px;margin-left: -450px;}
#tp_rank_main1{height:72px}
.processButton{ width: 100%; position: relative;overflow: hidden;top:-205px;height:50px}
.processButton a{position:absolute;left:50%;width:165px;height:45px; background: url(../images/epbg.png) repeat;}
.tp_rank_set,.tp_rank—rule { padding-bottom: 50px;}
