@charset "utf-8";
/* CSS Document */
* { margin:0;padding:0;border:0;}
body {font-family:'微软雅黑'; background: #fff;}
ul,li,ol,i,em { font-style: normal; list-style: none;}
 a{text-decoration:none;}
 .uc_sp_info {
	width: 1000px;
	padding: 15px 0 0;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #f0f0f0;
}
.uc_sp_list {
	width: 400px;
	height: 394px;
	border: 1px solid #e4e3e8;
	border-top: none;
	float: left;
}
.uc_sp_list h3 {
	width: 400px;
	height: 29px;
	background: url(../images/uc/sp_01.gif) no-repeat;
	line-height: 29px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.uc_sp_list ul {
	width: 100%;
	height: auto;
}
.uc_sp_list ul ol {
	display: block;
	width: 100%;
	height: 30px;
	overflow: hidden;
}
.uc_sp_list ul ol.uc_spl_title {
	height: 48px;
}
.uc_sp_list ul ol.uc_spl_title li {
	height: 48px;
	line-height: 48px;
}
.uc_sp_list ul ol.uc_spl_title .uc_spl_num {
	background: none;
}
.uc_sp_list ul ol li {
	display: block;
	float: left;
}
.uc_spl_num {
	width: 13px;
	height: 13px;
	font-family: "Arial";
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 13px;
	background: url(../images/uc/sp_02.gif) no-repeat;
	vertical-align: middle;
	margin: 8px 20px 0 55px;
}
.uc_spl_name {
	width: 160px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: left;
	padding-right: 10px;
}
.uc_spl_money {
	width: 135px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
.uc_sp_font {
	width: 550px;
	height: auto;
	float: right;
}
.uc_sp_font h3 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 16px;
	color: #34b3e0;
	margin-bottom: 5px;
}
.uc_sp_font p {
	width: 100%;
	height: auto;
	line-height: 22px;
	font-size:13px;
	color: #666;
	margin-bottom: 25px;
}
.uc_sp_font p span { display: block; text-indent: 2em;}
.uc_sp_way {
	width: 998px;
	height: auto;
	border: 1px solid #f1f1f1;
	margin:20px 0;
	
}
.uc_sp_way h3 {
	width: 100%;
	height: 36px;
	border-bottom: 2px solid #34b3e0;
}
.uc_sp_way h3 i {
	display: inline-block;
	width: 140px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	background: #34b3e0;
	vertical-align: middle;
}
.uc_sp_way h3 img {
	vertical-align: middle;
}
.uc_sp_wayctn {
	width: 100%;
	height: auto;
}
.uc_sp_wayctn p { font-size:14px; padding:10px 20px; color:#666; line-height:30px;}
.uc_sp_wayctn p i { color: #f00;}
.uc_sp_wayctn img {
	display: block;
	margin: 20px auto;
}

.uc_sp_talbe  { border-left: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; text-align: center; margin: 20px auto; font-size: 14px; color: #666;}
.uc_sp_talbe tr td { border-top: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; height: 30px; line-height: 30px; }
.uc_sp_talbe tr td i { padding: 0 10px; display: block; }
.sp_btn {
	width: 154px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	margin: 10px auto 50px;
}
.sp_btn a {
	display: block;
	width: 154px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	background: url(../images/uc/btn.gif) no-repeat 0 -76px;
	color: #fff;
	font-size: 16px;
}
.sp_btn a:hover { 
	background: url(../images/uc/btn.gif) no-repeat 0 -114px;

}
.main { width: 1000px; height: auto;; margin: 0 auto;}
.question { width: 100%; height: auto; background: url(../images/q_bg.gif) repeat-x;}
.question .qbanner1 { width: 100%; height: 200px; background: url(../images/qbanner_01.jpg) no-repeat center top;}