/* APP×¨ÊôÌØÈ¨  */
.iphone-img {width: 100%;position: relative;height: 450px;background: url("../images/vs-app-1.jpg") center center;}
.iphone-title {width: 720px; padding: 40px 140px; margin: 0 auto;}
.iphone-lis{color: #fef8de; font-size: 20px; text-align: center;height: 40px; line-height: 40px; width: 720px; background: url("../images/vs-app-3.png") no-repeat 0 0;}
.iphone-lis-tltle {color: #542d1e; font-size: 16px; text-align: center;margin-top: 20px;}
.iphone-title .iphone-lis-img {background: url("../images/vs-app-3.png") no-repeat 0 -56px;height: 40px; line-height: 40px; width: 720px; margin-bottom: 20px;}
.iphone-title .iphone-lis-img .fl {float: left; width: 280px; text-align: center; color: #fef8de; font-size: 20px;}
.iphone-title .iphone-lis-img .fr {float: right; width: 280px; text-align: center; color: #fef8de; font-size: 20px;}
.iphone-title h3 {height: 34px; line-height: 34px; font-size: 24px; color: #fe9329; padding: 20px 0;}
.iphone-title h3 span {background: url("../images/vs-app-3.png") no-repeat 0 -109px; height: 34px; line-height: 34px; width: 34px; display: inline-block; text-align: center; font-size: 24px;color: #fef8de;padding-right: 14px;}
.iphone-shuomiong {width: 1000px; height: 239px; margin: 0 auto; border-top: 1px solid #ffae24; padding-top: 60px;}
.iphone-shuomiong .fl{width: 620px; float:left;color: #333; font-size: 16px;}
.iphone-shuomiong .fl p {margin-bottom: 5px;}
.iphone-shuomiong .fl .fl-title {color: #333; font-size: 20px; margin-bottom: 10px;}
.iphone-shuomiong .fr{width: 380px; float:right;}
.iphone-shuomiong .fr .ios {margin-bottom: 10px; width: 160px; height: 160px; background: url("../images/vs-app-3.png") no-repeat -12px -171px; display: inline-block; border: 1px solid #e6e6e6;}
.iphone-shuomiong .fr .android {margin-bottom: 10px; width: 160px; height: 160px; background: url("../images/vs-app-3.png") no-repeat -205px -171px; display: inline-block; border: 1px solid #e6e6e6;}
.iphone-shuomiong .fr ul {text-align: center;}
.iphone-footer {width: 100%; position: relative; height: 110px; background: url("../images/vs-app-2.jpg") center center;}
.iphone-footer p {text-align: center;line-height: 60px; color: #fff; font-size: 14px; height: 60px; padding-top: 50px;}