@charset "utf-8";
/* CSS Document */
*{ margin:0;padding:0;border:0;font-size:0;}
body{font-family:'黑体'; background: #fff;}

.tp_main1 { margin: 0; font-size: 0; width: 100%; overflow: hidden; position: relative;height:151px}
.tp_main1 img { width: 1920px; height: 151px; position: absolute; top: 0; left: 50%; margin-left: -960px;}
.tp_main2 { margin: 0; font-size: 0; width: 100%; overflow: hidden; position: relative;height:399px;background:url(../image/bg_01.jpg)}
.tp_main2_in{ width: 1920px; height: 399px; position: absolute; top: 0; left: 50%; margin-left: -960px;}
.tp_main2_in .content{width:970px;height:399px;margin-left:430px}
.tp_main2_in .content h3{font-size:20px;font-weight:normal;color:#da1013;margin:52px 250px;width:700px;}
.tp_main2_in .content .money_table{width:371px;height:286px;border:2px solid #e8ac97;border-radius:6px;margin:-31px 100px;background:#fee9be;float:left}
.tp_main2_in .content .money_table .table_top{width:371px;height:36px;background:#ea3925;border-top-left-radius:4px;border-top-right-radius:4px;}
.tp_main2_in .content .money_table .table_top p{font-size:20px;color:#fee854;text-align:center;line-height:36px}
.tp_main2_in .content .money_table .table_bottom table{border-left:1px solid #FFFFFF;border-top:1px solid #FFFFFF;margin:10px 10px}
.tp_main2_in .content .money_table .table_bottom table tr td{font-size:14px;color:#ea3925;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;height:28px;line-height:28px;text-align:center}
.tp_main2_in .content .money_table .table_bottom .first_td{width:187px}
.tp_main2_in .content .money_table .table_bottom .second_td{width:162px}
.tp_main2_in .content .money_table .table_bottom .first_tr td{font-size:16px;font-weight:bold}
.tp_main2_in .content img{margin:-50px -5px}
.tp_main3 { margin: 0; font-size: 0; width: 100%; overflow: hidden; position: relative;height:350px;background:url(../image/bg_02.jpg)}
.tp_main3_in{ width: 1920px; height: 350px; position: absolute; top: 0; left: 50%; margin-left: -960px;}
.tp_main3_in .content{width:970px;height:350px;margin-left:430px}
.tp_main3_in .content .img_01{margin:77px 267px}
.tp_main3_in .content .step{margin:-23px 100px;width:1000px}
.tp_main3_in .content .step img{margin-right:40px}
.tp_main3_in .content p{color:#da1013;font-size:20px;margin:41px 346px;width:400px}
.tp_main4 { margin: 0; font-size: 0; width: 100%; overflow: hidden; position: relative;height:449px;background:url(../image/bg_03.jpg)}
.tp_main4_in{ width: 1920px; height: 449px; position: absolute; top: 0; left: 50%; margin-left: -960px;}
.tp_main4_in .content{width:970px;height:449px;margin-left:430px}
.tp_main4_in .content img{margin:42px 267px}
.tp_main4_in .content .rule{width:678px;height:199px;border:2px solid #e71212;border-style:dashed;border-radius:15px;margin:11px 189px}
.tp_main4_in .content .rule p{color:#da1013;font-size:16px;font-family:"微软雅黑";padding-left:34px;margin-left:24px;height:24px}
.tp_main4_in .content .rule .p1{background:url(../image/w_1.jpg) no-repeat 0px 2px;margin-top:15px;margin-bottom:27px}
.tp_main4_in .content .rule .p2{background:url(../image/w_2.jpg) no-repeat 0px 2px;margin-top:15px;margin-bottom:27px}
.tp_main4_in .content .rule .p3{background:url(../image/w_3.jpg) no-repeat 0px 2px;margin-top:15px;margin-bottom:27px}
.tp_main4_in .content .rule .p4{background:url(../image/w_4.jpg) no-repeat 0px 2px}
.tp_main5 { margin: 0; font-size: 0; width: 100%; overflow: hidden; position: relative;height:37px;background:url(../image/bottom.jpg)}
.tp_foot {  width: 100%; height: 50px; line-height: 50px; background: #3b3b3b; text-align: center; font-size: 14px; color: #b2b2b2;}


