@charset "utf-8";
/* CSS Document */

.headernew{
	margin:0 auto;}
.headernew .topmain{
	height:30px;
	border-top:1px solid #aaa;
	width:100%;
	background:#3d454e;
	color:#fff;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	}
.headernew .topmain span{
	display:block;
	float: left;}
.headernew .topmain img{
	display:block;
	float: left;
	margin-top:6px;}
.headernew .topmain a{
	display:block;
	color:#fff;}
.headernew .topmain a:hover{
	text-decoration:underline;}
.headernew .topmain .fontwt18{
	font-size:20px;}
.headernew .topmain .fontyel{
	color:#fff100;}
.headernew .botmain{
	height:86px;
	background:url(../images/headerbg.jpg) repeat-x;
	width:100%;}
.headernew .botmain a{
	display:block;
	float:left;
	width:105px;
	height:60px;
	margin-top:12px;
	line-height:60px;
	text-align:center;
	color:#333;
	font-family:"微软雅黑";
	font-size:16px;
	cursor:pointer;
	}
.headernew .botmain span{
	overflow:hidden;}
.headernew .botmain .mra{}
.headernew .botmain .dja{
	height:50px;
	border-bottom:2px solid #f08300;}
.centmain{
	width:1000px;
	margin:10px auto 100px;
	overflow:hidden;
	position:relative;}
.centmain .leftmain{
	width:180px;
	border:1px solid #e3e3e3;
	background:#f1f1f1;
	float:left;
	position:relative;}
.centmain .leftmain ul{}
.centmain .leftmain ul li{
	display:block;
	height:35px;
	line-height:35px;
	text-align:center;}
 .centmain .leftmain .litop{
	height:45px;
	background:#f08300;
	line-height:45px;
	color:#fff;
	font-size:16px;
	text-align:center;
	font-family:"微软雅黑";
	font-weight:bold;}
 .centmain .leftmain .linav{	 
	background:#666;
	color:#fff;
	font-size:15px;
	 }
.centmain .leftmain .lidj {
    font-weight: bold;
    color: #f08300;
    border-left: 3px solid #f08300;
    width: 178px;
    background: url(../images/user-xq.png) no-repeat scroll 138px -48px #fff;
	position:absolute;
    text-indent:25px;
    font-size: 14px;
	cursor:pointer;
}
.centmain .leftmain .limr {
    height: 35px;
    line-height: 35px;
    color: #333;
    width: 180px;
    display: block;
    text-indent:25px;
    font-size: 14px;
    background: url(../images/user-xq.png) no-repeat scroll 138px -8px #F1F1F1;
	cursor:pointer;
}
.centmain .rightmain{
	width:806px;
	border:1px solid #e3e3e3;
	float:right;
	overflow: hidden;
}
.centmain .rightmain .nav{
	background:#fafafa;
	font-size:16px;
	font-family:"微软雅黑";
	padding:0 10px;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #e3e3e3;
	width: 804px;
	}
.centmain .rightmain .centmain{
	width:786px;
	padding:10px 10px 0 10px;
	overflow:hidden;}
.centmain .rightmain .centmain .ulmain{
	display:block;
	float:left;
	width:255px;
	height:90px;
	float:left;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px dashed #f8f8f8;}
.centmain .rightmain .centmain .ulmain .pmain{
	overflow:hidden;}
.centmain .rightmain .centmain .ulmain .pmain p{
	 
	overflow:hidden;
	height:24px;
	line-height:24px;}

.centmain .rightmain .centmain .ulmain .pmain img{
	float:left;
	width:60px;
	margin-right:5px;}
.centmain .rightmain .centmain ul li .fonttitle{
	font-size:15px;
	color:#33;
	font-family:"微软雅黑";}

/*蒙版样式*/
#div_Mask{
	z-index:1000;
	filter:alpha(opacity=40);
	opacity: 0.7;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	background-color: #000;
	height:2000px;
}
/*显示信息样式*/
#div_loading{
	width:285px;
	height: 100%;
	position: absolute;
	text-align: left;
	z-index:10000;
	margin:0 auto;
	position:relative;
} 
.tck01{
	position: absolute;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #fff;
	width:580px;
	color:#333;
	line-height: 24px;
	font-size: 15px;
	z-index: 10000;
	left:-60px;
	top:60px;
	padding:10px 10px 20px 10px;
	background:#fff;
}
.tck01 .navtitle{
	height:35px;
	line-height:35px;
	border-bottom:2px solid #f8f8f8;
	}

.tck01 .navtitle .close{
	display:block;
	background:url(../images/close01.png) no-repeat;
	width:20px;
	height:19px;
	margin-top:8px;
	float:right;
	cursor:pointer;}
.tck01 .navtitle .nava{
	color:#333;
	font-size:18px;
	font-family:"微软雅黑";
	height:34px;
	display:block;
	width:160px;
	text-align:left;
	padding-left:10px;
	border-bottom:1px solid #f8f8f8;

	float:left;}
.tck01 .wzms{
	line-height:20px;
	font-size:13px;
	color:#333;
	padding:10px 15px;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;}
.tck01 .pdmain{
	padding:30px;
	overflow:hidden;}	
.tck01 .pdmain img{
	float:left;
	margin-left:40px;}
.tck01 .pdmain span{
	float:left;
	margin-top:10px;
	margin-left:20px;}
.tck01 .smain {
	padding:15px 0 25px 20px;}
.tck01 .smain .srk{
	overflow:hidden;
	margin:10px 0 0 0;
	line-height:40px;
	}	
.tck01 .smain .srk .au-ipt {
    float: left;
    width: 198px;
    border-width: 1px;
    border-style: solid;
    border-right: 1px solid #D9D9D9;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    vertical-align: middle;
    *line-height: 30px;
 	line-height: 30px\0;
}
.tck01 .smain .srk .label {
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-align: right;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
}
.tck01 .smain .srk .btn-h01 {
    display:block;
	background:url(../images/btn.png) no-repeat -210px 0px;
    width: 156px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    text-shadow: 1px 1px 0px #E27214;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
	float:left;
	font-size:16px;
}

.tck01 .smain .srk .liulan{
	display:block;
	width:61px;
	height:24px;
	line-height:24px;
	color:#fff;
	font-size:14px;
	background:url(../images/btn.png) no-repeat -380px -125px;
	float:left;
	margin-top:10px;
	text-align:center;
	border:none;
	cursor:pointer;}
.tck01 .smain .srk .liulan:hover{
	background:url(../images/btn.png) no-repeat -441px -125px;}
.tck01 .flmain{
	border:1px dashed #d7d8d1;
	padding:15px;
	overflow:hidden;}
.tck01 .flmain img{
	float:left;}
.tck01 .flmain span{
	display:block;
	width:250px;
	float:left;
	padding:0px 30px 30px 30px;}
.tck01 .flmain span p{
	line-height:24px;}
.tck01 .anniu{
	overflow:hidden;}	
.tck01 .anniu a{
	margin-left:30px;}
.tck01 .anniu .btn-h01 {
    display:block;
	background:#fc3;
    width: 156px;
    height: 40px;
    line-height: 40px;
    color: #333;
    text-shadow: 1px 1px 0px #fc3;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
	float:left;
	font-size:16px;
	border: 1px solid #333;
	border-radius: 4px;
}
.tck01 .anniu .btn-h01:hover {
    background:#fe3;
    color: #333;
    text-decoration: none;
}
.tck01 .anniu .btn-h0101 {
    display:block;
	background:url(../images/btn.png) no-repeat -210px 0px;
    width: 156px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    text-shadow: 1px 1px 0px #E27214;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
	font-size:16px;
	margin:auto;
}
.tck01 .anniu .btn-h0101:hover {
    background-position: -210px -40px;
}
.tck01 .anniu .btn-h02 {
    display:block;
	background:url(../images/btn.png) no-repeat -210px -122px;
    width: 156px;
    height: 40px;
    line-height: 40px;
    color: #333;
    text-shadow: 1px 1px 0px #d7d7d7;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
	float:left;
	font-size:16px;
}
.tck01 .anniu .btn-h02:hover {
    background-position: -210px -162px;
}