/* Build by husz@5173.com 

 Date:2014-12-20 21:54:30 

 Version:1.00 */

 @charset "utf-8";
 .focusin{border:1px solid #d90202!important;}
 .focus{border:1px solid #4e90fe!important;}
 .header li h1{color:#999;font-size:24px;font-weight:normal;}
 .logined .im-register{text-decoration:underline;}
 #register{ color:#ff8d1b;}
 .dontdothat{height:2px;background-color:#005bac;_overflow:hidden;}
 .mgt20{margin-top:20px!important;}
 .z-index10{z-index:10;}
 .color333-bold{color:#333!important;font-weight:bold;}
 .logon-wrap{clear:both;margin:40px auto 130px;}
 .logon-left{float:left;width:576px;height:340px;position:relative;}
 .logon-left p{line-height:26px;position:absolute;right:6px;bottom:50px;color:#999;font-size:14px;text-indent:48px;font-family:"微软雅黑";}
 .ui-logon{float:right;background:#f7f7f7;width:354px;border:1px solid #e6e6e6;border-bottom-color:#cdcdcd;border-radius:2px;box-shadow:-2px 0 0 #fff,0 -2px 0 #fff,0 1px 0 #e6e6e6,2px 0 5px #fff;overflow:hidden;}
 .logon-con{float:left;width:280px;padding:20px 37px 40px 37px;}
 .logon-con .title{margin-bottom:5px;}
 .logon-con li{float:left;width:278px;display:inline;}
 .logon-con li h2{float:left;height:32px;line-height:32px;color:#666;font-size:16px;font-weight:bold;}
 
 .logon-con .logon-ipt{position:relative;background:#fff;height:43px;line-height:43px;border:1px solid #dadada;border-top-color:#c0c0c0;font-family:Verdana,Tahoma,Arial;}
 .logon-con .logon-ipt:hover{*border: 1px solid #0090c6;}
 .logon-con .logon-ipt:focus {border: 1px solid #34b3e0;}
 
 
  .logon-con .logon-ipt01{position:relative;background:#fff;height:43px;line-height:43px;border:1px solid #dadada;border-top-color:#c0c0c0;font-family:Verdana,Tahoma,Arial; width:210px;}
 .logon-con .logon-ipt em{float:left;background:url(../images/sprite_ico.png) no-repeat;margin:12px 10px 0 13px;overflow:hidden;}
 .logon-con .logon-ipt em.user{background-position:-2px -354px;width:18px;height:19px;}
 .logon-con .logon-ipt em.key{background-position:left -118px;width:11px;height:22px;margin-left:16px;margin-right:14px;}
 .logon-con .logon-ipt em.lock{background-position:left -261px;width:13px;height:16px;margin:13px 14px 0 15px;}
 .logon-con .logon-ipt input{float:left;width:225px;height:18px;line-height:18px;padding:12px 0 11px 0;margin-top:1px;border:0;color:#ccc;font-size:16px;font-family:Verdana,Tahoma,Arial;}
/*  .logon-con .logon-ipt input:focus {border:1px solid #0090c6;}
 .logon-con .logon-ipt input:hover {*border:1px solid #0090c6;} */
 .logon-con li.code-line{background:#f7f7f7;width:100%;border:0;}
 .logon-con .code-line .code-box{float:left;background:#fff;border:1px solid #DADADA;border-top-color:#C0C0C0;}
 .logon-con .code-line .code-ipt{width:80px;}
 .code-img{float:left;height:45px;margin:0 10px;overflow:hidden;}
 .pwd-txt{position:absolute;left:42px;_top:0;color:#ccc;font-size:16px;}
 .pwd-txt01{position:absolute;left:22px;_top:0;color:#ccc;font-size:16px;}
 .logon-con .ui-pwd{height:43px;line-height:43px;}
 .logon-con .ui-pwd label{float:left;color:#999;}
 .logon-con .ui-pwd label input{float:left;margin:14px 4px 0 0;*margin:10px 0 0 0;}
 .logon-con .ui-pwd a{float:right;color:#06c;}
 .logon-con .ui-pwd .or{float:right;padding:0 4px;color:#999;}
 .login-btn{float:left; background:url(../images/button.png) no-repeat;width:280px;height:40px;line-height:40px;color:#fff;border:0;text-shadow:1px 1px 0 #e77614;text-align:center;cursor:pointer;font-family:"微软雅黑";font-size:18px;overflow:hidden;}
 .login-btn{background-position:left -351px;}
 .login-btn:hover{background-position:left -391px;}
 .div-part{height:16px;line-height:16px;margin:32px auto 12px;}
 .div-part span{float:left;margin-right:10px;color:#aaa;}
 .div-part .partner{float:left;}
 .div-part .partner a{float:left;background:url(../images/ico_common.png) no-repeat;width:16px;height:16px;margin-right:5px;}
 .div-part .partner .p1{background-position:-100px -200px;}
 .div-part .partner .p2{background-position:-120px -200px;}
 .div-part .partner .p3{background-position:-140px -200px;}
 .div-part .partner .p4{background-position:-160px -200px;}
 .div-part .partner .p5{background-position:-200px -200px;}
 .div-part .partner .p1:hover{background-position:-100px -220px;}
 .div-part .partner .p2:hover{background-position:-120px -220px;}
 .div-part .partner .p3:hover{background-position:-140px -220px;}
 .div-part .partner .p4:hover{background-position:-160px -220px;}
 .div-part .partner .p5:hover{background-position:-200px -220px;}
 .user-layer{background:#fff;position:absolute;width:100%;left:-1px;top:44px;border:1px solid #d6d6d6;z-index:10;overflow:hidden;}
 .user-layer li{float:left;height:33px;line-height:33px;color:#333;text-indent:43px;cursor:pointer;}
 .user-layer li.hover{background:#f6f6f6;}
 .ui-err{float:left;width:120%;line-height:18px;color:#b20000;font-size:12px;display:inline;word-break:break-all;overflow:hidden;}
 .ui-err a{color:#06c;}
 .ui-err em{float:left;background:url(../images/sprite_ico.png) no-repeat;width:16px;height:16px;margin:7px 5px 0 0;_margin-right:2px;overflow:hidden;}
 .ui-err .err{background-position:left -20px;}
 .refresh-btn{float:right;background:url(../images/button.png) no-repeat -230px -492px;width:45px;height:45px;color:#999;overflow:hidden;}
 .refresh-btn span{float:left;width:100%;position:relative;left:11px;top:10px;}
 .refresh-btn:hover span{color:#b20000;}
 .err-tips{padding-bottom:10px;}
 .close-btn{display:none;position:absolute;right:9px;top:11px;background:url(../images/sprite_ico.png) no-repeat left -303px;width:20px;height:21px;overflow:hidden;}
 .close-btn:hover{background-position:left -327px;}
 
 
.loginmain{
    background:url(../images/left_img.png) no-repeat left top #fff;
	border:8px solid #f6f6f6;
	border-radius:8px;
	-moz-border-radius:8px;
	padding:20px;
	margin-top:10px;
	}
.loginmain .ctmain{
	overflow:hidden;}
.dlmain{
	background:#fff;
	width:563px;
	border:1px solid #e0e0e0;
	float:right;
	position:relative;
	margin-top:20px;}

.dlmain .btmain{
	padding:30px 50px;}
.dlmain .btmainp{
	overflow: hidden;	
	margin:0 0 20px 0;}
.dlmain .btmainp font{
	display:block;
	width:95px;
	float:left;
	font-size:14px;
	color:#333;
	height:32px;
	line-height:32px;}
.dlmain .btmainp .srk{
	border:1px solid #dfdfdf;
	width:255px;
	height:30px;
	line-height:30px;
	padding:0 5px;}
.ftbggreen{
	display:block;
	font-size:14px;
	background:#34b3e0;
	color:#fff;
	text-align:center;
	float:left;
	width:110px;
	height:32px;
	line-height:32px;
	cursor:pointer;
	margin-left:10px;}
	
/*找回密码*/
.zhmmmain{ overflow:hidden; color:#666; font-size:13px; height:30px; line-height:30px; margin-bottom:20px;}
.zhmmmain a{ display:block; float:left; text-align:center;  }
.zmmmart125{ margin-right:128px;}
.zhmmbc01{ height:60px; background:url(../images/step.png) no-repeat;}
.zhmmbc02{height:60px; background:url(../images/step.png) no-repeat 0 -65px;}
.zhmmbc03{height:60px; background:url(../images/step.png) no-repeat 0 -130px;}
.dlzcmain{ overflow:hidden; color:#666; margin-top:10px;}
.dlzcmain a{ display:block; float:right; margin-right:5px;}
.dlzcmain .fontblue{ color:#0099cc;}

.cgmain{ overflow:hidden; margin:30px 0;}
.cgmain span{ display:block; float:left; margin-right:20px;}
.cgmain .fontgay18{
	font-family:"微软雅黑";
	font-size:18px;
	color:#333;}
.cgmain .fontgay14{
	font-family:"微软雅黑";
	font-size:14px;
	color:#808080;
	display:block;
	margin-top:10px;}
