* { margin:0;padding:0;border:0; font-size: 100%;}
body {font-family: "微软雅黑"; background: #fff;}
ul,li,ol,i,em { font-style: normal; list-style: none;}
.top-title a:hover, .navbox a:hover, .bannerlist a:hover, .h_notic a:hover, .w_content a:hover, .copyright a:hover, .copybox a:hover {cursor: pointer;}
/* top */
.top-title {width: 100%;background: #333333; border-bottom: 1px solid #1a1a1a;height: 34px;margin: 0 auto;}
.topctn {width: 1000px; height: 34px; margin: 0 auto; position: relative; z-index: 20;padding:0 5px; background: #333;border-bottom: 1px solid #1a1a1a;}
.top_tel {width: auto; height: 34px; line-height: 34px; color: #999; font-size: 14px; float: left;}
.top_tel i {width: 20px; height: 22px; display: block; float: left; margin-top: 2px; margin-right: 2px;}
.topctn ul {float: right; width: auto; height: 20px; padding: 6px 0; overflow: hidden;}
.topctn ul li {display: block; float: left; height: 14px; line-height: 14px; padding-left: 36px; margin: 3px 0;}
.topctn ul li a {font-size: 12px;color: #999; text-decoration: none;}
.topctn ul li a:hover {text-decoration: underline; color: #ffcc33;}
.topctn ul .sign_span {color: #666666;}
/*navbox*/
.navbox {width: 100%; height:84px; z-index: 15; position: relative; border-top: 1px solid #4d4d4d; background-color: #333333; margin: 0 auto;}
.nav {width: 1000px; height: 84px; margin: -1px auto 0; position: relative; padding:0 5px; background: #333; border-top: 1px solid #4d4d4d;}
.navlogo {float: left; margin-top: 20px;}
.navlist {width: auto; float: right; margin-top: 33px; font-style: normal; list-style: none;}
.navlist li {display:block; float: left; width: auto; margin: 0 18px; font-size: 16px;}
.navlist li a {text-decoration: none; color: #999;padding-top: 28px}
.navlist li a:hover {border-bottom:2px solid #ffcc33; color: #ffcc33;;cursor: pointer; padding-bottom: 26px;}
/*.safe*/
.safe {width: 100%; height: 270px; border-top: 10px solid #424242; border-bottom: 1px solid #1a1a1a; background-color: #333333; margin: 0 auto;}
.safe .safelist {width: 1000px; margin: 0 auto;height: 270px;padding: 0 5px;background: #333; border-top: 10px solid #424242; border-bottom: 1px solid #1a1a1a;position: relative;top: -10px;}
.safe .safelist ul li {float: left;width: 250px;text-align: center; padding-top: 60px;}
.safe .safelist ul li h2 {margin-top: 10px; color: #ffcc33; font-size: 16px;}
.safe .safelist ul li .safelist-lis {margin-top: 8px;color: #ffcc33; font-size: 14px;}
.safelist .safelist-img{width: 250px;height: 100px;}
.safelist img {-webkit-transition: all 1s linear;-moz-transition: all 1s linear;-o-transition: all 1s linear;-ms-transition: all 1s linear;transition: all 1s linear;}
.safelist img:hover {-webkit-transform: scale(-1,1);-moz-transform: scale(-1,1);-o-transform: scale(-1,1);-ms-transform: scale(-1,1);transform: scale(-1,1);}
/*xuanzhe*/
.xuanzhe {width: 100%; height: 298px; border-top: 1px solid #4d4d4d; background-color: #333333; margin: 0 auto;}
.xuanzhelist {width: 1000px; margin: 0 auto; height: 298px; padding: 0 5px;background: #333; border-top: 1px solid #4d4d4d; position: relative;top: -1px;}
.xuanzhelist .xuanzhe-title {color: #ffcc33; text-align: center; font-size: 20px; padding: 40px 0;}
.xuanzhelist img {float: left;}
.xuanzhelist .vs-img {position: relative;top: 30px; padding: 0 50px;}
/*notice*/
.notice {width: 100%; height: 46px; background-color: #333333; margin: 0 auto;}
.notice_scroll {width: 1000px; height: 46px; padding-left: 15px;margin: 0 auto; position: relative; margin: 0 auto; background: #333333; padding: 0 5px;}
.notice_scroll > a {margin-top: 9px; padding:5px;display: block;float: right;width: 58px;height: 16px;line-height: 16px;font-size: 12px;color: #ffcf3f;text-align: center; text-decoration: none;border: 1px solid #ffcf3f;border-radius: 5px;}
.notice_scroll > a:hover {text-decoration: none; background-color: #ffff33;color: #333333; border: 1px solid #ffee33;}
.notice_scroll ul {margin-top: 15px; width: 760px;height: 16px;line-height: 16px;overflow: hidden;float: left;}
.notice_scroll ul li {display: block;float: left;width: 379px; text-align: left; height: 17px;line-height: 17px; font-size: 0; border-right: 1px dotted #ccc;}
.notice_scroll ul li a {text-decoration:none; margin-left:20px; float:left; display: inline-block; height: 16px;line-height: 16px;font-size: 14px;color: #ffcc33;overflow: hidden; padding-right: 20px;vertical-align: middle;text-overflow: ellipsis;white-space: nowrap;}
.notice_scroll ul li a:hover {text-decoration: underline;}
.notice_scroll ul li em a {float:right; font-size: 14px; color: #666666; vertical-align: middle;}
.notice_scroll h2 {margin-top: 15px; display: block;float: left;padding-right: 40px;padding-left: 20px;height: 16px;line-height: 16px;font-size: 14px;color: #ffcc33; font-weight: normal;border-right: 1px dotted #999999;}
.notice_scroll h2 i {background: url(../images/image/laba.png) no-repeat;position: absolute;width: 21px; height: 18px;left: 0; top: 14px;}
/*h_partner*/
.h_partner_app {width: 100%; height: 226px;}
.h_partner {margin: 0 auto; width: 100%; height: 226px; background: url("../images/image/logo-beijing.png"); border-bottom: 10px solid #424242;}
.h_partner_content {height: 226px; width: 1000px; margin: 0 auto; padding: 0 5px; background: url("../images/image/logo-beijing.png");}
.h_partner_content .h_chosetitle {text-align: center; font-size: 20px; padding: 40px 0; color: #333333;}
.h_partner_content img {margin: 0 4px;}
.h_partner .h_img {margin-top: 15px;}
.h_partner .h_img a{float: left;}
.h_partner .h_img a:hover { cursor: default;}
/*copyright*/
.copyright {width: 100%; height: 300px; background-color: #333333; border-bottom: 1px solid #1a1a1a; margin: 0 auto;}
.copyright_content {width: 1000px; margin: 0 auto; background-color: #333333; padding: 0 5px;height: 300px; border-bottom: 1px solid #1a1a1a;}
.copyright_link, .copyright_interaction, .copyright_contact {float: left;margin-top: 30px;}
.copyright_link ul {margin-top: 10px; width: 510px; height: 40px; line-height: 40px;}
.copyright_link ul li {float: left; margin-right: 20px; font-size: 14px; color: #666666;}
.copyright_link ul li a {font-size: 14px; color: #999; text-decoration: none;}
.copyright_link ul li a:hover {color: #ffcc33; text-decoration: underline;}
.copyright_link .weibo {background: url("../images/image/weibo.png") no-repeat; width: 40px; height: 40px; display: block;}
.copyright_link .weibo:hover {background: url("../images/image/weibo-on.png");}
.copyright_link .weixin {background: url("../images/image/weixin.png") no-repeat; width: 40px; height: 40px; display: block;}
.copyright_link .weixin:hover {background: url("../images/image/weixin-on.png");}
.copyright_interaction h3 {height: 40px; line-height: 40px; margin: 10px 0; color: #999999; font-weight: normal; font-size: 14px;}
.copyright_interaction p {margin-top: 5px;color: #666666; font-size: 14px; margin-bottom: 10px;}
.copyright_interaction p a {color: #666666; font-size: 14px; text-decoration: none;}
.copyright_interaction p a:hover {text-decoration: underline; color: #ffcc33;}
.copyright_interaction {float: right;}
.copyright_contact {margin-left: 111px; float: right;}
.copyright_contact h3 {height: 40px; line-height: 40px; margin: 10px 0; color: #999999; font-weight: normal; font-size: 14px;}
.copyright_contact p {color: #666666; font-size: 14px; margin-top: 5px; margin-bottom: 10px;}
.copyright .enterprise_link {height: 183px; width: 640px; margin-top: -5px;}
.copyright .enterprise_link ul {width: 100%; float: left; margin-bottom: 10px;}
.copyright .enterprise_link ul li{float: left; font-size: 14px; color: #666; margin-right: 20px;}
.copyright .enterprise_link ul li a {font-size: 14px; color: #666; text-decoration: none;}
.copyright .enterprise_link ul li a:hover {color: #ffcc33; text-decoration: underline;}
/*copybox*/
.copybox {width: 100%; height: 130px; background-color: #333333; margin: 0 auto; border-top: 1px solid #4d4d4d;}
.copybox_content {width: 1000px; margin: 0 auto;background-color: #333333; height: 130px; border-top: 1px solid #4d4d4d; padding: 0 5px; position: relative; top: -1px;}
.cp_link {width: 670px; padding-top: 40px; height: 80px; float: left;}
.cp_link p {color: #666; font-size: 12px; margin-top: 20px; height: 25px; line-height: 25px;}
.cp_link ul li {float: left; color: #666; font-size: 12px; margin-right: 10px;}
.cp_link ul li a{float: left; color: #666; text-decoration: none;}
.cp_link ul li a:hover {color: #ffcc33; text-decoration: underline;}
.cp_cppic {padding-top: 48px; height: 80px; float: right;}
.cp_cppic img {margin-left: 10px;}
.notice-fixed {z-index: 999;position: fixed;width: 100%;height: auto;margin: 0 auto;left: 0;right: 0;bottom: 0;min-width: 1000px;}
.notice-style {width: 1000px; height:auto; margin: 0 auto;}
.notice-title {text-align: left;font-weight: normal; font-size: 16px;color: #fc3;}
.notice-content {width: 100%;height: auto;line-height: 26px;font-size: 12px;color: #fc3;text-align: left;text-indent: 2em;min-height: 52px;}
.notice-close {display: block;width: 22px;height: 22px;background: url(../images/common-new/gongao-chacha.png) no-repeat;position: absolute; top: 10px; right: 0;}
.notice-content a { color: #fef700; text-decoration: underline;}
.hkicon { width:55px; height:24px;position: absolute; top: -25px; left: 28px;}
.fl_notic { width: 100%; height: auto; background: url(../images/common-new/noticbg.png) no-repeat; position: fixed; left: 0; bottom: 0; padding: 8px 0; min-width: 1000px;  border-top: 1px solid #b73c40;}
.fl_ntctn {width: 1000px;height:auto;margin: 0 auto;}
.fl_ntctn h3 { width: 100%; height: 22px; line-height: 22px; text-align: left; font-size: 12px; color: #fff;  font-weight: normal; }
.fl_ntctn div { width: 100%; height: auto; line-height: 26px; font-size: 12px; color: #fff; text-align: left; text-indent: 2em; min-height: 52px; }
.site-touming {background: url(../images/image/border.png) no-repeat; height: 15px; width: 100%;}
.gonggao-title-bj {background: #333; border-bottom: 1px solid #1a1a1a;}
.notice-title-bj {width: 1000px; margin: 0 auto; height: 40px; line-height: 40px; position: relative;}
.site-notice .nr {border-top: 1px solid #4d4d4d; background: #333; padding: 20px 0;}
.copy_yqlj {width: 100%; display: inline-block; margin-bottom: 10px;}
.copy_yqlj li a {font-size: 12px;}
/* weixin */
.follow .erweima .erweima-wxtk {position: absolute;top: -153px;left: -39px; height: 150px;}
.follow .erweima .erweima-wxtk img {height: 150px;}

/* 登录 sign */
#signin_box {width: 320px; height: 278px; position: fixed; top: 50%; left: 50%;}
#signin_box .center {width: 260px; margin: 0 auto;}
#signin_box .mode {margin-top: 20px;}
#signin_box .mode a {margin-right:20px; font-size: 16px; color: #000;}
#signin_box .mode a.on{color:#fc3; border-left: 1px solid #ccc; padding-left: 20px;}
#signin_box .mode a:hover{color:#fc3;}
#signin_box .sigin_ipctn input {width: 248px;height: 32px; line-height: 32px\9; vertical-align: middle; border: 1px solid #999; border-radius: 3px; font-size: 12px; padding-left: 10px; outline: none; color: #333; margin-bottom: 16px;}
#signin_box .warning{color:#fc3;height: 20px; margin-bottom: 4px; line-height: 20px; line-height: 20px\9;}
#signin_box .sigin_link a {color: #000;}
#signin_box .sigin_link a:hover {color: #fc3;}
#signin_box .center button {background: #fc3; width: 260px;height: 32px; line-height: 32px\9; vertical-align: middle; border: 1px solid #999; border-radius: 3px; font-size: 12px; padding-left: 10px; outline: none; color: #333; margin-top: 16px;}
#signin_box .center button:hover {background: #fe3; cursor: pointer;}



