* { margin:0;padding:0;border:0; font-size: 100%;}
body {font-family: '微软雅黑'; background: #fff;}
ul,li,ol,i,em { font-style: normal; list-style: none;}
/* top */
.top-title {width: 100%; height: 34px; background: #333333; border-bottom: 1px solid #1a1a1a;}
.topctn {width: 1000px; height: 34px; margin: 0 auto; position: relative; z-index: 20;}
.top_tel {width: auto; height: 34px; line-height: 34px; color: #999; font-size: 14px; float: left;}
.top_tel i {width: 20px; height: 22px; display: block; float: left; margin-top: 2px; margin-right: 2px;}
.topctn ul {float: right; width: auto; height: 20px; padding: 6px 0; overflow: hidden;}
.topctn ul li {display: block; width: auto; float: left; height: 14px; line-height: 14px; padding-left: 36px; margin: 3px 0;}
.topctn ul li a {font-size: 12px;color: #999; text-decoration: none;}
.topctn ul li a:hover {text-decoration: underline; color: #ffcc33;}
.topctn ul .sign_span {color: #666666;}
/*navbox*/
.navbox {width: 100%; height: 84px; z-index: 15; position: relative; border-top: 1px solid #4d4d4d; background-color: #333333;}
.nav {width: 1000px; height: 84px; margin: 0 auto; position: relative;}
.navlogo {float: left; margin-top: 20px;}
.navlist {width: auto; float: right; margin-top: 33px; font-style: normal; list-style: none;}
.navlist li {display:block; float: left; width: auto; margin: 0 18px; font-size: 16px;}
.navlist li a {text-decoration: none; color: #999;padding-top: 28px}
.navlist li a.on{color: #ffcc33; border-bottom:2px solid #ffcc33; padding-bottom: 26px;}
.navlist li a:hover {border-bottom:2px solid #ffcc33; color: #ffcc33;;cursor: pointer; padding-bottom: 26px;}
/*slide-box*/
.bannerlist {width: 100%; position: relative; height: 400px; overflow: hidden;}
.bannerlist .login {width: 1000px; margin: 0 auto; position: relative; height: 400px;}
.bannerlist .login .loginbox {width: 260px; height: 320px; background-color: #424242;float: right; margin-top: 40px;border-radius: 3px;}
.bannerlist .login .loginbox h3 {height: 40px;line-height: 40px; font-weight: normal; text-align: center; color: #999;margin-top: 10px;background-color: #333333;border-bottom: 1px solid #1a1a1a; font-size: 14px;}
.bannerlist .login .loginbox h3 a {float: right; text-decoration: none;color: #fc3; margin-right: 10px;}
.bannerlist .login .loginbox h3 a:hover {text-decoration:underline;}
.bannerlist .login .loginbox .lg_info {height: 226px; text-align: center; border-top: 1px solid #4d4d4d; border-bottom: 1px solid #1a1a1a;}
.bannerlist .login .loginbox .lg_info .yuei {color: #fc3; height: 80px; line-height: 80px;}
.bannerlist .login .loginbox .lg_info a.lg_chaopan{width: 220px; height: 34px; line-height: 34px; font-size: 16px; color: #333; background-color: #fc3; display: block; margin-left: 20px; border-radius: 4px; text-decoration: none;}
.bannerlist .login .loginbox .lg_info a.lg_chaopan:hover {background-color: #fe3;}
.bannerlist .login .loginbox .lg_time {font-size: 14px; color: #666; height: 24px; line-height: 24px; margin-top: 40px;}
.bannerlist .login .lg_ipctn {margin-top: 10px; position: relative;}
.bannerlist .login .lg_ipctn .user {background: url("../images/image/iPhone.png") no-repeat; width: 12px; height: 18px;position: absolute;left: 10px;top: 8px;}
.bannerlist .login .lg_ipctn .password {background: url("../images/image/password.png") no-repeat; width: 12px; height: 18px;position: absolute;left: 10px;top: 8px;}
.bannerlist .login .lg_ip {padding: 10px 20px 20px 20px; background-color: #333333; border-top: 1px solid #4d4d4d; border-bottom: 1px solid #1a1a1a;}
.bannerlist .login .lg_ipctn input {width: 170px; padding: 8px 10px 8px 40px; background-color: #424242; border-radius: 3px; color: #ffcc33; font-size: 14px;outline:none;}
.bannerlist .login .lg_btn button {margin-top:40px; display: block;width: 100%;height: 34px;line-height: 34px;text-align: center;font-size: 16px;color: #333333;background: #ffcc33;border-radius: 3px;cursor: pointer;}
.bannerlist .login .lg_btn button:hover {background-color: #ffee33;}
.bannerlist .login .lg_btn {width: 100%; height: auto;}
.bannerlist .login .lg_link{width: 220px; height: 18px;line-height: 18px; margin-top: 20px;}
.bannerlist .login .lg_link .left {float: left; color: #ffcc33;}
.bannerlist .login .lg_link .right {float: right; color: #ffcc33;}
.bannerlist .login .lg_link a {text-decoration: none; font-size: 14px;}
.bannerlist .login .lg_link a:hover {text-decoration: underline; color: #ffee33;}
.bannerlist .lg_bottom {width: 100%;height: 39px; background-color: #333333;border-top: 1px solid #4d4d4d;}
.slide_box {width: 100%; height: 400px; position: absolute;}
.slide_banner {width:1920px; /*图片宽度*/ position:absolute; left:50%; margin-left:-960px; /*图片宽度的一半*/}
.slide_box a {width: 100%;  height: 400px; position: absolute; display: block;}
.slide_box img { position: absolute;}
.ad_slider {position: absolute; width: 100%; text-align: center;z-index: 10; bottom: 10px;}
.ad_slider a{width: 29px; height: 29px; cursor: pointer; text-align: center; line-height: 29px; font-size: 16px; color: #000000; font-family: "Arial"; display: inline-block; text-decoration: none; background-color: #f9faf9; border-radius: 15px;}
.ad_slider a.on {color: red;}
/*content*/
.w_content {background-color: #ffcf3f; padding: 40px 0; height: 1000px;}
.w_center {width: 1000px;margin: 0 auto; background-color: #333333; height: 500px;border-radius: 5px;}
.w_center_border {border-top: 15px solid #424242; border-radius: 5px;}
.w_center_top {height: 80px;background-color: #333333;border-bottom: 1px solid #1a1a1a; margin-top: -5px;}
.w_content .left-shangzheng {float: left;width: 200px; color: #ffcc33; font-size: 20px; line-height: 80px; height: 80px; text-align: center;}
.w_content .right-gengxin{float: right; width: 800px;color: #666; font-size: 12px; padding-top: 15px;}
.w_content .right-gengxin p {margin-top: 5px;}
.w_content .right-gengxin .zs, .w_content .right-gengxin .jk {display: inline-block; text-align: right; width: 290px;}
.w_content .right-gengxin .fd, .w_content .right-gengxin .gxsj {display: inline-block; text-align: left; width: 297px; padding-left: 42px;}
#mainSqcp {float: right; text-decoration: none;color: #fc3;width: 70px;height: 28px;line-height: 28px;text-align: center; border: 1px solid #fc3; border-radius: 4px;margin-top: -31px;margin-right: 30px;}
#mainSqcp:hover {border: 1px solid #fe3; color: #333; background: #fe3;}
.w_content .w_center_xiangqing {border-top: 1px solid #4d4d4d;}
.w_content .left_xiangqing {float: left; width: 195px;height: 408px; overflow: scroll;overflow-x: hidden;}
.w_content .left_hidden {width: 195px;height: 700px;}
.w_content .left_xiangqing .on {background-color: #292929;}
.w_content .left_xiangqing .left_xiangmu {width: 190px;height: 80px;border-bottom: 1px solid #1a1a1a; border-top: 1px solid #4d4d4d;}
.w_content .left_xiangqing .left_xiangmu:hover {cursor: pointer;}
.w_content .left_xiangqing .left_xiangmu em {color: #999; float: left;width: 45%; font-size: 14px; height: 40px;line-height: 40px; padding-left: 5%;}
.w_content .left_xiangqing .on em {color: #ccc;background-color: #292929;}
.w_content .left_xiangqing .left_xiangmu span {float: left; width: 45%; font-size: 14px; height: 40px; line-height: 40px; padding-left: 5%;}
.w_content .right_xiangqing {float: right;}
/*huadongtiao*/
.left_xiangqing::-webkit-scrollbar {width: 5px; } /* 这是针对缺省样式 (必须的) */
.left_xiangqing::-webkit-scrollbar-track {background-color: #292929; } /* 滚动条的滑轨背景颜色 */
.left_xiangqing::-webkit-scrollbar-thumb {background-color: #ffcf3f; border-radius: 5px;} /* 滑块颜色 */
.left_xiangqing::-webkit-scrollbar-button {background-color: #292929; height: 0;} /* 滑轨两头的监听按钮颜色 */
.left_xiangqing::-webkit-scrollbar-corner {background-color: black;} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
.left_xiangqing {
    scrollbar-arrow-color: #292929; /*三角箭头的颜色*/
    scrollbar-face-color: #ffcf3f; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-3dlight-color: #292929; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #ffcf3f; /*滚动条的高亮颜色（左阴影？）*/
    scrollbar-shadow-color: #ffcf3f; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #292929; /*立体滚动条外阴影的颜色*/
    scrollbar-track-color: #292929; /*立体滚动条背景颜色*/
    scrollbar-base-color: #ffcf3f; /*滚动条的基色*/
}
/*end*/
.w-qihuo {width: 1000px;margin: 40px auto 0; height: 460px; background-color: #333333; border-radius: 5px;}
.w-qihuo .w-qihuo-title {height: 80px;border-bottom: 1px solid #1a1a1a; margin-top: -5px; background-color: #333333;}
.w-qihuo .w-qihuo-title h3 {color: #ffcc33; font-size: 20px; font-weight: normal; height: 80px; line-height: 80px; float: left; margin-left: 60px;}
.w-qihuo .w-qihuo-title a{padding: 5px;display: block;float: right; width: 58px;height: 16px;line-height: 16px;font-size: 12px;color: #ffcf3f;text-align: center;text-decoration: none; border: 1px solid #ffcf3f;border-radius: 5px; margin-top: 26px;margin-right: 30px;}
.w-qihuo .w-qihuo-title a:hover {background-color: #ffee33; color: #333; border: 1px solid #ffee33;}
.w-qihuo .w-qihuo-content {border-top: 1px solid #4d4d4d;}
.w-qihuo .w-qihuo-content .w-qihuo-caopan {float: left; width: 195px; height: 368px;border-right: 5px solid #292929;}
.w-qihuo .w-qihuo-content .w-qihuo-caopan .w-qihuo-img {text-align: center;padding: 20px 0;}
.w-qihuo .w-qihuo-content .w-qihuo-caopan p {font-size: 12px;padding-left: 10px; color: #666666; height: 18px; line-height: 18px; margin-bottom: 10px;}
.w-qihuo .w-qihuo-content .w-qihuo-caopan p > a{display: block;width: 98px;height: 26px; line-height: 26px; text-align: center; border: 1px solid #ffcf3f;font-size: 14px;color: #ffcf3f; border-radius: 3px; margin: 13px auto 0; text-decoration: none;}
.w-qihuo .w-qihuo-content .w-qihuo-caopan p > a:hover {background-color: #ffee33; color: #333333; border: 1px solid #ffee33;}
.w-qihuo .w-qihuo-content .w-qihuo-caopan p .gou {background: url("../images/image/gou.png") no-repeat; width: 12px; height: 12px;display: block; position: relative; float: left;padding-right: 5px; margin-top: 4px;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo {float: left; width: 260px; height: 368px;border-right: 5px solid #292929;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo h3 {width: 100%;height: 58px;line-height: 58px;text-align: center;font-size: 20px;color: #cccccc;font-weight: normal; }
.w-qihuo .w-qihuo-content .w-guopjiqihuo h4{width: 100%;height: 38px;line-height: 38px;text-align: center;font-size: 14px;color: #ffcc33;font-weight: normal;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo h4 i {font-size: 24px; padding: 0 2px;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo ul {margin-top: 30px;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo .chaopan a{color: #333333;background: #ffcc33; text-decoration: none; text-align: center; border-radius: 3px;font-size: 14px; height: 28px; line-height: 28px; width: 70px; display: inline-block;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo .chaopan a:hover {background-color: #ffee33;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo ul li {margin: 7px 0 7px 45px;color: #ccc;font-size: 12px;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo .money {margin-top: 30px;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo .money > p {font-size: 14px; color: #ffcc33; margin: 10px 0 0 70px;}
.w-qihuo .w-qihuo-content .w-guopjiqihuo .chaopan {text-align: center; margin-top: 11px;}
/*.safe*/
.safe {width: 100%; height: 270px; border-top: 10px solid #424242; border-bottom: 1px solid #1a1a1a; background-color: #333333;}
.safe .safelist {width: 1000px; margin: 0 auto;height: 270px;}
.safe .safelist ul li {float: left;width: 250px;text-align: center; padding-top: 60px;}
.safe .safelist ul li h2 {margin-top: 10px; color: #ffcc33; font-size: 16px;}
.safe .safelist ul li .safelist-lis {margin-top: 8px;color: #ffcc33; font-size: 14px;}
.safelist .safelist-img{width: 250px;height: 100px;}
.safelist img {-webkit-transition: all 1s linear;-moz-transition: all 1s linear;-o-transition: all 1s linear;-ms-transition: all 1s linear;transition: all 1s linear;}
.safelist img:hover {-webkit-transform: scale(-1,1);-moz-transform: scale(-1,1);-o-transform: scale(-1,1);-ms-transform: scale(-1,1);transform: scale(-1,1);}
/*xuanzhe*/
.xuanzhe {width: 100%; height: 298px; border-top: 1px solid #4d4d4d; background-color: #333333;}
.xuanzhelist {width: 850px; margin: 0 auto; height: 298px;}
.xuanzhelist .xuanzhe-title {color: #ffcc33; text-align: center; font-size: 20px; padding: 40px 0;}
.xuanzhelist .vs-img {position: relative;top: -38px; padding: 0 50px;}
/*notice*/
.notice {width: 100%; height: 46px; background-color: #333333;}
.notice_scroll {width: 985px;height: 16px;padding: 15px 0 15px 15px;margin: 0 auto; position: relative;}
.notice_scroll > a { margin-top: -6px;padding:5px;display: block;float: right;width: 58px;height: 16px;line-height: 16px;font-size: 12px;color: #ffcf3f;text-align: center; text-decoration: none;border: 1px solid #ffcf3f;border-radius: 5px;}
.notice_scroll > a:hover {background-color: #ffff33;color: #333333; border: 1px solid #ffee33;}
.notice_scroll ul {width: 760px;height: 16px;line-height: 16px;overflow: hidden;float: left;}
.notice_scroll ul li {display: block;float: left;width: 379px; text-align: left; height: 17px;line-height: 17px; font-size: 0; border-right: 1px dotted #ccc;}
.notice_scroll ul li a {text-decoration:none; margin-left:20px; float:left; display: inline-block; height: 16px;line-height: 16px;font-size: 14px;color: #ffcc33;overflow: hidden; padding-right: 20px;vertical-align: middle;text-overflow: ellipsis;white-space: nowrap;}
.notice_scroll ul li a:hover {text-decoration: underline;}
.notice_scroll ul li em {float:right; font-size: 14px; color: #666666; vertical-align: middle;}
.notice_scroll h2 {display: block;float: left;padding-right: 35px;padding-left: 10px;height: 16px;line-height: 16px;font-size: 14px;color: #ffcc33; font-weight: normal;border-right: 1px dotted #999999;}
.notice_scroll h2 i {background: url(../images/image/laba.png) no-repeat;position: absolute;width: 21px; height: 18px;left: 0; top: 14px;}
/*h_partner*/
.h_partner {width: 100%; height: 275px; background-color: #ffcc33; border-bottom: 10px solid #424242;}
.h_partner_content {width: 1000px; margin: 0 auto;}
.h_partner_content .h_chosetitle {text-align: center; font-size: 20px; padding: 40px 0; color: #333333;}
.h_partner_content img {margin: 0 5px 10px 5px;}
.h_partner .h_img {margin-top: 15px;}
.h_partner .h_img a:hover { cursor: default;}
/*copyright*/
.copyright {width: 100%; height: 205px; background-color: #333333; border-bottom: 1px solid #1a1a1a;}
.copyright_content {width: 1000px; margin: 0 auto;}
.copyright_link, .copyright_interaction, .copyright_contact {float: left;margin-top: 30px;}
.copyright_link ul {margin-top: 10px; width: 510px; height: 40px; line-height: 40px;}
.copyright_link ul li {float: left; margin-right: 20px; font-size: 14px; color: #666666;}
.copyright_link ul li a {font-size: 14px; color: #999; text-decoration: none;}
.copyright_link ul li a:hover {color: #ffcc33; text-decoration: underline;}
.copyright_link .weibo {background: url("../images/image/weibo.png") no-repeat; width: 40px; height: 40px; display: block;}
.copyright_link .weibo:hover {background: url("../images/image/weibo-on.png");}
.copyright_link .weixin {background: url("../images/image/weixin.png") no-repeat; width: 40px; height: 40px; display: block;}
.copyright_link .weixin:hover {background: url("../images/image/weixin-on.png");}
.copyright_interaction h3 {height: 40px; line-height: 40px; margin: 10px 0; color: #999999; font-weight: normal; font-size: 14px;}
.copyright_interaction p {margin-top: 5px;color: #666666; font-size: 12px;}
.copyright_interaction p a {color: #666666; font-size: 12px; text-decoration: none;}
.copyright_interaction p a:hover {text-decoration: underline; color: #ffcc33;}
.copyright_interaction {float: right;}
.copyright_contact {margin-left: 40px; float: right;}
.copyright_contact h3 {height: 40px; line-height: 40px; margin: 10px 0; color: #999999; font-weight: normal; font-size: 14px;}
.copyright_contact p {color: #666666; font-size: 12px; margin-top: 5px;}
/*copybox*/
.copybox {width: 100%; height: 120px; background-color: #333333; border-top: 1px solid #4d4d4d;}
.copybox_content {width: 1000px; margin: 0 auto;}
.cp_link {width: 670px; padding-top: 40px; height: 80px; float: left;}
.cp_link p {color: #666; font-size: 12px; margin-top: 20px; height: 25px; line-height: 25px;}
.cp_link ul li {float: left; color: #666; font-size: 12px; margin-right: 10px;}
.cp_link ul li a{float: left; color: #666; text-decoration: none;}
.cp_link ul li a:hover {color: #ffcc33; text-decoration: underline;}
.cp_cppic {padding-top: 40px; height: 80px; float: right;}
.cp_cppic img {margin-left: 10px;}
/* 底部公告 */
.notice-fixed {z-index: 999;position: fixed;width: 100%;height: auto;margin: 0 auto;left: 0;right: 0;bottom: 0;min-width: 1000px;}
/*.notice-absolute {width: 100%;height: auto;background: url(../images/common-new/noticbg.png) repeat;}*/
.notice-style {width: 1000px; height:auto; margin: 0 auto;}
.notice-title {text-align: left;font-weight: normal; font-size: 16px;color: #fc3;}
.notice-content {width: 100%;height: auto;line-height: 26px;font-size: 12px;color: #fc3;text-align: left;text-indent: 2em;min-height: 52px;}
.notice-close {display: block;width: 22px;height: 22px;background: url(../images/common-new/gongao-chacha.png) no-repeat;position: absolute; top: 10px; right: 0;}
.notice-content a { color: #fef700; text-decoration: underline;}
.hkicon { width:55px; height:24px;position: absolute; top: -25px; left: 28px;}
.fl_notic { width: 100%; height: auto; background: url(../images/common-new/noticbg.png) repeat; position: fixed; left: 0; bottom: 0; padding: 8px 0; min-width: 1000px;  border-top: 1px solid #b73c40;}
.fl_ntctn {width: 1000px;height:auto;margin: 0 auto;}
.fl_ntctn h3 { width: 100%; height: 22px; line-height: 22px; text-align: left; font-size: 12px; color: #fff;  font-weight: normal; }
.fl_ntctn div { width: 100%; height: auto; line-height: 26px; font-size: 12px; color: #fff; text-align: left; text-indent: 2em; min-height: 52px; }

.site-touming {background: #000; height: 10px; width: 100%; opacity: 0.5;}
.gonggao-title-bj {background: #333; border-bottom: 1px solid #1a1a1a;}
.notice-title-bj {width: 1000px; margin: 0 auto; height: 40px; line-height: 40px; position: relative;}
.site-notice .nr {border-top: 1px solid #4d4d4d; background: #333; padding: 20px 0;}

/* weixin */
.follow .erweima 
.erweima-wxtk {position: absolute;top: -156px;left: -44px;}


