@charset "utf-8";
/* CSS Document */

body,p,a,span,font,input {margin:0px; padding:0px; border:0px; font-family:"微软雅黑";}
li,ul { list-style:none;margin:0px; padding:0px; border:0px;}
.header {width:739px; height:42px;margin:20px auto;overflow:hidden }
.header ul{}
.header li{float:left;margin-right:13px}
.lg_promt { width:741px; font-size:12px;margin:10px auto 0;text-align:left;text-indent:3.3em;line-height:24px;color:#fff;height:24px;background:#fc3;}
.header #a1{background:url(../images/login/new_logo.png);display:block;width:104px;height:40px;margin-top:2px;cursor: text;}
.header #a2{background:url(../images/login/logo2.jpg);display:block;width:108px;height:33px;margin-top:5px;}
.header li p{ width:1px; height:32px; background:#ccc; margin:8px 0 0 0;}
.header li h3{font-size:28px;color:#333;margin:5px 0 0 0;font-weight: normal; height:33px; line-height:33px;}
#rightP{font-size:14px;float:right;padding-top:20px}
#rightP a{color:#fc3;text-decoration:none}
#rightP a:hover{text-decoration:underline}
.fl_uc_list li a {font-size: 14px;vertical-align: middle;color: #60bffb;}
.fl_uc_btn { width: 100%; text-align: center;}
.fl_uc_btn a { display: inline-block; width: 90%; height: 40px; font-size: 16px; color: #fff; text-align: center; line-height: 40px; margin: 0 auto; border-radius: 5px;background: #ff9c00;}
.fl_uc_btn a:hover { background:#e66803;}
.fl_uc_main { width: 100%; height: auto; margin: 30px 0 20px;}
/*注册*/
.register {border:1px solid #CCCCCC;width:739px; margin:0px auto; height:560px; clear:both;}
.register h3{font-weight:normal;border-bottom:2px solid #fc3;padding-bottom:7px;width:661px;margin-left:39px;margin-top:37px;font-size: 1.17em;}
.register form {margin:54px 147px}
.register .rg_l_ip {height:32px; *line-height:32px; line-height:32px\0; vertical-align: middle; width:258px;border:1px solid #999;border-radius:3px;font-size:12px;margin-left:18px;padding-left:10px;outline: none; color: #333;}
/* .register input.phone{background:url(../images/login/phone.png) no-repeat 245px 3px} */
.register input.rg_l_tlcode{width:151px}
.register .rg_l_ip:focus { border:1px solid #fc3;}
.register input.rg_l_iperror { border:1px solid #999;outline: none;}
.register .rg_list i.mobile-iphone {background: url(../images/login/iPhone.png) no-repeat; width: 12px; height: 18px; position: absolute; right: 235px; top: 8px;}
.register input.rg_l_password,.register input.{background:url(../images/login/password.png) no-repeat 245px 7px;outline: none;}
.register ul li {font-size:14px;width:590px;color:#545454;overflow:hidden; position:relative;margin-bottom:30px;}
.register #shortP{margin-left:30px}
.register ul li i{font-style:normal;color:#fc3;vertical-align: middle;display: inline-block;width: 10px;height: 34px;line-height: 40px;}
.register ul li label {display: inline-block; width: 60px; height: 34px; line-height: 34px; vertical-align: middle; text-align: right;}
.register #firstSpan{display:inline-block;width:152px;height:32px;border:1px solid #178E30;color:#178E30;text-align:center;line-height:32px;margin-left:11px;background:#D7EEDB;font-size:12px}
.register #secondSpan{display:inline-block;width:141px;height:32px;border:1px solid #FF4D4D;color:#FF4D4D;text-align:center;line-height:32px;margin-left:11px;background:#FFE4E5;font-size:12px}
.register .rg_l_codebtn {display:inline-block;width:103px;height:34px;background:#fc3;color:#333;line-height:32px;text-align:center;border-radius:3px;margin-left:4px;text-decoration:none}
.register .rg_l_codebtn:hover{background:#fe3;}
.register #huoqu2{display:inline-block;width:103px;height:34px;background:#999999;color:white;line-height:32px;text-align:center;border-radius:3px;margin-left:4px;text-decoration:none}
.register form a img{margin-left:90px}
.register #checkbox{position:relative;padding-left:30px;margin-left:80px;margin-bottom:28px}
.register #checkbox input{width:14px;height:14px;position:absolute;margin:1px -19px;}
.register #checkbox a{text-decoration:none;color:#3D9FE1}
.register #checkbox a:hover{text-decoration:underline}
.rg_l_promt {display:block; width:auto; height:32px; background:#fff; font-size:12px; color:#fc3; border:1px solid #fff; line-height:32px; padding:0 10px; position:absolute; left:380px; top:0;}
.rg_l_error {display:block; width:auto; height:32px; background:#fff; font-size:12px; color:#333; border:1px solid #fff; line-height:32px; padding:0 10px; position:absolute; left:380px; top:0;}
.rg_agree {width: 100%; height: 40px; line-height: 40px; margin-left: 100px;font-size: 14px; color:#444;}
.rg_agree input { margin-right:5px; }
.rg_agree a { color:#fc3;text-decoration:none;}
.rg_agree a:hover { text-decoration:underline;}
.rg_btn a { display:block; width:270px; height:40px; border:1px solid #fc3; background:#fc3;text-align: center;line-height: 40px; color: #333;border-radius: 5px; margin-left:100px; margin-top:10px; text-decoration:none; border:1px solid #333;}
.rg_btn a:hover { background:#fe3; border:1px solid #fe3;}
.footer {clear:both;margin-top:19px;margin-bottom:50px;height:20px; line-height:20px; background:none;}
.footer p {width:1080px;text-align:center; color:#999; font-size:14px; font-family:"微软雅黑"; margin:0px auto;}/*悬浮*/
.floatlayer {
  width: 1000px;
  height: 0;
  position: relative;
  margin: 0 auto;
  z-index: 20;
}
/*抵扣券弹框*/
.fl_mask {
	width: 100%;
	height: 1000px;
	position: fixed;
	top: 0;	
	left:0;		  
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 10;
}

.fl_box {
	width: 320px;
	height: auto;
	padding: 10px 10px 30px 10px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #e7e7e7;
	z-index: 1000;
	color: #666;
	position: fixed;
	left: 50%;
	top: 20%;
	margin-left: -15%;
	min-width: 320px;
}
.fl_uc_trade { width: 320px; min-width: 320px;}
.fl_navtitle {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #eff2f7;
}
.fl_navtitle h3 {
	width: 180px;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #666;
	text-align: center;
	border-bottom: 1px solid #f80;
	position: relative;
	top: 1px;
	float: left;
	font-weight: normal;
}
.fl_navtitle a.close {
	display: block;
	 width: 18px;
	height: 18px;
	background: url(../images/uc/close.gif) no-repeat;
	float: right;
	margin-top: 8px;
}
.fl_uc_main {
	width: 100%;
	height: auto;
	margin: 30px 0 20px;
}
.fl_uc_main p { width: 100%; height: 40px; text-align: left; font-size: 18px; color: #666; text-align: center;}
.fl_uc_main p.fl_uc_tptitle { font-size: 30px; color: #f96c04; margin-bottom: 30px; }
.fl_uc_main p i { color: #f98e04; font-size: 18px;}
.fl_uc_btn { width: 100%; text-align: center;}
.fl_uc_btn a.fl_rgtk { font-size: 14px; color: #67c3fc;  font-family: "宋体";}
.fl_uc_btn a {
	display: inline-block;
	width: 90%;
	height: 40px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin: 0 auto;
	border-radius: 5px;
}
.fl_uc_btn a:hover {
	text-decoration: none;
}
.fl_uc_surebtn { background: #ff9c00;}
.fl_uc_list li a { font-size: 14px; vertical-align: middle; color: #60bffb;}
.fl_uc_list li input {
  width: 165px;
  height: 34px;
  line-height: 34px\9;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #d3d3d3;
  font-size: 14px;
  vertical-align: middle;
  outline: none;
  margin-right: 10px;
  padding: 0 10px;
  color: #666;
}

.fl_uc_list li input { height: 40px;}
.fl_uc_list li img {
  vertical-align: middle;
}

/* 推广注册 */
.ks_header {height: 60px;line-height: 60px; background: #333; text-align: center; color: #999; font-size: 14px; }
.ks_header .ks_content {width: 1000px; margin: 0 auto; height: 60px;}
.ks_header .logo {float: left; margin-top: 10px;}
.ks_header .denglu {float: right;}
.ks_header .denglu a {color: #fc3; color: #fc3; text-decoration: none;}
.ks_header .denglu a:hover {text-decoration:underline}
.ks_zuce {width: 100%; position: relative; height: 360px; background: url("../images/login/ks_banner2.png") center center;}
.ks_zuce .ks_zuce_content {width: 1000px; margin: 0 auto; height: 360px; }
.ks_zuce .rg_ctn {float: right;width: 260px; height: 340px; margin-top: 10px; background: #333; border-radius: 4px;}
.ks_zuce .rg_ctn .tt {background: #424242; height: 20px; border-radius: 4px;}
.ks_zuce .rg_ctn .form {padding-top: 20px; height: 300px; margin-top: -10px; background-color: #333;}
.ks_zuce .rg_list li {list-style-type:none; text-align: center;height: 54px;}
.ks_zuce .rg_list li  input {width: 202px; padding: 9px;background-color: #fff8bb;border-radius: 4px;color: #333;font-size: 12px;outline: none;}
.ks_zuce .rg_l_codebtn {position: absolute; width: 90px; text-align: center; font-size: 12px; background: #fc3; height: 34px; line-height: 34px; border-radius: 4px; right: 20px;color: #333;text-decoration: none;}
.ks_why {background: #e64560; width: 100%; border-top: 20px solid #333; padding-bottom: 80px;}
.ks_why .ks_why_content {width: 1000px; margin: 0 auto;}
.ks_why .ks_why_js_1 {margin-top: 60px; background: url("../images/login/ks-zhucejs1.png"); width: 1000px; height: 30px; line-height: 30px; text-align: center; color: #fc3; font-size: 16px;}
.ks_why .ks_why_sxbs {background: url("../images/login/ks_why_sx.png"); width: 1000px; height: 91px;}
.ks_why .ks_why_sx {height: 61px; line-height: 61px; color: #ccc; font-size: 14px; text-align: center;}
.ks_why .ks_why_bt {height: 100px;margin-top: 30px;}
.ks_why .ks_why_bt h2 {height: 40px; line-height: 40px; color: #333; font-size: 20px;}
.ks_why .ks_why_bt p {height: 60px; line-height: 60px; color: #ccc; font-size: 14px;}
.ks_why .ks_why_btleft {float: left; background: url("../images/login/ks-zhucejs2.png"); width: 490px; height: 100px; text-align: center; color: #fc3;}
.ks_why .ks_why_btright {float: right; background: url("../images/login/ks-zhucejs2.png"); width: 490px; height: 100px; text-align: center; color: #fc3;}
.ks_why .ks_why_ys {height: 150px;margin-top: 30px; text-align: center;}
.ks_why .ks_why_ys > div {float: left; width: 247px; background: url("../images/login/ks-zhucejs3.png"); height: 150px; margin: 0 2px;}
.ks_why .ks_why_ys h2{height: 40px; line-height: 40px; color: #fc3; font-size: 20px; font-weight: normal;}
.ks_why .ks_why_ys p{line-height: 25px; color: #ccc; font-size: 14px;}
.ks_why .ks_why_td {height: 180px;margin-top: 30px; text-align: center;}
.ks_why .ks_why_td > div {float: left; width: 180px; background: url("../images/login/ks-zhucejs4.png"); height: 180px; margin-right: 25px;}
.ks_why .ks_why_td h2{height: 40px; line-height: 40px; color: #333; font-size: 20px; font-weight: normal;}
.ks_why .ks_why_td p{line-height: 25px; color: #ccc; font-size: 14px;}
.ks_zp {text-align: center;}
.ks_zp a {text-decoration: none; color: #333; font-size: 16px; background: #fc3; width: 240px; height: 40px; line-height: 40px; display: inline-block; border-radius: 4px; margin-top: 80px;}
.ks_zp a:hover {cursor: pointer; background: #fe3;}
::-webkit-input-placeholder { /* WebKit browsers */ color: #333;} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #333;} 
::-moz-placeholder { /* Mozilla Firefox 19+ */color: #333;} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #333;} 
.ks_footer {height: 60px; line-height: 60px; color: #666; background: #333; font-size: 12px;}
.ks_footer p{width: 1000px; margin: 0 auto;}
.ks_footer img {float: right; margin-top: 12px; margin-right: 15px;}
/* 成功 */
.ks-cg {background: url("../images/login/ks-zhucecg_bj.png"); height: 550px; width: 1000px; margin: 50px auto 0;}
.ks-cg .ks-cg_centent {width: 270px; margin: 0 auto;text-align: center; padding-top: 180px;}
.ks-cg .ks-cg_ts1 {color: #333; font-size: 28px; font-weight: bolder;}
.ks-cg .ks-cg_ts1 img {position: relative; top: 10px;}
.ks-cg .ks-cg_ts2 {color: #333; font-size: 16px; margin-top: 20px;}
.ks-cg .ks-cg_ts4 {color: #666; font-size: 12px; margin-top: 10px;}
.ks-cg .ks-cg_ts3 a{text-decoration: none;color: #333; width: 255px;display: inline-block;height: 34px;line-height: 34px;background: #fc3;border-radius: 4px;margin-top: 30px;}
.ks-cg .ks-cg_ts3 a:hover {background: #fe3;}
