@charset "utf-8";
/* CSS Document */

* { margin: 0; padding:0;}
img { border:none;}
a { text-decoration: none; }
a:hover { text-decoration: underline;}
ul,li,ol,i,em { list-style: none; font-style: normal;}
a{outline:none;blr:expression(this.onFocus=this.blur());}

.newsline {
	width: 100%;
	height: 15px;
	background: #eae9e9;
	min-width: 1000px;
}
.news {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0;
}
.newsbox { width:100%; height:auto; background:#fff;}
.news_siderbar {
	width: 254px;
	height: auto;
	float: left;
}
.news_siderbar h2 {
	width: 230px;
	height: 50px; 
	text-align: center;
	line-height: 50px; 
	font-size: 18px;
	color: #fff;
	background: #febd11;
	font-weight: normal;
	margin-bottom: 8px;
	
}
.news_siderbar h2 a { background: none; color: #fff; font-size: 18px; padding-left: 0; width: 230px; text-align: center;}
.news_siderbar h2 a.on { width: 230px;height: 50px; padding: 0; line-height: 50px; background: none; text-align: center; }
.news_siderbar a {
	display: block;
	width: 195px;
	height: 52px;
	line-height: 50px;
	padding-bottom: 2px;
	padding-left: 35px;
	background: url(../images/news/navbg.gif) no-repeat left center;
	font-size: 16px;
	color: #666;
	margin-bottom: 8px;
}
.news_siderbar a.on {
	width: 219px;
	height: 50px; 
	padding: 0 0 2px 35px;
	border-bottom: none;
	background: url(../images/news/navon.gif) no-repeat left center;
	color: #fff;
}
.news_siderbar a:hover { text-decoration: none;}
.uc_tpage { 
 	width: 100%;
 	height: 28px;
 	padding:12px 0;
 	background: #fbfbfb;
 	margin: 50px 0 20px;
	font-family: "宋体";
 }
 .uc_tpagenum {
 	width: auto;
 	height: 28px;
 	line-height: 28px;
 	float: left;
 	font-size: 0;
 }
 .uc_tpagenum i { vertical-align: middle; font-size: 14px;}
 .uc_tpagenum em { vertical-align: middle; font-size: 14px; color: #f80; vertical-align: middle; padding:0 10px;}
 .uc_tpagenum select { vertical-align: middle; width: 54px; height: 20px; border: 1px solid #abadb3; font-size: 12px; outline: none; margin: 0 10px;}

 .uc_tpagebtn { 
 	float: left;
 	width: 43px;
 	height: 24px;
 	padding: 1px;
 	border: 1px solid #f0f0f0;
 	background: #fff;
 	margin-left: 25px;
 }
 .uc_tpagebtn a {
 	display: block;
 	width: 43px;
 	height: 24px;
 	color: #fff;
 	background: #34b3e0;
 	text-align: center;
 	line-height: 24px;
	 font-size: 12px;
 }
 .uc_tpagebtn a:hover  {
 	text-decoration: none;
 }
.uc_repage { 
	width: 100%;
	height: 28px;
	text-align: right;
	margin: 60px  0 0;
}
.uc_repage li { 
	display:block;
	float:left;
	width: auto;
	height: 26px;
	margin: 0 3px;
	*margin:0 2px;
}
.uc_repage a { 
	display: inline-block;
	width: auto;
	height: 22px;
	line-height: 22px;
	background: #fff;
	border: 1px solid #ccc;
	color: #000;
	font-size: 14px;
	padding: 0 8px;
	
}
.uc_repage li.on { 
	border:none;
	height: 26px;
	
}
.uc_repage  li.on a {
	border: none;
	background: #f80;
	color: #fff;
	height: 24px;
	line-height: 24px;
	
}
.uc_repage li.out a { 
	border: 1px solid #eee;
	color: #d9d6c3;	
	
}
.uc_repage a:hover {
	text-decoration: none;	
}
.uc_tp_space {
	padding-left: 40px;
}
 .uc_tpagelist {
 	display:block;
 	width: auto;
 	margin: 0;
 	float: left;
 }

.news_mainbar {
	width: 703px;
	height: auto;
	float: right;
	padding: 0 20px 0 10px;
	border: 1px solid #eff2f7;
}
.news_mainbar h2 {
	width: 100%;
	height: 52px;
	line-height: 52px;
	text-align: center;
	font-size: 18px;
	color: #febd11;
	font-weight: normal;
	margin-bottom: 10px;
	border-bottom: 5px solid #eff2f7;
}
.news_newslist {
	width: 100%;
}
.news_newslist li {
	display: block;
	height: 52px;
	line-height: 52px;	
	font-size: 0;
}
.news_newslist li a {
	display: inline-block;
	width: 550px;
	height: 52px;
	line-height: 52px;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
	color: #666;
	float: left;
}
.news_newslist li a:hover {
	color: #34b3e0;
}
.news_newslist li i {
	display: inline-block;
	width: 120px;
	height: 52px;
	line-height: 52px;
	float: right;
	font-size: 14px;
	color: #666;
	text-align: right;
}
.news_title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-top: 12px;
	font-size: 0;
	border-bottom: 1px solid #eff2f7;
}
.news_title h3 {
	display: block;
	width: 600px;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	font-size: 18px;
	color: #333;
	text-align: left;
	float: left;
	font-weight: normal;
}
.news_title a {
	display: block;
	width: 90px;
	text-align: right;
	float: right;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	color: #778cb9;
	margin-top: 5px;
}
.news_ctn {
	width: 660px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 20px;
}
.news_ctninfo { width: 100%; height: auto;}
.news_ctninfo span { display: inline; line-height: 24px; font-size: 14px; color: #3e3e3e; font-family: "宋体"; }
.news_ctn h4 {
	width: 100%;
	height: 64px;
	line-height: 64px;
	font-size: 18px;
	color: #333;
	text-align: center;
	font-weight: normal;
	margin-top: 10px;
	border-bottom: 1px solid #eff2f7;
}
.news_ctntime { 
	border-top:1px solid #eff2f7;
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	color: #999;
	margin-bottom: 15px; }
.news_ctninfo { width:100%; height:auto;}
.news_ctninfo p,.news_ctninfo div { width: 100%; height: auto; text-indent: 2em;}
.news_ctninfo p a { color: #ff5c01;}
.news_ctntime {
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	color: #999;
	margin-bottom: 15px;
}
.news_ctn img {
	width: 100%;
}
.news_ctn p {
	width: 100%;
	height: auto;
	line-height: 24px;
	font-size: 14px;
	color: #3e3e3e;
	margin-bottom: 25px;
	font-family: "宋体";
}
.news_ctn p i {
	color: #ff5c01;
}
.news_cp {
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}
.news_cp img {
	width: 703px; 
	height: 120px;
	margin: 0 auto 12px;
} 
.news_cp h3 { 
	width: 100%; 
	height: 48px;
	line-height: 48px;
	background: url(../images/news/cp_titlebg.gif) no-repeat;
}
.news_cp h4 {
    width: 100%; height: 40px; line-height: 40px; font-size: 18px; font-family: "微软雅黑"; color: #333;
}
.news_cp h3 i {
	font-size: 18px;
	color: #333;
	padding-left: 30px;
	font-weight: normal;
}
.news_cp p {
	width: 687px;
	height: auto;
	line-height: 28px;
	font-size: 13px;
	color: #666;
	padding: 10px 8px;
	margin-bottom: 20px;
	text-indent: 2em;
}
.news_cp p b { font-weight: bold;}
.news_cp p span { text-indent: 2em; display: block;}
/*合作伙伴*/
.news_ptlist { 
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 10px 0;
}
.news_ptlist li {
	display: block; 
	float: left;
	margin: 14px 5px;
}

.news_ptlist li a { 
	display: block;
	width: 163px;
	height: 61px;
	border: 1px solid #f1f1f1;
}
.news_ptlist li a img { width: 163px; height: 61px;}
.news_ptlist li a:hover,.news_ptlist li.on a {
	border: 1px solid #ffab2c;
}
/*联系我们*/
.news_con {
	width: 100%;
	height: auto;
	padding: 0 0 20px;
}
.news_con p span { display: block; text-indent: 2em;}
.news_map {
	width: 703px;
	height: 270px;
}
.news_con h3 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #eff2f7;
	font-weight: normal;
	margin-top: 10px;
}
.news_con h4 {
	width: 100%;
	height: 34px;
	font-size: 14px;
	color: #333;
	text-align: left;
	font-weight: normal;
	line-height: 34px;
}
.news_con p {
	width: 100%;
	height: auto;
	line-height: 30px;
	font-size: 13px;
	color: #999;
	text-align: left;
}
.news_con ul {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.news_con ul li {
	display: block;
	float: left;
	padding-left: 63px;
	height: 148px;
	width: 120px;
}
.news_con ul li h5 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #909090;
	text-align: left;
	font-weight: normal;
}
.news_con ul li img {
	width: 108px;
	height: 108px;
}
.news_con_wb {
	background: url(../images/news/con_01.gif) no-repeat 3px center;
}
.news_con_wx {
	background: url(../images/news/con_02.gif) no-repeat 3px center;
	margin-left: 30px;
}
/*公司资质*/
.news_cpimglist {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 30px 0;
}
.news_cpimglist li {
	display: block;
	float: left;
	width: 222px;
	height: 200px;
	margin: 0 6px;
}
.news_cpimglist li a {
	display: block;
	width: 220px;
	height: 198px;
	border: 1px solid #f4f4f4;
	border-radius: 3px;
	text-align: center;
}
.news_cpimglist li a:hover {
	border: 1px solid #ffb341;
}
.news_cpimglist li a img { 
	margin-top: 8px;
}
.news_cpimglist li a:hover {
	text-decoration: none;
}
.news_cpimglist li a p {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #333;
	text-decoration: none;
}

 .floatlayer { width: 1000px; height: 0; font-size: 0; position: relative; margin: 0 auto; z-index: 10;}
.fl_mask {
	width: 100%;
	height: 1000px;
	position: fixed;
	top: 0;	
	left:0;		  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 10;
}

.fl_navtitle {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #eff2f7;
}
.fl_navtitle h3 {
	width: auto;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #666;
    padding: 0 10px;
	border-bottom: 1px solid #f80;
	position: relative;
	top: 1px;
	float: left;
	font-weight: normal;
}
.fl_navtitle a.close {
	display: block;
	 width: 18px;
	height: 18px;
	background: url(../images/public/close.gif) no-repeat;
	float: right;
	margin-top: 8px;
}
.fl_navtitle a.close:hover{
	background: url(../images/public/closehover.gif) no-repeat;
}
.fl_conimg {
	width: 1000px;
	height: auto;padding: 10px 10px 30px 10px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #e7e7e7;
	z-index: 1000;
	color: #666;
	position: fixed;
	left: 50%;
	margin-left: -500px;
	top: 10%;
}
.fl_box2 .fl_conimgctn img {
	width: 400px;
	height: 584px;
	display: block;
	margin: 0 auto;
	
}
.fl_box2 { top: 10%;}
.px_img { width: 703px; height: 161px; margin-bottom: 20px;}
.px_img img { width: 703px; height: 161px;}
.px_list { width: 100%; height: auto; overflow: hidden; margin-top: 20px;}
.px_list ol { display: block; width: 338px; height:120px; margin:0 13px 15px 0; float: left; overflow: hidden; background: #fafafa;}
.px_list ol .px_l_head { display: block; float: left; width: 95px; height: 120px;}
.px_list ol .px_l_head img { width: 95px; height: 120px;}
.px_list ol .px_l_info { display: block; float: right; width:235px; height: 120px; }
.px_list ol .px_l_info p { width: 100%; height: auto; line-height: 24px; font-size: 14px; color: #333; margin: 0; padding: 0; text-indent: 0;}
.px_list ol .px_l_info p label { display: block; float: left; width: auto; height: 24px; line-height: 24px;}
.px_list ol .px_l_info p a { display: block; float: left; width:165px; line-height: 18px; color: #f00; font-family: "Arial"; margin-top: 4px; }
.cp_piclist { padding-bottom: 15px;}
.cp_piclist img {  margin: 0; width: 703px; height: auto;}
.cp_pictitle { width: 100%; height: 30px; line-height: 30px; font-size: 18px; color: #fea711; font-family: "微软雅黑"; font-weight: normal; margin-top: 20px;}