.pagination {
            font-size: 100%;
            text-align: right; 
            height: 26px; overflow: hidden;
        }
        
.pagination a {
    text-decoration: none;
	color: #15B;
	 text-align: right; 
	border: solid 1px #AAE;
	text-align: right; 
	height: 24px; 
	line-height: 24px; 
	display: inline-block;
	padding: 0 8px;
}

.pagination a,.pagination span {
    
    float: none;
    margin-right: 5px;
	text-align: right; 
}

.pagination .current {
    background: #fc3;
    color: #333;
	border: solid 1px #fc3;
	text-align: right; 
	height: 24px; 
	line-height: 24px; 
	display: inline-block;
	padding: 0 8px;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
	text-align: right; 
}
