@charset "utf-8";
/* CSS Document */
* { margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
body{font-size:12px;font-family:'Microsoft YaHei';}

 a{text-decoration:none;}
.headernew .topmain{
	height:30px;
	border-top:1px solid #aaa;
	width:100%;
	background:#3d454e;
	color:#fff;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	min-width: 1000px;
	}
.headernew .topmain span{
	display:block;
	float: left;}
.headernew .topmain img{
	display:block;
	float: left;
	margin-top:6px;}
.headernew .topmain a{
	display:block;
	color:#fff;}
.headernew .topmain a:hover{
	text-decoration:underline;}
.headernew .topmain .fontwt18{
	font-size:20px;}
.headernew .topmain .fontyel{
	color:#fff100;}
.headernew .botmain{
	height:86px;
	background:url(../images/public/headerbg.jpg) repeat-x;
	width:100%;}
.headernew .botmain a{
	display:block;
	float:left;
	width:105px;
	height:60px;
	margin-top:12px;
	line-height:60px;
	text-align:center;
	color:#333;
	font-family:"微软雅黑";
	font-size:16px;
	cursor:pointer;
	}
.headernew .botmain a:hover { text-decoration: none;}
.headernew .botmain span{
	overflow:hidden;}
.headernew .botmain .mra{}
.headernew .botmain .dja{
	height:50px;
	border-bottom:2px solid #f08300;}



 .footer{background-color:#f7f7f7;padding-top:25px;border-top:1px solid #ddd;}
 .foot{background:#fff;border-top:0; padding-top: 0;}
 .footer .box{overflow:hidden;_zoom:1;border-bottom:1px solid #cbcbcb;padding-bottom:40px;padding-left:30px;}
 .footer dl{float:left;width:100px;background:url(ico.jpg) no-repeat;padding-left:35px;margin-left:50px;_margin-left:36px;}
 .footer .dl1{background-position:-200px -115px;}
 .footer .dl2{background-position:-200px -230px;}
 .footer .dl3{background-position:-200px -350px;}
 .footer .dl4{background-position:-200px 10px;}
 .footer .dl5{background-position:-200px -465px;}
 .footer dt{font-family:'微软雅黑';font-size:16px;margin:13px 0;color:#000;}
 .footer dd{line-height:18px;}
 .footer dd a{color:#666;}
 .footer dd a:hover{text-decoration:underline;}
 .footer .lucky{color:#999;border-top:1px solid #fdfdfe;text-align:center;line-height:28px;padding-bottom:50px;padding-top:30px;}
 .footer .lucky a{color:#999;}
 .footer .lucky a:hover{text-decoration:underline;}

 .center1000{width:1000px;margin:0 auto;}
 .mgt20{margin-top:20px!important;}
 .mgt30{margin-top:30px!important;}
 .mglt10{margin-left:10px!important;}
 .mglt20{margin-left:20px!important;}
 .mglt30{margin-left:30px!important;}
 .mglt5{margin-left:5px!important;}
 .mgrt5{margin-right:5px!important;}
 .mglt65{margin-left:65px!important;}
 .mglr5{margin:0 5px!important;}
 .mglr5{margin:0 5px!important;}
 .fr{ float:right;}
 .floatlayer { width: 1000px; height: 0; font-size: 0; position: relative; margin: 0 auto; z-index: 20;}

/*弹出框*/
.fl_mask {
	width: 100%;
	height: 1000px;
	position: fixed;
	top: 0;	
	left:0;		  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 20;
}
.fl_box {
	width: 30%;
	height: auto;
	padding: 10px 10px 30px 10px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #e7e7e7;
	z-index: 1000;
	color: #666;
	position: fixed;
	left: 50%;
	top: 20%;
	margin-left: -15%;
	min-width: 400px;
}
.fl_navtitle {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #eff2f7;
}
.fl_navtitle h3 {
	width: 130px;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #666;
	text-align: center;
	border-bottom: 1px solid #fc3;
	position: relative;
	top: 1px;
	float: left;
}
.fl_navtitle a.close {
	display: block;
	 width: 18px;
	height: 18px;
	background: url(../images/public/close.gif) no-repeat;
	float: right;
	margin-top: 8px;
}
.fl_navtitle a.close:hover{
	background: url(../images/public/closehover.gif) no-repeat;
}
.fl_uc_main {
	width: 100%;
	height: auto;
}
.fl_loginbtn {
	width: 295px;
	height: 38px;
	overflow: hidden;
	margin: 0 auto;
}
.fl_navtitle h3.fl_logintitle {
	border-bottom: none;
	text-align: left;
	font-weight: normal;
}
.fl_loginbtn a {
	width: 295px;
	height: 38px;
	display: block;
	font-size: 16px;
	color: #fff;
	line-height: 38px;
	text-align: center;
	background: url(../images/public/loginbtn.gif) 0 0;
}
.fl_loginbtn a:hover{
	text-decoration: none;
	background: url(../images/public/loginbtn.gif) 0 -38px;
}
.fl_login {
	width: 295px;
	height: auto;
	margin: 30px auto 0;
	font-family: "宋体";
}
.fl_login li {
	display: block;
	width: 100%;
	height: 42px;
	line-height: 42px;
	position: relative;
	margin-bottom: 28px;
	font-size: 0;
}
.fl_lg_ip {
	width: 222px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	border-top: 1px solid #d3d3d3;
	padding: 10px 20px 10px 50px;
	outline: none;
	font-size: 16px;
	color: #666;
	vertical-align: middle;
}
.fl_lg_code {
	width: 130px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	border-top: 1px solid #d3d3d3;
	padding: 10px 20px 10px 20px;
	outline: none;
	font-size: 16px;
	color: #666;
	vertical-align: middle;
}
.fl_lg_ip:focus,.fl_lg_code:focus {
	border: 1px solid #34b3e0;
}
.fl_login li em {
	font-size: 16px;
	color: #e0e0e0;
	position: absolute;
	left: 55px;
	top: 0;
}
.fl_login li em.fl_lg_codefont {
	left: 20px;
}
.fl_login li i {
	display: block;
	width: 15px;
	height: 18px;
	position: absolute;
	left: 18px;
	top: 11px;
}
@-moz-document url-prefix() {
	.fl_login li em { top: 3px;}
	.fl_login li i { top: 15px;}
}
.fl_lg_codeimg {
	width: 110px;
	height: 40px;
	vertical-align: middle;
	margin-left: 10px;
}
.fl_lg_user {
	background: url(../images/public/icon_01.gif) no-repeat;
}
.fl_lg_password {
	background: url(../images/public/icon_02.gif) no-repeat;
}
.fl_loginfont {
	width: 295px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	margin: 22px auto 5px;
}
.fl_loginfont a {
	display: block;
	width: 60px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #34b3e0;
}
.fl_loginfont a.fr {
	margin-top: -24px;
}