.quotation_title {height: 60px; line-height: 60px; background: #333; border-bottom: 1px solid #1a1a1a;}
.quotation_title img {margin-top: 10px; margin-left: 10px; float: left;}
.quotation_title .quotation_anniu {float: right;}
.quotation_title .quotation_anniu input {margin-right: 10px; outline: none; border: 1px solid #4d4d4d; border-radius: 4px; padding: 5px 10px; width: 130px; background: #1a1a1a; color: #666;}
.quotation_title .quotation_anniu button a{border: 1px solid #ffb319; border-radius: 4px; text-decoration: none; display: block; background: #ffb319; color: #333; height: 28px; line-height: 28px; line-height: 28px\9; width: 60px; text-align: center;}
.quotation_title .quotation_anniu button a:hover {background: #ff9f19; border: 1px solid #ff9f19;}
.quotation_title .quotation_anniu button {background: #333; margin-right: 10px; }
.quotation_title .backPassword {color: #ffb319; margin-right: 10px;}

.quotation_center {width: 100%; height: 860px;}
 #left {float: left; width: 205px; height: 860px; background-color: green;}
#content {/* background-color: orange; */  margin-left: 205px;height: 860px;/*==等于左边栏宽度==*/}
.quotation_center .center_futures {height: 48px; line-height: 48px; border-top: 1px solid #4d4d4d; border-bottom: 1px solid #1a1a1a; background: #333;}
.quotation_center .center_futures input {outline: none; border: 1px solid #4d4d4d; border-radius: 4px; padding: 5px 10px 5px 30px; width: 195px; background: #1a1a1a; color: #666; margin-top: 10px; margin-left: 10px}
#left .futuresList {height: 810px; background: #eee;}
#left .futuresList ul{background: #333; width: 205px; height: 80px; border-bottom: 1px solid #1a1a1a; border-top: 1px solid #4d4d4d;}
#left .futuresList ul.on {background: #1a1a1a;}
#left .futuresList ul li{float: left;}
#content .quotation_echarts {width: 100%; height: 583px;  background-color: #ddd;}
#content .quotation_transaction {border-top: 5px solid #1a1a1a;}
#content .quotation_transaction .quotation_type{float:left; width: 345px; height: 272px; border-right: 1px solid #1a1a1a; background: #333333;}
#content .quotation_transaction .quotation_detailed{height: 272px; margin-left: 346px; background-color: #333;}
/* 最小屏 1366 */
@media screen and (max-width: 1366px) {
	.quotation_title {width: 1349px;}
	.quotation_center {width: 1349px;}
	#content .quotation_echarts {
		width: 1144px;
	}
	#content .quotation_transaction .quotation_detailed {
		width: 798px;
	}
}
/* 买入卖出 */
#content .quotation_transaction .quotation_type .quotation_p {width: 280px; height: 35px; line-height: 35px; margin: 0 auto;}
#content .quotation_transaction .quotation_type .quotation_p label {float: left; font-size: 14px; color: #999;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr {float: left; margin-left: 23px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr select{margin-top: 5px; outline: none; background: #1a1a1a; color: #ccc; width: 200px; height: 28px; border: 1px solid #4d4d4d; border-radius: 4px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr select option{}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr input[type="radio"] {margin-right:10px;}
#content .quotation_transaction .quotation_type .money_sj {background: #1a1a1a; color: #ccc; width: 198px; height: 28px; border: 1px solid #4d4d4d; border-radius: 4px; text-align: center; line-height: 28px}
#content .quotation_transaction .quotation_type .money_sjsl input{outline: none; background: #1a1a1a; color: #ccc; width: 198px; height: 28px; border: 1px solid #4d4d4d; border-radius: 4px; text-align: center; line-height: 28px;}
#content .quotation_transaction .quotation_type .money_sjsl span {}
#content .quotation_transaction .quotation_type .money_sjsl {position: relative;}
#content .quotation_transaction .quotation_type .money_sjsl .add{position: absolute; color:#ccc; right:0; border-left: 1px solid #4d4d4d; line-height: 28px; top: 5px; padding: 0 15px;}
#content .quotation_transaction .quotation_type .money_sjsl .del{position: absolute; color: #ccc; left: 0; border-right: 1px solid #4d4d4d; line-height: 28px; top: 5px; padding: 0 15px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr ul {float: left; width: 95px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr .mairu {border-radius: 4px; background: #ff4040; text-align: center; color: #fff;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr .maichu {border-radius: 4px; background: #29a629; text-align: center; color: #fff;}
/* 持仓 */
.quotation_detailed ul li {float: left;}
.quotation_detailed .quotation_detailed_lis a {padding: 0 20px; color: #999; text-decoration: none;}
.quotation_detailed .quotation_detailed_lis a:hover {color: ffb319; cursor: pointer;}
.quotation_detailed .quotation_detailed_lis a.on{color: ffb319;}
.quotation_detailed .quotation_detailed_lis {border: 1px solid #1a1a1a; font-size: 14px; color: #4c4c4c; padding: 7px 0;}
.quotation_detailed .quotation_detailed_title .tab_lis{font-size: 12px; color: #999; height: 35px; line-height: 35px;}
.quotation_detailed .quotation_detailed_title .tab_content {font-size: 12px; color: #ccc; height: 35px; line-height: 35px;} 
.quotation_detailed .quotation_detailed_title li {width: 70px;}
.quotation_detailed .quotation_detailed_title {height: 176px; overflow-y: scroll;}
.quotation_detailed .quotation_detailed_qx {height: 60px;  line-height: 60px; border-top: 1px solid #1a1a1a;}
.quotation_detailed_qx {color: #999; font-size: 14px;}
.quotation_detailed_qx label span{color: #ccc;}
.quotation_detailed_qx label{margin-right: 30px;}
.quotation_detailed_qx a{width: 90px; height: 30px; line-height: 30px; display: inline-block; background: #ffb319; text-align: center; text-decoration: none; color: #333; border-radius: 4px;}

