.quotation_title {height: 60px; line-height: 60px; background: #333; border-bottom: 1px solid #1a1a1a;}
.quotation_title img {margin-top: 10px; margin-left: 10px;}
.quotation_title .quotation_anniu {float: right; position: relative;}
.quotation_title .quotation_anniu input {margin-right: 10px; outline: none; border: 1px solid #4d4d4d; border-radius: 4px; padding: 5px 10px; width: 130px; background: #1a1a1a; color: #666;}
.quotation_title .quotation_anniu button a{text-decoration: none; color: #ffb319; height: 28px; line-height: 28px; line-height: 28px\9;}
.quotation_title .quotation_anniu button a:hover {text-decoration: underline;}
.quotation_title .quotation_anniu button {background: #333; margin-right: 10px; color: #ccc;}
.quotation_title .backPassword {color: #ffb319; margin-right: 10px;}
/* 登录更多账号  */ 
#more_account {position: absolute; width:130px; background: #ffffff; z-index: 9; top: 43px; border-radius: 4px;}
#more_account p {height: 26px; line-height: 26px; border-radius: 4px; padding-left: 11px;}
#more_account p:hover {background: #ccc; cursor: pointer;}
/* 滚动条 */
#gdt{height: 687px;}
.zUIpanelScrollBox,.zUIpanelScrollBar{width:10px; top:4px; right:2px; border-radius:5px; }
.zUIpanelScrollBox{background:black;opacity:0.1;filter:alpha(opacity=10);}
.zUIpanelScrollBar{background:#0d0d0d;filter:alpha(opacity=80);}
.test{width:800px;border:1px solid red;margin:0 auto;padding:20px;}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}

.gdt1, .gdt2, .gdt3, .gdt4, .gdt5 {height: 120px; overflow: hidden;}
/* 滚动条 */
.quotation_center {width: 100%; height: 737px; background: #666;}
#left {float: left; width: 205px; height: 737px;}
#content {position: relative; margin-left: 205px;height: 737px;/*==等于左边栏宽度==*/ border-left: 5px solid #1a1a1a;}
#content .stretch, #content .stretch1 {position: absolute; z-index: 9; top: 430px; left: -5px;}
#content .stretch:hover ,#content .stretch1:hover {cursor: pointer;}
.quotation_center .center_futures {height: 48px; line-height: 48px; border-top: 1px solid #4d4d4d; border-bottom: 1px solid #1a1a1a; background: #333;}
.quotation_center .center_futures input {outline: none; border: 1px solid #4d4d4d; border-radius: 4px; padding: 5px 10px 5px 30px; width: 195px; background: #1a1a1a; color: #666; margin-top: 10px; margin-left: 10px}
#gdt {background: #eee; overflow: hidden;}
#left .futuresList ul{background: #333; width: 205px; height: 82px; border-bottom: 1px solid #1a1a1a; /* border-top: 1px solid #4d4d4d; */}
#left .futuresList ul:hover {cursor: pointer;}
#left .futuresList ul.on {background: #1a1a1a;}
#left .futuresList ul.rise {background:url("../images/commodity_rise.gif");}
#left .futuresList ul.fall {background:url("../images/commodity_fall.gif");}
#left .futuresList ul li{float: left; width: 92px; line-height: 41px; height: 41px; font-size: 14px;}
#left .futuresList .futures_name {padding-left: 10px; color: #999; line-height: normal;}
#left .futuresList .futures_bm {font-size: 12px; color: #666;}
#left .futuresList .futures_mz {margin-top: 5px;margin-top: 2px; display: inline-block;}
#left .futuresList .qlast {padding-right: 10px; text-align: right;}
#left .futuresList .futures_number {padding-left: 10px; color: #999;}
#left .futuresList .scal {padding-right: 10px; text-align: right;}
#left .futuresList ul.on .futures_mz {color: #ccc;}
#left .futuresList ul.on .futures_number {color: #ccc;}

#content .quotation_echarts {width: 100%; height: 460px;  background-color: #303030;}
#content .quotation_transaction {border-top: 5px solid #1a1a1a; position: absolute; width: 100%;}
#content .quotation_transaction .quotation_type{float:left; width: 346px; height: 272px; border-right: 1px solid #1a1a1a; background: #333333;}
#content .quotation_transaction .quotation_detailed{height: 272px; margin-left: 346px; background-color: #333;}
#right{float: right; width: 314px; height: 459px; background-color: #333; border-left: 1px solid #1a1a1a; border-top: 1px solid #4d4d4d;}
#content2 {margin-right: 320px; height: 460px;}
#right .right_title {height: 48px; line-height: 48px;border-bottom: 1px solid #1a1a1a; background: #333;}
#right .right_lis {font-size: 16px; text-align: center; color: #ccc; height: 48px; background: #404040; line-height: 48px; position: relative; z-index: 1; top: -1px;}
#right .right_tab ul {display: inline-block; width: 100%;height: 25px; line-height: 25px;}
#right .right_tab ul li {float:left; font-size: 14px; }
#right .right_tab ul .right_tab_zxj {color: #999; width: 50px; margin-left: 10px;}
#right .right_tab ul .right_tab_zxjq {width: 90px; margin-left: 10px; color: #ccc;}
#right .right_tab ul .right_tab_zj {color: #999; width: 50px; margin-left: 18px;}
#right .right_tab ul .right_tab_zjl {color: #ccc; width: 70px; text-align: right; margin-right: 10px;}
#right .right_tab ul .right_tab1_left {color: #999; width: 50px; margin-left: 10px;}
#right .tab1 ul .right_tab1_left {color: #999;}
#right .tab2 ul .right_tab1_left {color: #999;}
#right .right_tab ul .right_tab1_center {width: 200px; color: #ccc; text-align: center;}
#right .right_tab ul .right_tab1_right {color: #999; width: 38px; text-align: right; margin-right: 10px;}
#footer {background: #333; text-align: center;width: 100%; font-size: 14px; color: #666; border-top: 1px solid #1a1a1a; height: 37px; line-height: 37px;}
/* 最小屏 1366 */
@media screen and (max-width: 1366px) {
    .quotation_title {width: 1366px;}
    .quotation_center {width: 1366px;}
    #footer {width: 1366px;}
    #content .quotation_echarts {
        /* width: 1144px; */
    }
    #content .quotation_transaction .quotation_detailed {
        /* width: 798px; */
    }
    .chart-component .gcrow {width: 841px;}
}
/* 买入卖出 */
#content .quotation_transaction .quotation_type .quotation_p {width: 280px; height: 36px; line-height: 35px; margin: 0 auto;}
#content .quotation_transaction .quotation_type .quotation_p label {float: left; font-size: 14px; color: #999;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr {float: left; margin-left: 23px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr label:hover {cursor: pointer;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr select{margin-top: 5px; outline: none; background: #1a1a1a; color: #ccc; width: 200px; height: 28px; border: 1px solid #4d4d4d; border-radius: 4px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr select option{}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr input[type="radio"] {margin-right:10px;}
#content .quotation_transaction .quotation_type .money_sj {background: #1a1a1a; color: #ccc; width: 198px; height: 26px; border: 1px solid #4d4d4d; border-radius: 4px; text-align: center; line-height: 26px; margin-top: 5px;}
#content .quotation_transaction .quotation_type .money_js {position: relative;}
#content .quotation_transaction .quotation_type .money_js .del{position: absolute; color: #ccc; left: 0; border-right: 1px solid #4d4d4d; line-height: 26px; top: 5px; padding: 0 15px;}
#content .quotation_transaction .quotation_type .del:hover {cursor: pointer;}
#content .quotation_transaction .quotation_type .add:hover {cursor: pointer;}
#content .quotation_transaction .quotation_type .money_js .add {position: absolute; color: #ccc; right: 0; border-left: 1px solid #4d4d4d; line-height: 26px; top: 5px; padding: 0 15px;}
#content .quotation_transaction .quotation_type .money_js input {margin-top: 5px;outline: none; background: #1a1a1a; color: #ccc; width: 198px; height: 26px; border: 1px solid #4d4d4d; border-radius: 4px; text-align: center; line-height: 28px;}
#content .quotation_transaction .quotation_type .money_sjsl input{outline: none; background: #1a1a1a; color: #ccc; width: 198px; height: 28px; border: 1px solid #4d4d4d; border-radius: 4px; text-align: center; line-height: 28px;}
#content .quotation_transaction .quotation_type .money_sjsl span {}
#content .quotation_transaction .quotation_type .money_sjsl {position: relative;}
#content .quotation_transaction .quotation_type .money_sjsl .add{position: absolute; color:#ccc; right:0; border-left: 1px solid #4d4d4d; line-height: 28px; top: 5px; padding: 0 15px;}
#content .quotation_transaction .quotation_type .money_sjsl .del{position: absolute; color: #ccc; left: 0; border-right: 1px solid #4d4d4d; line-height: 28px; top: 5px; padding: 0 15px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr ul {float: left; width: 95px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr .mairu {border-radius: 4px; background: #ff4040; text-align: center; color: #fff;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr .maichu {border-radius: 4px; background: #30bf30; text-align: center; color: #fff;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr ul li {height: 25px; line-height: 25px;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr .mairu:hover {cursor: pointer; background: #e65639;}
#content .quotation_transaction .quotation_type .quotation_p .quotation_type_fr .maichu:hover {cursor: pointer; background: #29a629;}
/* 持仓 */
.quotation_detailed ul li {float: left;}
.quotation_detailed .quotation_detailed_lis a {padding: 0 20px; color: #999; text-decoration: none;}
.quotation_detailed .quotation_detailed_lis a:hover {color: #ffb319; cursor: pointer;}
.quotation_detailed .quotation_detailed_lis a.on{color: #ffb319;}
.quotation_detailed .quotation_detailed_lis {border-bottom: 1px solid #1a1a1a; font-size: 14px; color: #4c4c4c; padding: 7px 0;}
.quotation_detailed .quotation_detailed_title .tab_lis{font-size: 12px; color: #999; height: 30px; line-height: 30px;}
.quotation_detailed .quotation_detailed_title .tab_content {font-size: 12px; color: #ccc; height: 30px; line-height: 30px;}
.quotation_detailed .quotation_detailed_title .tab_content.even{background: #404040;}
.quotation_detailed .quotation_detailed_title .tab_content:hover {background: #4d4d4d; cursor: pointer;}
.quotation_detailed .quotation_detailed_title .tab_content.on{background: #4d4d4d;}
.quotation_detailed .quotation_detailed_title li {width: 70px; height: 30px;  line-height: 30px;}
.quotation_detailed .quotation_detailed_title .ml {padding-left:20px;}
/* .quotation_detailed .quotation_detailed_title {height: 116px; overflow-y: scroll;} */
.quotation_detailed .quotation_detailed_qx {margin-top: 60px; height: 60px; border-top: 1px solid #1a1a1a;}
.quotation_detailed_qx {color: #999; font-size: 14px;}
.quotation_detailed_qx label span{color: #ccc;}
.quotation_detailed_qx label{margin-left: 10px; width: 125px; display: inline-block; line-height: 22px; padding: 6px 0;}
.quotation_detailed_qx a{position: relative; top: -10px; width: 90px; height: 30px; line-height: 30px; display: inline-block; background: #ffb319; text-align: center; text-decoration: none; color: #333; border-radius: 4px;}
.quotation_detailed_qx a:hover {background: #ff9f19;}
.quotation_detailed .quotation_detailed_title .caozuo {position: absolute; bottom: -45px; left: 14px;}
.quotation_detailed .quotation_detailed_title .caozuo li {margin: 0 5px;}
.quotation_detailed .quotation_detailed_title .caozuo a{font-size: 14px; text-decoration: none; height: 28px; line-height: 28px; background: #1a1a1a; color: #ccc; display: block; border: 1px solid #1a1a1a; border-radius: 4px; text-align: center;}
.quotation_detailed .quotation_detailed_title .caozuo a:hover {background: #000;}
#show_user_info {position:relative; color: #ccc;}
#show_user_info .show_user_ul {float: right; position: absolute; top: 50px; right: 15px; width: 100px; z-index: 9;}
#show_user_info .show_user_ul li {padding: 0;height: 28px; line-height: 28px;}
#show_user_info .show_user_ul li a {color: #666; width: 100px; display: inline-block; background: #1a1a1a; height: 28px; line-height: 28px; text-align: center;}
#show_user_info .show_user_ul li a:hover {cursor: pointer; color: #ffb319; text-decoration: none;}
#show_user_info .quotation_xl:hover {cursor: pointer;}
#top_username {color: #ffb319;}
#show_user_info button {margin-left: 10px; border: 1px solid #ffb319; border-radius: 4px; text-decoration: none; background: #ffb319; color: #333; height: 28px; line-height: 28px; line-height: 28px\9; width: 60px; text-align: center;}
#show_user_info button:hover{background: #ff9f19; border: 1px solid #ff9f19; cursor: pointer;}
#qiehuan {font-size: 14px; color: #999; position: absolute; right: 0; height: 48px; line-height: 48px; border-bottom: 1px solid #1a1a1a; background: #333333; width: 100%;}
#qiehuan ul {float: left; z-index: 2; position: absolute; width: 100%; border-bottom: 1px solid #1a1a1a;}
#qiehuan ul li {float: left; margin: 0 10px;}
#qiehuan ul li:hover {color: #ffb319; cursor: pointer;}
#change input {outline: none; border: 1px solid #4d4d4d; border-radius: 4px; padding: 5px 10px 5px 10px; width: 195px; color: #666; margin-top: 10px; margin-left: 10px;}

/* 插件行情 */
.dropdown,.dropup{position:relative}
.dropdown-menu{position:absolute;z-index:1000;display:none;}
.dropdown-menu>li>a{display:block;white-space:nowrap}
.open>.dropdown-menu{display:block; background: #1a1a1a; margin-left: 1px;}
.dropdown-header{display:block;}
.indicators {display: none;}
.btn-default {color: #666; background-color: #1a1a1a; border-color: #ccc;}
.btn {display: inline-block;height: 47px; width: 100px; margin-bottom: 0; font-size: 14px;font-weight: 400;line-height: 47px;text-align: center;
    cursor: pointer;background-image: none;border: 1px solid transparent; border-radius: 4px;white-space: nowrap;vertical-align: middle;
    -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none;
    -ms-touch-action: manipulation; touch-action: manipulation; margin-left: 1px; outline: none;}
.caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent;/*  background: #fff; */}
.open>.dropdown-menu li {list-style-type: none; width: 90px; height: 30px; line-height: 30px; padding-left: 10px;}
.open>.dropdown-menu li:hover {background-color: #666;}
.open>.dropdown-menu li a {color: #999; text-decoration: none;}
.open>.dropdown-menu li.dropdown-header {display: none;}

/* 弹出层  */
.tck01 {width: 360px; position: fixed;}
.tck01 .smain {padding: 15px 0px 15px 10px;}
.tck01 .navtitle .close {margin-right: 10px;}
.tck01 .anniu a {margin-left: 0; width: 140px; height: 40px; line-height: 40px; display: inline-block; text-align: center; text-decoration: none; cursor: pointer;}
.tck01 .anniu .sure {background: #ffb319; color: #333; font-size: 16px; border-radius: 4px; margin-left: 12px;}
.tck01 .anniu .sure:hover {background: #ff9f19;}
.tck01 .anniu .cancel {background: #ccc; color: #333; font-size: 16px; border-radius: 4px; margin-left: 55px;}
.tck01 .anniu .cancel:hover {background: #b3b3b3;}
.smain > div {padding: 10px 18px; line-height: 22px; line-height: 22px\9; }

/* 登录弹出层 */
#signLogin {width: 360px; height: 430px; background: #fff; z-index: 1000; position: fixed; border-radius: 4px;}
#signLogin .signLogin_mode .signLogin_all {display: none; padding: 30px;}
#signLogin .p1 {border-bottom: 1px solid #e6e6e6; height: 60px; line-height: 60px; padding: 0 15px;}
#signLogin .p1 span {margin: 0 15px; color: #333; font-size: 16px; padding: 5px 0;}
#signLogin .p1 span.on {color: #ffb319;}
#signLogin .p1 span:hover {color: #ffb319; cursor: pointer;}
#signLogin .p1 i {font-size: 14px; position: relative; top: -1px; color: #e6e6e6; left: -118px;}
#signLogin .p1 a {color: #ccc; float: right;}
#signLogin .signLogin_mode .signLogin_all input {outline: none; border-bottom: 1px solid #e6e6e6; width: 100%; padding: 10px 0;}
#signLogin .signLogin_mode .signLogin_all .p2 {padding: 20px 0;}
#signLogin .signLogin_mode .signLogin_all .p3 {font-size: 16px; color: #999; margin: 10px 0;}
#signLogin .signLogin_mode .signLogin_all .p3 a {color: #ffb319;}
#signLogin .signLogin_mode .signLogin_all .p4 span {margin: 10px 0; border-radius: 4px; height: 40px; line-height: 40px; display: inline-block; width: 100%; text-align: center;}
#signLogin .signLogin_mode .signLogin_all .p4 span.on {background: #ffb319;}
#signLogin .signLogin_mode .signLogin_all .p4 a.no {background: #e6e6e6; height: 40px; line-height: 40px; display: inline-block; width: 100%; color: #333;}
#signLogin .signLogin_mode .signLogin_all .p4 span.on:hover {background: #ff9f19; cursor: pointer;}
#signLogin .signLogin_mode .signLogin_all .p4 a.no:hover {background: #d9d9d9; text-decoration: none; cursor: pointer;}

/* 盘口弹出层 */
#handicapDetails {width: 600px;}
#handicapDetails .hkDetails {display: inline-block; border-top: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7;}
#handicapDetails .hkDetails ul {width: 218px; float :left; border-right: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; height: 40px; line-height: 40px; padding: 0 40px;}
#handicapDetails .hkDetails ul li {float :left;}
#handicapDetails .hkDetails ul li.fr {float :right;}
#handicapDetails .smain > div {padding: 0;}
#handicapDetails .smain {padding: 0; margin-top: 20px;}

