@charset "utf-8";
.header .listen{font:24px/51px '微软雅黑',sans-serif;color:#333;}
.breadCrumb{display:inline-block;_overflow:hidden;width:2px;height:11px;border:1px solid #d5d5d5;background-color:#eee;margin:0 5px;position:relative;top:1px;+top:0;}
.content{font-size:14px;color:#666;padding-top:20px;}
.content .center1000,.content dd{overflow:hidden;_zoom:1;}
.content .center1000{padding-top:40px;}
.content .left,.content .right{float:left;}
.content dl.left{width:779px;border-right:1px solid #ccc;font-size:14px;}
.content dl.left div.left{width:130px;text-align:right;}
.content .left dd{line-height:40px;margin:10px 0;}
.content .left dt{color:#333;font-weight:bold;line-height:30px;border-bottom:1px dotted #ccc;margin-right:50px;margin-top:40px;margin-bottom:30px;font-size:16px;}
.content .left .hey{margin-top:0;}
.content .left dt .little{font-size:12px;color:#999;margin-left:10px;}
.content dl.left .right{width:619px;padding-left:30px;overflow:hidden;_zoom:1;}
dl.left input.left{width:250px;height:25px;border:1px solid #ddd;line-height:25px;padding:7px 0 8px;text-indent:5px;outline:none;}
dl.left .freak{font-size:12px;margin-bottom:20px;}dl.left .freak input{position:relative;top:2px;+top:1px;}dl.left a{color:#666;}
dl.left a:hover{text-decoration:underline;}
dl.left .getSmile a{width:114px;height:33px;display:inline-block;background-color:#f2f2f2;border:1px solid #ddd;border-right:none;text-align:center;font-size:12px;text-decoration:none;line-height:35px;_line-height:33px;}
dl.left .getSmile input{width:113px;}
dl.left .submit{display:inline-block;width:156px;height:40px;background:url(../images/ico.jpg) 0 -70px;font:18px/40px '微软雅黑',sans-serif;text-align:center;color:#fff;}
dl.left .submit:hover{background-position:0 -110px;text-decoration:none;}
aside.right{padding:0 20px;width:180px;}
.hasAccount{height:40px;}
.hasAccount a{color:#06c;text-decoration:underline;}
.usePartner{color:#999;height:25px;}
.partners a,.correct,.error{display:inline-block;width:16px;height:16px;background-image:url(ico_common.png);}

.correct{background-position:-204px -110px;}
.error,.correct{position:relative;top:3px;+top:1px;margin-right:5px;}
.error{background-position:-30px -110px;}
.tip{display:none;font-size:14px;color:#999;margin-left:10px;line-height:35px;}
.content .reg,.content .left-v1 dd{overflow:visible;}
.content .reg{padding-bottom:200px;}
.content dl.left-v1 .right{padding-left:20px;width:auto;font-size:14px;}
.content dl.left-v1 .pr{position:relative;overflow:visible;}
.content .left-v1 dd{float:left;width:95%;margin:12px 0 0 40px;display:inline;}
.content .left-v1 dd.passwd{margin-top:0;}
dl.left-v1 .freak input{margin-left:0;}
dl.left-v1 .freak{width:100%;}
.txt-tip{padding-left:10px;_padding-left:6px;color:#999;}
.m-tip{height:32px;line-height:32px;margin-bottom:10px;padding-left:150px;color:#999;clear:both;}
.get-num-box{display:none;position:absolute;left:20px;bottom:45px;background:#FF0;width:250px;height:43px;line-height:43px;border:1px solid #ffe3c8;color:#000;font-size:28px;font-family:"微软雅黑";text-indent:14px;overflow:hidden;}
.reg aside.right{_padding-left:16px;}
dl.left-v1 input.left{color:#4D4D4D;font-family:"微软雅黑";font-size:14px;}
.reg .hasAccount{line-height:20px;}
.reg .partners a{width:32px;height:32px;margin:8px 10px 0 0;}
.partners .pt1{background-position:left -482px;}
.partners .pt2{background-position:-37px -482px;}
.partners .pt3{background-position:-74px -482px;}.partners .pt4{background-position:-111px -482px;}.space{padding-left:.5em;}.off{background:url(../images/ico.jpg) repeat scroll 0 -70px rgba(0,0,0,0);color:#FFF;display:inline-block;font:18px/40px '微软雅黑',sans-serif;height:40px;text-align:center;width:156px;background-color:#E0E0E0;background-image:none;}



.tckmain{
	width:600px;
	height:316px;
	border:2px solid #e8e8e8;
	margin:5px auto;
	padding:15px;
	}
.tckmain .top{
	height:25px;
	position:relative;}
.tckmain .top .close{
	display: block;
	background:url(../images/close.png) no-repeat;
	width:23px;
	height:22px;
	cursor:pointer;
	float:right;}
.tckmain .navlt01{
	position:absolute;
	display:block;
	background:url(../images/navltbg01.png) no-repeat;
	width:134px;
	height:47px;
	line-height:47px;
	top:15px;
	left:-25px;
	color:#fff;
	font-family:"微软雅黑";
	font-size:26px;
	padding-left:30px;
	}

.tckmain .cent{
	overflow:hidden;
	padding:70px 30px 0px 80px;
	height:180px;}
	
.tckmain .cent img{
	float:left;
	margin:20px 15px 20px 50px;}
.tckmain .cent p{
	display:block;
	float:left;
	width:340px;
	line-height:30px;
	padding:0;
	margin:3px 0;}
.tckmain .fontgay18{
	font-family:"微软雅黑";
	font-size:18px;
	color:#333;}
.tckmain .fontgay14{
	font-family:"微软雅黑";
	font-size:14px;
	color:#808080;
		}
.tckmain .bot{
	height:30px;
	line-height:30px;}
.tckmain .bot a{
	color:#f60;
	text-decoration:none;
	font-size:16px;
	font-family:"微软雅黑";}
.fl{
	float:left;
	}
.fr{
	float:right;}
.srk01{
	border:1px solid #dfdfdf;
	width:235px;
	height:30px;
	line-height:30px;
	margin-right:10px;
	color:#333;
	font-size:16px;}
.clen{
	background: url(../images/clen.png) no-repeat;
	display: block;
	width: 19px;
	height: 19px;
	position: absolute;
	left: 210px;
	top: 8px;
	cursor:pointer;
	}

.srkftlinkred{
	color:#005ca2;
	text-decoration: none;
	font-size:14px;
	top:20px;
	left:200px;
	font-family:"微软雅黑";}
	


