*{margin: 0; padding: 0px;}
.bannerlist {width: 100%; position: relative; height: 460px;}
.bannerlist .slide_box {width: 100%; height: 460px; position: absolute;overflow: hidden;}
.bannerlist .slide_banner {width: 1920px; position: absolute; left: 50%; margin-left: -960px;}
.bannerlist .slide_banner img {width: 100%; height: 460px;} 
.bannercenter {width: 100%; position: relative; height: 1060px; background: url("../images/anniversary/sk-beijing.png") center center;}
.bannercenter .banner-center {width: 1000px; margin: 0 auto; padding-top: 110px;}
.ms-beijing {text-align: center;font-size: 20px;color: #663300; font-weight: bolder; background: url("../images/anniversary/sk-title.png") no-repeat; line-height: 50px; height: 50px; width: 1000px;}
.ms-beijing img {float:left; margin-left: 6px; margin-top: 5px;}
.bannercenter .hdjs {float: left; width: 500px;}
.bannercenter .kszp {float: left; width: 500px;}
.turntable-bg {width: 370px;height: 370px;margin: 0 auto;position: relative;background: url("../images/anniversary/sk-kuang.png"); float: right;}
.turntable-bg .pointer {width: 130px;height: 150px;position: absolute;z-index: 8;left: 120px; top: 98px;}
.turntable-bg .rotate {width: 310px;height: 310px;position: absolute; top: 30px; left: 30px;}
.bannercenter .ks-center {width: 100%;height: 370px; padding: 20px 0;}
.bannercenter .hdjs-title {font-size: 16px;color: #663300; margin-top: 85px; line-height: 24px;}
.bannercenter .hdjs-js {font-size: 14px;color: #663300; line-height: 22px;}
.bannercenter .ksbt {height: 150px; margin-top: 40px;}
.bannercenter .ksbt ul {float: left;}
.bannercenter .ksbt ul li {list-style-type: none; height: 48px; line-height: 48px;}
.bannercenter .ksbt-border {border-left: 1px solid #663300; border-right: 1px solid #663300; width: 396px; text-align: center; border-bottom: 1px solid #663300;}
.bannercenter .ksbt-border li {border-top: 1px solid #663300;}
.ks-footer {height: 70px; line-height: 70px; text-align: center; background: #fcc129; color: #663300; font-size: 14px;}

/* 新手福利 */
.xsfl-title {width: 100%;position: relative;height: 360px;background: url("../images/login/noviceWelfare-title.png") center center;}
.xsfl-bottom {width: 1000px;position: relative;height: 81px;background: url("../images/login/noviceWelfare-bottom.png"); margin: 0 auto; text-align: center;line-height: 72px;font-size: 16px; color: #fff;}
.xsfl-content {width: 1000px;position: relative;height: 260px; border-bottom: 1px solid #1358ae; margin: 0 auto;}
.xsfl-fs {float: right; margin-top: 50px;}
.xsfl-xx {float: left;}
.xsfl-xx-title {margin-top: 50px; color: #1358ae; font-size: 16px;}
.xsfl-xx-js {color: #1358ae; font-size: 14px; margin-top: 5px;}
.xsfl-footer {margin-top: 73px; color: #849ecc; font-size: 14px; background: #1358ae; height: 60px; line-height: 60px; text-align: center;}
/* APP专属特权  */
.iphone-img {width: 100%;position: relative;height: 450px;background: url("../images/login/vs-app-1.jpg") center center;}
.iphone-title {width: 720px; padding: 40px 140px; margin: 0 auto;}
.iphone-lis{color: #fef8de; font-size: 20px; text-align: center;height: 40px; line-height: 40px; width: 720px; background: url("../images/login/vs-app-3.png") no-repeat 0 0;}
.iphone-lis-tltle {color: #542d1e; font-size: 16px; text-align: center;margin-top: 20px;}
.iphone-title .iphone-lis-img {background: url("../images/login/vs-app-3.png") no-repeat 0 -56px;height: 40px; line-height: 40px; width: 720px; margin-bottom: 20px;}
.iphone-title .iphone-lis-img .fl {float: left; width: 280px; text-align: center; color: #fef8de; font-size: 20px;}
.iphone-title .iphone-lis-img .fr {float: right; width: 280px; text-align: center; color: #fef8de; font-size: 20px;}
.iphone-title h3 {height: 34px; line-height: 34px; font-size: 24px; color: #fe9329; padding: 20px 0;}
.iphone-title h3 span {background: url("../images/login/vs-app-3.png") no-repeat 0 -109px; height: 34px; line-height: 34px; width: 34px; display: inline-block; text-align: center; font-size: 24px;color: #fef8de;padding-right: 14px;}
.iphone-shuomiong {width: 1000px; height: 239px; margin: 0 auto; border-top: 1px solid #ffae24; padding-top: 60px;}
.iphone-shuomiong .fl{width: 620px; float:left;color: #333; font-size: 16px;}
.iphone-shuomiong .fl p {margin-bottom: 5px;}
.iphone-shuomiong .fl .fl-title {color: #333; font-size: 20px; margin-bottom: 10px;}
.iphone-shuomiong .fr{width: 380px; float:right;}
.iphone-shuomiong .fr .ios {margin-bottom: 10px; width: 160px; height: 160px; background: url("../images/login/vs-app-3.png") no-repeat -12px -171px; display: inline-block; border: 1px solid #e6e6e6;}
.iphone-shuomiong .fr .android {margin-bottom: 10px; width: 160px; height: 160px; background: url("../images/login/vs-app-3.png") no-repeat -205px -171px; display: inline-block; border: 1px solid #e6e6e6;}
.iphone-shuomiong .fr ul {text-align: center;}
.iphone-footer {width: 100%; position: relative; height: 110px; background: url("../images/login/vs-app-2.jpg") center center;}
.iphone-footer p {text-align: center;line-height: 60px; color: #fff; font-size: 14px; height: 60px; padding-top: 50px;}
