@charset "utf-8";
/* CSS Document */
*{ margin:0;padding:0;border:0;font-size:0;}
body{font-family:"微软雅黑"; background: #fff;}

.tp_main { margin: 0; font-size: 0; width: 100%; height: 200px; overflow: hidden; position: relative;}
.tp_main img { width: 1920px; height: 200px; position: absolute; top: 0; left: 50%; margin-left: -960px;}

.tp_box { width: 100%; height: 547px; background: #fef2d4; padding-bottom: 50px;}
.tp_box2 { width: 100%; height: auto; background: #fff6ea; }
.tp_box3 { width: 100%; height: 661px; background: #fef2d4;}
.tp_ctn { width: 1000px; height: auto; margin: 0 auto; }
.tp_foot {  width: 100%; height: 50px; line-height: 50px; background: #3b3b3b; text-align: center; font-size: 14px; color: #b2b2b2; font-family: "微软雅黑";}
.tp_one { width: 860px; height:462px; padding: 0 70px; margin: 0 auto;   }
.tp_one .gift{margin:17px 163px}
.tp_one h2 { width: 100%; height: 40px; line-height: 40px; text-align: center; font-size: 18px; color: #893d2a; font-weight: normal;  }
.tp_o_login { width: 100%; height: 40px; line-height:40px; text-align: center; font-size: 16px; color: #893d2a;  }
.tp_o_login i { color: #fa454a; font-size: 16px; font-style: normal; padding: 0 5px;}
.tp_o_login a{font-size:16px;color:#fef2d4;display:inline-block;background:#fa454a;width:63px;height:22px;line-height:22px;text-align:center;border-radius:3px;font-weight:bold;text-decoration:none}

.tp_o_gift { width: 100%; height: 310px; overflow: hidden; margin-top: 40px; }
.tp_o_lotter { width: 285px; height: 310px; float: left; }
.tp_o_giftlist { width: 575px; height: 310px; float: right; }
.tp_o_giftlist li { display: block; float: left; width: 171px; height: 310px; margin-left: 19px; }
.tp_o_giftlist li h3 { width: 100%; height: 55px; line-height: 55px; text-align: center; font-size: 24px; color: #fff; background: url(../images/anniversary/icon_01.jpg)  no-repeat; font-weight: normal; font-family:"黑体";letter-spacing:2px;}
.tp_o_giftlist li p em { display: block; width: 120px; height: 76px; margin: 0 auto 10px;}
.tp_o_giftlist li p { width: 100%; height: 256px; background: url(../images/anniversary/icon_02.jpg) no-repeat; padding-top: 10px;margin-left:3px}
.tp_o_giftlist li p span { display: block; width:140px; margin: 0 auto; text-align: center; font-size: 14px; color: #833000; line-height: 24px; margin-top:37px  }
.tp_o_giftlist li p.money em { background: url(../images/anniversary/money.jpg) no-repeat center center;width:138px;height:189px;}
.tp_o_giftlist li p.money span{margin-top:-5px }
.tp_o_giftlist li p.ticket em { background: url(../images/anniversary/ticket.jpg) no-repeat center center;color: #ea3925; width:120px;height:58px;margin-top:50px }
.tp_o_giftlist li p.ticket em { }
.tp_o_giftlist li p.packet em { background: url(../images/anniversary/packet.jpg) no-repeat center center; position: relative;width:100px;height:72px;margin-top:42px}
.tp_o_giftlist li p.packet span{margin-top:33px }
.tp_two { width: 850px; height: 403px; margin: 0px auto; overflow: hidden;    }
.tp_two .dongtai{margin:66px 163px}

.tp_two ul { width: 1200px; height: 155px; overflow: hidden;margin-top:-19px}
.tp_two ul li { display: block; float: left; width: 120px; height: 155px; background: #ff6433; border-radius: 4px; margin-right: 9px; padding: 0 7px;  }
.tp_two ul li span { display: block; width: 120px; height: 76px; margin: 15px auto 5px; }
.tp_two ul li span.upan { background: url(../images/anniversary/upan.jpg) no-repeat center center;}
.tp_two ul li span.ticket { background: url(../images/anniversary/ticket.jpg) no-repeat center center;}
.tp_two ul li span.ticket i { display: block; width: 88px; height: 58px; line-height: 58px; text-align: center; font-size: 18px; color: #ea3925; font-style: normal; padding-top: 10px;  }
.tp_two ul li span.dao{ background: url(../images/anniversary/dao.jpg) no-repeat center center;}
.tp_two ul li span.cdb{ background: url(../images/anniversary/cdb.gif) no-repeat center center;}
.tp_two ul li span.zpg{ background: url(../images/anniversary/zpg.gif) no-repeat center center;}
.tp_two ul li span.song{ background: url(../images/anniversary/song.jpg) no-repeat center center;}
.tp_two ul li p { width: 100%; height: 48px; line-height: 24px; font-size: 14px; color: #fff; text-align: center;font-weight:bold  }
.tp_rule { width: 860px; height: 700px; padding: 0px 70px 0; background: url(../images/anniversary/bg_03.jpg) no-repeat 40px 178px; margin: 0 auto;  }
.tp_rule .rule{margin:66px 163px}
.tp_ru_list { width: 100%; height: 470px;}
.tp_ru_list li { display: block; width: 100%; height: auto; overflow: hidden; margin-bottom:24px; }
.tp_ru_list li i { display: block; float: left; width: 20px; height: 20px;line-height: 20px; font-size: 14px; color: #fff; background: url(../images/anniversary/icon_03.jpg) no-repeat; text-align: center; font-style: normal; margin-top:2px; }
.tp_ru_list li p { display: block; float: right; width: 830px; height: auto; line-height: 24px; font-size: 14px; color: #7a332f; text-align: left;  }
.tp_floatlayer { width: 1000px; height: 0; margin: 0 auto; position: relative; z-index:20;}
.tp_flmask { width: 100%; height: 3000px; position: fixed; left: 0; top: 0; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000'); background: rgba(0,0,0,0.6);}
.tp_mb_close { display: block; width: 44px; height: 44px; background: url(../images/anniversary/btn_02.png) no-repeat; position: absolute; right: -20px; top: -20px;}
.tp_mb_close:hover { background: url(../images/anniversary/btnon_02.png) no-repeat;}
.tp_myprize {  background: url(../images/anniversary/bg.png) no-repeat; position: fixed; top: 10%; margin-left: -430px; left: 50%; width: 520px; height: 295px; padding: 50px 120px 72px; }
.tp_myprize p { width: 100%; height: 60px; line-height: 60px; text-align: center; font-size: 28px; color: #fee854; padding-top: 140px;   }
.tp_myprize a { display: block; width: 121px; height: 40px; background: url(../images/anniversary/btn.png) no-repeat; text-align: center; line-height: 38px; font-size: 20px; color: #9e6d62; text-decoration: none; margin: 0 auto;   }
.tp_myprize a:hover { background: url(../images/anniversary/btnon.png) no-repeat;}