@charset "utf-8";
/* CSS Document */
* { margin:0;padding:0;border:0; font-size: 100%;}
body {font-family:'微软雅黑'; background: #fff;}
ul,li,ol,i,em { font-style: normal; list-style: none;}
 a{text-decoration:none;}
.fl { float: left;}
.fr { float: right;}


.top {
	width: 100%;
	height: 32px;
	background: #f1f1f1;
}
.topctn {
	width: 1000px;
	height: 32px;
	margin: 0 auto;
	position: relative;
	z-index: 20;
}
.topctn ul {
	float: right;
	width: auto;
	height: 20px;
	padding: 6px 0;
	overflow: hidden;
}
.topctn ul li {
	display: block;
	width: auto;
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 0 12px;
	border-right: 1px solid #ccc;
	margin: 3px 0;
}
.topctn ul li.download em { font-size: 12px; color: #808080; padding-right: 10px; }
.topctn ul li.download em a { font-size: 12px; color: #f57c00; }
.topctn ul li.download a { padding: 0 5px;}
.topctn ul li.last {
	border-right: none;
}
.topctn ul li a {
	font-size: 12px;
	color: #808080;
}
.topctn ul li a:hover { text-decoration: underline;}
.topctn ul li em { font-size: 12px; color: #808080;}
.topctn ul li em a { padding: 0 10px;}
.top_mytel { left: 528.5px; top:0px; }
.top_myname { left: 662px; top:0px; }
.top_mynav{ width:90px; height: auto; border:1px solid #ebebeb; position: absolute; background: #fff; }
.top_mynav h2 { width: 100%; height: 30px; text-align: center; line-height: 30px; font-size:12px; color: #808080; font-weight: normal;  }
.top_mytel h2 { color:#f57c00;}
.top_mynav a { display: block; width: 100%; height:36px; line-height: 36px; text-align: center; font-size:14px; color: #666; }
.top_mynav a:hover { background: #fafafa; text-decoration: none;}
.navbox { width: 100%; height: 100px; background: url(../images/common-new/navbg.png) repeat-x; z-index: 15; position: relative;}
.nav {
	width: 1000px;
	height: 95px;
	margin: 0 auto;
	position: relative;
}
.navlogo {
	width: 181px;
	height: 62px;
	float: left;
	padding-top: 12px;
}
.navlogo img { width: 181px; height: 62px;}
.navlist {
	width: auto;
	height: 22px;
	line-height: 22px;
	float: right;
	margin-top: 50px;
}
.navlist li {
	display: block;
	float: left;
	width: auto;
	height: 22px;
	line-height: 22px;
	margin: 0 20px;
	position: relative;
}
.navlist li i { display: block; position: absolute; width:10px; height: 5px; background: url(../images/common-new/icon_01.gif) no-repeat; left: 50%; top: 25px; margin-left: -5px; }
.navlist li em { display: block; width: 30px; height: 12px; background: url(../images/common-new/new.png) no-repeat; position: absolute; left: 50px; top: 0;}
.navlist li a {
	font-size: 16px;
	color: #696868;
}
.navlist li a:hover,.navlist li a.on {
	color: #03a9f4;
}
.nav_tknav { width: 100px; height: auto; border:2px solid #0aaff4; background: #fff; z-index: 10; position: absolute; padding: 5px 0; }
.nav_tknav h2 { width: 100%; height: 34px; line-height: 34px; text-align: center; font-size: 16px; color: #666; font-weight: normal;  }
.nav_tknav h2 a { font-size: 16px; display: block; width: 100%; height: 34px; line-height: 34px; text-align: center; color: #666;}
.nav_tknav h2 a:hover { color: #03a9f4; background: none;}
.nav_tknav a { display: block; width: 100%; height: 30px; line-height: 30px;  text-align: center; font-size:14px; color: #3dbff6; text-align: center;  }
.nav_tknav a:hover { background: #f5f5f5; text-decoration: none;}
.nav_profur { left: 584px; top: 37px;}
.nav_prosif { top: 37px; left: 496px;}
.nav_pronav { top: 37px; left: 792px;}
.nav_mcnav { top:37px; left:896px;}
.nav_together { top:37px; left:392px;}
/*底部*/
.copyright {width: 100%;height: 130px;min-width:1000px; background: #525252; }
.footer_ctn { width: 1000px; height: 130px; margin: 0 auto; }
.ft_link { width: 160px; height: auto; overflow: hidden; float: left; padding-top: 10px; }
.ft_link a { display: block; float: left; width: 80px; height: 35px; line-height: 35px; font-size: 12px; color:#d9d9d9; text-align: left;  }
.ft_link a:hover { color: #0aaff4; text-decoration: underline;}
.ft_sina,.ft_wx { width: 50px; height: auto; float: left; margin-right: 30px; padding-top: 20px; position: relative; }
.ft_sina a:hover { background: url(../images/common-new/sinaon.png) no-repeat;}
.ft_wx a:hover { background: url(../images/common-new/wxon.png) no-repeat; }
.ft_sina a { display: block; width: 50px; height: 50px; background: url(../images/common-new/sina.png) no-repeat; }
.ft_sina p,.ft_wx p { width: 50px; height: 20px; line-height: 20px; text-align: center; font-size: 12px; color: #d9d9d9; text-align: center; overflow: hidden; margin-top: 17px; }
.ft_wx a { display: block; width: 50px; height: 50px; background: url(../images/common-new/wx.png) no-repeat;}
.ft_wxtk { width:125px; height: 170px; position: absolute; left: -37px; top: -150px; background: url(../images/common-new/wxtk.png) no-repeat; z-index: 10;  }
.ft_wxtk img { display: block; width: 100px; height: 100px; padding-top: 10px; margin: 0 auto;}
.ft_wxtk p { width: 100px; height: 36px;line-height: 18px; font-size: 12px; color: #fff; text-align: center; margin: 5px auto 0;}
.ft_tel { width: 240px; height: auto; float: left; }
.ft_title { width: 100%; height: 16px; line-height: 16px; text-align: left; font-size:12px; color: #d9d9d9; font-weight: normal; margin-top: 18px;  }
.ft_tel h4 { width: 100%; height: 49px; line-height: 49px; text-align: left; font-size: 30px; color: #d9d9d9; font-weight: normal;  }
.ft_tel p { width: 100%; height: 30px; line-height: 30px; text-align: left; font-size: 12px; color: #d9d9d9; }
.ft_pic { width: 131px; height: auto; float: left; padding-top: 5px;}
.ft_pic a { display: block; margin-top: 13px;}
.ft_picweb { display: block; width: 131px; height: 37px; background: url(../images/common-new/pic_01.gif) no-repeat; }
.ft_picweb:hover { background: url(../images/common-new/pic_03.gif) no-repeat;}
.ft_piceb { display: block; width: 130px; height: 33px; background: url(../images/common-new/pic_02.gif) no-repeat;}
.ft_piceb:hover { background: url(../images/common-new/pic_04.gif) no-repeat;}
.ft_qq { width: 260px; height: auto; float: right; }
.ft_qq p { width: 100%; height: 35px; line-height: 35px; font-size: 12px; color: #d9d9d9; text-align: left;}
.ft_qq p a { color: #d9d9d9;}
.ft_qq p a:hover { text-decoration: underline;}
.ft_qq .ft_title { margin-bottom: 10px;}
.cpbox { width: 100%; height: 60px; background: #464646; min-width: 1000px;}
.cp_copyright { width: 1000px; height: 50px; margin: 0 auto; overflow: hidden; padding: 5px 0;}
.cp_link { width: 630px; height: 50px; float: left; }
.cp_link p { width: 100%; height:25px; line-height: 25px; font-size: 12px; color: #d9d9d9; }
.cp_link p i { padding-left:30px; }
.cp_link p a { font-size: 12px; color: #eee; padding-right: 10px;}
.cp_link p a:hover { text-decoration: underline; color: #0aaff4;}
.cp_cppic { width: 370px; height: 50px; float: left;}
.cp_cppic img { padding-left: 24px; margin-top: 8px; }
/*悬浮*/
.floatlayer { width: 1000px; height: 0; position: relative; margin: 0 auto; z-index: 20;}
.fl_server { width: 50px; height: auto; position: fixed; right: 0px; top: 50%; margin-top: -50px; z-index: 50; }
.fl_server a { display: block; width: 40px; height: 40px; margin-bottom: 5px;}
.fl_sv_tent a { display: block; width: 40px; height: 40px; background: url(../images/common-new/fix_01.png) no-repeat;}
.fl_sv_tent a:hover { background: url(../images/common-new/fix_02.png) no-repeat;}
.fl_sv_up a { display: block; width: 40px; height: 40px; background: url(../images/common-new/fix_07.png) no-repeat;}
.fl_sv_up a:hover { background: url(../images/common-new/fix_08.png) no-repeat;}
.fl_sv_code a { display: block; width: 40px; height: 40px; background: url(../images/common-new/fix_03.png) no-repeat;}
.fl_sv_code a:hover {  background: url(../images/common-new/fix_04.png) no-repeat; }
.fl_sv_notic a { display: block; width: 40px; height: 40px; background: url(../images/common-new/fix_05.png) no-repeat;}
.fl_sv_notic a:hover { background: url(../images/common-new/fix_06.png) no-repeat;}
.fl_sv_codetk { background: url(../images/common-new/codebg.png) no-repeat; right: 58px; bottom: -13px;position: absolute; width: 100px; height: 147px; padding: 12px 24px 2px 14px;  }
.fl_sv_codetk img { width: 100px; height: 100px; display: block;}
.fl_sv_codetk p { width: 100px; height: 36px; line-height: 18px; font-size: 12px; color: #fff; text-align: center; padding-top: 5px;  }
.fl_notic { width: 100%; height: auto; background: url(../images/common-new/noticbg.png) repeat; position: fixed; left: 0; bottom: 0; padding: 8px 0; min-width: 1000px;  border-top: 1px solid #b73c40;}
.fl_ntctn { width: 1000px; height:auto; margin: 0 auto; }
.fl_ntctn h3 { width: 100%; height: 22px; line-height: 22px; text-align: left; font-size: 12px; color: #fff;  font-weight: normal; }
.fl_ntctn div { width: 100%; height: auto; line-height: 26px; font-size: 12px; color: #fff; text-align: left; text-indent: 2em; min-height: 52px; }
/*
.fl_ntctn p a { color: #fef700; text-decoration: underline;}
.fl_ntctn p a:hover { text-decoration: none;}
*/
.fl_ntctn .fl_n_close { display: block; width: 34px; height: 32px; background: url(../images/common-new/close.png) no-repeat; position: absolute; left: 50%; margin-left: 520px; top: 50%; margin-top: -16px;}

.top_tel { width: auto; height: 32px; line-height: 32px; /*background: url(../images/common-new/icon_02.mini.gif) no-repeat left center;*/color: #656b6f; float: left; font-size: 14px; color: #999;}
.top_tel em { vertical-align: middle;}
.top_tel i { font-size: 14px; color: #999; vertical-align: middle; font-family: "Arial";}
.top_tel { display: block;}
.fl_mask {
	width: 100%;
	height: 3000px;
	position: fixed;
	top: 0;	
	left:0;		  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 20;
}

/*登录*/
.fl_box {
	width: 30%;
	height: auto;
	padding: 10px 10px 30px 10px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #e7e7e7;
	z-index: 1000;
	color: #666;
	position: fixed;
	left: 50%;
	top: 20%;
	margin-left: -15%;
	min-width: 320px;
}
.fl_navtitle {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #eff2f7;
}
.fl_navtitle h3 {
	width: auto;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #666;
	text-align: center;
	border-bottom: 1px solid #f80;
	position: relative;
	top: 1px;
	float: left;
	font-weight: normal;
}
.fl_navtitle a.close {
	display: block;
	 width: 18px;
	height: 18px;
	background: url(../images/common/close.gif) no-repeat;
	float: right;
	margin-top: 8px;
}
.fl_navtitle a.close:hover{
	background: url(../images/common/closehover.gif) no-repeat;
}
.fl_uc_main {
	width: 100%;
	height: auto;
}
.fl_loginbtn {
	width: 295px;
	height: 38px;
	overflow: hidden;
	margin: 0 auto;
}
.fl_navtitle h3.fl_logintitle {
	border-bottom: none;
	text-align: left;
	font-weight: normal;
}
.fl_loginbtn a {
	width: 295px;
	height: 38px;
	display: block;
	font-size: 16px;
	color: #fff;
	line-height: 38px;
	text-align: center;
	background: url(../images/common/loginbtn.gif) 0 0;
}
.fl_loginbtn a:hover{
	text-decoration: none;
	background: url(../images/common/loginbtn.gif) 0 -38px;
}
.fl_login {
	width: 295px;
	height: auto;
	margin: 30px auto 0;
	font-family: "宋体";
}
.fl_login li {
	display: block;
	width: 100%;
	height: 42px;
	line-height: 42px;
	position: relative;
	margin-bottom: 28px;
	font-size: 0;
}
.fl_lg_ip {
	width: 222px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	border-top: 1px solid #d3d3d3;
	padding: 10px 20px 10px 50px;
	outline: none;
	font-size: 16px;
	color: #666;
	vertical-align: middle;
}
.fl_lg_ip2 input { width: 100px;}
.fl_lg_ip2 img { width: 100px; height: 42px; vertical-align: middle; margin-left: 10px;}
.fl_lg_ip2 a { display: inline-block; width: 110px;height: 38px; background: url(../images/common/tradebtn.png) no-repeat 0 0; vertical-align: middle; margin-left: 10px; text-align: center; font-size: 16px; color: #fff; line-height: 38px; font-family: "微软雅黑";}
.fl_lg_ip2 a:hover { background: url(../images/common/tradebtn.png) no-repeat 0 -107px; }
.fl_lg_code {
	width: 130px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	border-top: 1px solid #d3d3d3;
	padding: 10px 20px 10px 20px;
	outline: none;
	font-size: 16px;
	color: #666;
	vertical-align: middle;
}
.fl_lg_ip:focus,.fl_lg_code:focus {
	border: 1px solid #34b3e0;
}
.fl_login li em {
	font-size: 16px;
	color: #e0e0e0;
	position: absolute;
	left: 55px;
	top: 0;
}
.fl_login li em.fl_lg_codefont {
	left: 20px;
}
.fl_login li i {
	display: block;
	width: 15px;
	height: 18px;
	position: absolute;
	left: 18px;
	top: 11px;
}
@-moz-document url-prefix() {
	.fl_login li em { top: 3px;}
	.fl_login li i { top: 15px;}
}
.fl_lg_codeimg {
	width: 110px;
	height: 40px;
	vertical-align: middle;
	margin-left: 10px;
}
.fl_lg_user {
	background: url(../images/common/rg_01.gif) no-repeat;
}
.fl_lg_password {
	background: url(../images/common/rg_02.gif) no-repeat;
}
.fl_lg_codeip { background: url(../images/common/rg_04.png) no-repeat;}
.fl_rg_code { background: url(../images/common/rg_03.png) no-repeat; }
.fl_loginfont {
	width: 295px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	margin: 22px auto 5px;
}
.fl_loginfont a {
	display: block;
	width: 60px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #34b3e0;
}
.fl_uc_stopfont {
	width: 100%;
	height: auto;
	line-height: 36px;
	font-size: 24px;
	color: #666;
	font-family: "微软雅黑";
	padding: 30px 0 20px; 
	text-align: center;
}
.fl_promtfont { width: 100%;height: auto;line-height: 36px;	font-size: 18px;color: #666;font-family: "微软雅黑";padding: 30px 0 20px;text-align: center;}
.fl_promtfont i { color: #f00; padding: 0 5px;}
.fl_regist li { margin-bottom: 15px;}
.fl_registbox { top: 10%;}
.fl_uc_list li input {
  width: 165px;
  height: 34px;
  line-height: 34px\9;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #d3d3d3;
  font-size: 14px;
  vertical-align: middle;
  outline: none;
  margin-right: 10px;
  padding: 0 10px;
  color: #666;
}
.fl_uc_list li img {
  vertical-align: middle;
}

.fl_rg_yzm .fl_navtitle h3 { width: 180px; font-weight: normal; }
.fl_rg_yzm .fl_uc_main {
  width: 100%;
  height: auto;
  margin: 30px 0 20px;
}
.fl_rg_yzm .fl_uc_list {
  padding: 10px 0 20px;
  width: 350px;
  height: auto;
  margin: 0 auto;
}
.fl_rg_yzm .fl_uc_list li input {
  width: 165px;
  height: 34px;
  line-height: 34px\9;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #d3d3d3;
  font-size: 14px;
  vertical-align: middle;
  outline: none;
  margin-right: 10px;
  padding: 0 10px;
  color: #666;
}
.fl_rg_yzm .fl_uc_list li img {
  vertical-align: middle;
}
.fl_rg_yzm .fl_uc_list li a {
  font-size: 14px;
  vertical-align: middle;
  color: #60bffb;
  padding-left: 10px;
}
.fl_rg_yzm .fl_uc_btn {
  width: 100%;
  text-align: center;
}
.fl_rg_yzm .fl_uc_btn a {
  display: inline-block;
  width: 200px;
  height: 35px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0 13px;
}
.fl_rg_yzm .fl_uc_surebtn {
  background: url(../images/home/lg_btnbg.gif) repeat-x 0 0;
}
.fl_pro { width: 100%; height: 108px; background: url(../images/common/pro_bg.png) repeat-x left bottom; position: fixed; left: 0; bottom: 0;}
.fl_pro img { width: 750px; height: 108px; display: block; margin: 0 auto;}
/* 网站公告 */
.notice-fixed {z-index: 999;position: fixed;width: 100%;height: auto;margin: 0 auto;left: 0;right: 0;bottom: 0;background: url(../images/common-new/noticbg.png) repeat;padding: 8px 0;min-width: 1000px;border-top: 1px solid #b73c40;}
/*.notice-absolute {width: 100%;height: auto;background: url(../images/common-new/noticbg.png) repeat;}*/
.notice-style {width: 1000px; height:auto; margin: 0 auto;}
.notice-title {width: 100%;height: 22px;line-height: 22px;text-align: left;font-size: 12px;color: #fff;font-weight: normal;}
.notice-content {width: 100%;height: auto;line-height: 26px;font-size: 12px;color: #fff;text-align: left;text-indent: 2em;min-height: 52px;}
.notice-close {display: block;width: 34px;height: 32px;background: url(../images/common-new/close.png) no-repeat;position: absolute;left: 50%;margin-left: 520px;top: 50%;margin-top: -16px;}
.notice-content a { color: #fef700; text-decoration: underline;}
.hkicon { width:55px; height:24px;position: absolute; top: -25px; left: 28px;}