@charset "utf-8";
/* CSS Document */
* { margin: 0; padding:0;}
img { border:none;}
a { text-decoration: none; }
a:hover { text-decoration: underline;}
ul,li,ol,i,em,p { list-style: none; font-style: normal;}

.capital { width: 998px; height: auto; margin: 15px auto;}


/*申请配资*/
.cp_ctn { 
	width: 968px; 
	height: auto; 
	padding: 15px 0 20px;
	overflow: hidden;
	margin: 0 15px;
}
.cp_apply { 
	width: 465px;
	height: 496px; 
	padding: 0 15px 0 0;
	border-right: 1px dashed #dcdcdc;
	float: left;
	margin-bottom: 22px;
}
.cp_ap_title { 
	width: 100%; 
	height: 40px;	
	overflow: hidden;
	font-family: "微软雅黑";
}
.cp_ap_title h3 { 
	width: 180px;
	float: left;
	background: url(../images/capital/titlebg.gif) no-repeat 130px 1px;}
.cp_ap_title h3 i {
	display: block;
	width: 120px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	background: #34b3e0;
	padding: 0 0 0 10px;
	font-weight: normal;
}
.cp_ap_other { 
	width: auto; 
	height: 14px;
	line-height: 14px;
	padding-top: 26px;
	text-align: right;
	float: right;
}
.cp_ap_other a { 
	color: #f80;
	font-size: 14px;
}
.cp_ap_other2 a { color: #34b3e0;}
.cp_aplist {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 36px 0 0 37px;
}
.cp_aplist li {
	display: block;
	float: left;
	width: 118px;
	height: 83px;
	border:1px solid #d7d7d7;
	text-align: center;
	font-size: 14px;
	color: #333;
	font-family: "微软雅黑";
	margin: 0 20px 20px 0;	
	cursor: pointer;
}
.cp_aplist li.on {
	border: 1px solid #f08300;
	background: url(../images/capital/hover.gif) no-repeat right bottom;
}
.cp_aplist li p { 
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
}
.cp_aplist li p i {
	font-size: 26px;
	color: #f60;
	
}
.cp_aplist li span { 
	display: block;
	width: 100%;
	height: 22px;
	line-height: 22px;
}
.cp_rule { 
	width: 447px;
	height: auto;
	padding: 0 15px;
	float: left;
}
.cp_rulist {
	width: 445px;
	height: auto;
	border-top: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
}
.cp_rulist ol { 
	display: block; 
	width: 100%;
	height: 38px;
	overflow: hidden;
	border-bottom: 1px solid #c3c3c3;
}
.cp_rulist ol li {
	display: block;
	float: left;
	border-right: 1px solid #c3c3c3;
	height: 38px; 
	line-height: 38px;
	font-size: 12px;
	color: #333;
	font-family: "微软雅黑";
	
}
.cp_ru_title { 
	width: 110px;
	padding-right: 30px;
	text-align: right;
	background: #f0f0f0;
	
}
.cp_ru_ctn { 
	width: 263px; 
	text-align: left;
	padding-left: 30px;
	padding-right: 10px;
}
.cp_rulist li.cp_ru_ctn2 { 
	line-height: 18px;
}
.cp_ru_ctn select { 
	width: 90px;
	height: 20px;
	vertical-align: middle; 
	margin-right: 10px;
	border: 1px solid #abadb3;
}
.cp_ru_ctn em  { 
	font-size: 16px; 
	color: #ff6633; 
	font-weight: normal; 
	margin-right: 2px;
}
.cp_ru_ctn i { color: #ff6633}
.cp_ru_ctn input { vertical-align: middle;}
.cp_ru_ctn a {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../images/uc/pay_02.gif) no-repeat;
	vertical-align: middle;
	margin-bottom:6px;
	margin-left:10px;
}
.cp_ru_ip { 
	width: 88px;
	height: 20px; 
	line-height:20px;
	*line-height:20px;
	outline: none;
	padding: 0 5px;
	margin-right: 5px;	
	border: 1px solid #abadb3;
}
.cp_ru_ctn span { 
	padding-right: 35px;
	font-family: "宋体";
	vertical-align: middle;
	padding-left: 5px;
}
.cp_btn { 
	width: 960px;
	height: auto; 
	clear: both;
	border-top: 1px solid #f1f1f1;
	margin: 0 auto;
	font-family: "微软雅黑";
}
.cp_btn p,.cp_btn_agree { 
	width: 100%; 
	height: 30px;
	line-height: 30px;
	font-size: 14px; 
	color: #333;
	text-align: center;
}
.cp_btn_agree input { 
	vertical-align: middle;
	margin-right: 5px;}
.cp_btn_agree a { color: #34b3e0;}


.cp_agbtn { 
	width: 154px; 
	height: 38px;
	margin: 22px auto;}
.cp_agbtn a {
	display: block;
	width: 154px; 
	height: 38px; 
	text-align: center;
	line-height: 38px; 
	font-size: 16px; 
	font-family: "微软雅黑"; 
	color: #fff; 
	background: url(../images/uc/pay_btn.gif) no-repeat;}
.cp_agbtn a:hover { 
	text-decoration: none;
	background: url(../images/uc/pay_btnhover.gif) no-repeat;}
.cp_step { 
	width:950px; 
	height: auto; 
	margin: 20px auto 10px;
	position: relative;
	font-family: "微软雅黑";
}
.cp_sp_num {
	width: 100%;
	height: 46px;
	font-size: 0;
}
.cp_sp_num a { 
	display:inline-block;
	width: 46px;
	height: 46px;
	background: url(../images/capital/stepbg.png) no-repeat 0 0;
	text-align: center;
	line-height: 46px;
	color: #999;
	font-size: 24px;
	margin: 0 72px;
	*margin: 0 70px;
}
.cp_sp_num a.on { color: #fff; background: url(../images/capital/stepbg.png) no-repeat 0 -46px; text-decoration: none;}
.cp_sp_num a:hover { text-decoration: none;}
.cp_sp_line { 
	width: 730px;
	height: 20px;
	background: #f1f1f1;
	position: absolute; 
	top: 13px;
	left: 110px;
	z-index: -2;
}
.cp_sp_linehover { 
	height: 20px;
	background: #34b3e0;
	position: absolute; 
	top: 13px;
	left: 110px;
	z-index: -1;
}
.cp_sp_font {
	width: 950px;
	height: 48px;
	font-size: 0;
	
}
.cp_sp_font span { 
	display: inline-block;
	width: 190px; 
	*width:186px;
	height: 48px; 
	line-height: 48px;
	text-align: center;
	font-size: 16px; 
	color: #666;
}
.cp_ap_fillin {
	font-family: "微软雅黑";
	width: 400px;
	height: auto;
	padding: 150px 35px 0;
	
	
}
.cp_ap_fillin p {
	width: 100%; 
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	color: #666;
	text-align: center;	
}
.cp_ap_flip {
	width: 100%;
	height: 35px;
	font-size: 16px;
	color: #666;
}
.cp_ap_flip input { 
	width: 335px;
	height: 33px;
	*line-height:33px;
	line-height: 33px\9;
	border: 1px solid #e5e5e5;
	border-top: 1px solid #d3d3d3;
	vertical-align: middle;
	font-size: 18px;
	color: #f80;
	padding: 0 10px;
	outline: none;
	text-align: center;
	margin-right: 10px;
}
.cp_ap_flip input:hover { border: 1px solid #0090c6;}
.cp_ap_flip input:onfouse { border: 1px solid #0090c6;}
/*支付配资费用*/
.cp_paytitle { 
	width: 100%; 
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #333;
	font-family: "微软雅黑";
	font-weight: bold;
	margin-top:5px;
}
.cp_paylist {
	width: 969px;
	height: auto;
	border-left: 1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
	overflow: hidden;
	font-family: "微软雅黑";
}
.cp_paylist li {
	display: block;
	float: left;
	width: 147px; 
	border-right: 1px solid #e4e4e4;
}
.cp_paylist li h3 { width:100%; height: 38px; line-height:38px; font-size:14px; color:#232323; background:#f9f9f9;text-align: center;font-weight: normal; border-bottom: 1px solid #e5e5e5;}
.cp_paylist li p {
	width: 100%; 
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #333;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
}
.cp_paylist li p i,.cp_paylist2 td i {
	color: #fc3;
	font-size: 16px;
}
.cp_paypromt { 
	width: 835px;
	height: auto;
	line-height: 22px;
	font-size: 12px;
	font-family: "宋体";
	color: #333;
	background: #fbfbfb;
	padding: 10px 34px 10px 20px;
	margin: 10px 0 30px;
}
.hk_paypromt { width:916px; }
.cp_paypromt i {
	color: #36b5e0;
}
.cp_paypromt em { color: #f00;}
.cp_paylist2 {
	width: 888px;
	height: auto;
	border-left: 1px solid #e4e4e4;
	overflow: hidden;
	font-family: "微软雅黑";	
}
.hk_paylist2 { width:968px;height: auto;border-left: 1px solid #e4e4e4;border-top: 1px solid #e4e4e4;overflow: hidden;font-family: "微软雅黑";	}
.cp_paylist2 tr {

}
.cp_paylist2 td {

	height: 34px;
	line-height: 34px;
	font-size: 12px;
	color: #333;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.cp_paymoney { 
	width: 470px;
	height: auto;
	font-family: "宋体";
	padding:20px 30px;
	margin: 35px 0 0 393px;
}
.cp_paymoney p {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 14px;
	color: #979797;
}
.cp_paymoney p em {
	color: #f00;
	font-size: 18px;
	font-family: "微软雅黑";
}
.cp_paymoney span {
	display: block;
	width: 100%;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	color: #333;
	text-align: right;
	margin-bottom: 10px;
}
.cp_paymoney span i {
	color: #f00;
}
.cp_paymoney span a {
	color: #31b5dc;
	padding-left: 25px;
}
.cp_payctn {
	width: 970px;
	height: auto;
	padding: 0 0 20px 0;

}
.uc_paybtn { width: 154px; height: 38px; margin: 22px auto;}
.uc_paybtn a { display: block; width: 152px; height: 36px; text-align: center; line-height: 36px; font-size: 16px; font-family: "微软雅黑"; color: #333; background:#fc3; border:1px solid #fc3;border-radius: 3px;}
.uc_paybtn a:hover { text-decoration: none; background: #fe3; border:1px solid #fe3;}
.cp_paybtn {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 38px 0;
}
.cp_btnsure {
	float: right;
	margin: 0 2px 0 42px;

}
.cp_btnback {
	width: 154px;
	height: 38px;
	float: right;
}
.cp_btnback a {
	display: block; 
	width: 152px;
	height: 36px; 
	text-align: center; 
	line-height: 36px; 
	font-size: 16px; 
	font-family: "微软雅黑"; 
	color: #666;
	border:1px solid #666; 
	border-radius:3px;

}
.cp_btnback a:hover {
	border:1px solid #333; 
	background:#f5f5f5 ;
	text-decoration: none;
	color:#333;
}
/*配资成功*/
.cp_suc {
	width: 660px;
	height: auto;
	font-family: "微软雅黑";
	padding: 50px 140px 50px 165px;
	border-top: 1px solid #f1f1f1;
	margin: 0 15px;
}
.cp_suc h3 { 
	width: 530px;
	padding-left: 130px;
	height: 48px;
	line-height: 48px;
	background: url(../images/capital/suc.gif) no-repeat 40px 0;
	font-size: 26px;
	color: #666;
}
.cp_suc p { 
	width: 530px;
	height: auto;
	padding-left: 130px;
	font-size: 16px;
	color: #999;
	line-height: 36px;
	margin: 8px 0 20px;

}
.cp_suc span {
	padding-left: 130px;
	display: block;
	width: 530px;
	height: 30px;
	line-height: 30px;
	color: #666;
	font-size: 16px;
}
.cp_suc p a { 
	color: #fc3;
	font-size: 16px;
}
.cp_suc span.red { color: #f00;}
.cp_suc span a { color: #34b3e0; padding:0 5px;}
.cp_sucpromt { width: auto; height: auto; background: #f5f5f5; padding: 10px 20px;}
.cp_sucpromt h4 { width: 100%; height:34px; line-height: 34px; text-align: center; font-size:16px; color: #212121; text-align: left;}
.cp_sucpromtfont { width:100%; height: auto; line-height:30px; font-size: 14px; color: #727272; } 
.cp_sucpromtfont a { color: #ff8d1a;}
.cp_suc p.cp_succolor1 { color: #f00;}
.cp_pb_font { 
	width: 130px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #666;
	float: left;
}
.cp_btnsuc { 
	float: right;
	margin: 0 34px 0 0;
}
.uc_pay_promt {
	width: 250px;
	height: auto;
	position: absolute;
	left: 780px;
}

.uc_pay_promt i {
	width: 6px;
	height: 13px;
	background: url(../images/uc/pay_03.gif) no-repeat;
	position: absolute;
	left: -5px;
}
.uc_pay_promt p {
	width: 230px;
	height: auto;
	padding: 5px 10px;
	line-height: 18px;
	font-size: 12px;
	color: #db7c22;
	border: 1px solid #ffbb76;
	background: #fff;
}
.uc_pay_promt1 {
	top: 130px;	
}
.uc_pay_promt1 i { top: 20px;}
.uc_pay_promt2 {
	top: 200px;	
}
.uc_pay_promt2 i { top: 30px;}
.uc_pay_promt3 {
	top: 235px;	
}
.uc_pay_promt3 i { top: 30px;}

.cp_suc_account { color: #34b3e0; padding:0 5px;}
/*配资失败*/
.cp_fail {
	width: 660px;
	height: auto;
	font-family: "微软雅黑";
	padding: 50px 140px 50px 165px;
	border-top: 1px solid #f1f1f1;
	margin: 0 15px;
}
.cp_fail h3 { 
	width: 530px;
	padding-left: 130px;
	height: 48px;
	line-height: 48px;
	background: url(../images/capital/sorry.png) no-repeat 40px 0;
	font-size: 26px;
	color: #666;
}
.cp_fail p { 
	width: 530px;
	height: auto;
	padding-left: 130px;
	font-size: 16px;
	color: #999;
	line-height: 36px;
	margin: 8px 0 20px;

}
.cp_fail span {
	padding-left: 130px;
	display: block;
	width: 530px;
	height: 30px;
	line-height: 30px;
	color: #666;
	font-size: 16px;

}
.cp_fail span a { color: #34b3e0; padding:0 5px;}

/*8800活动*/
.cp_paylist li p img {  height: 25px; vertical-align: middle;}
.cp_paylist li p span { vertical-align: middle;}
.tp_user { width: 100%; height: auto;margin: 10px 0; padding: 0;}
.tp_user li { display: block; width: 100%; height: 45px; font-size: 0; }
.tp_user li label { display: inline-block; width:110px; height: 45px; line-height: 45px; font-size: 16px; color: #323232; text-align: right; vertical-align: middle;}
.tp_user li span { display: inline-block; vertical-align: middle; width: auto; height: 45px; line-height: 45px; font-size: 24px; color: #f00; padding-left: 20px;}

.fl_tdmask { 
	width: 100%;
	height: 170px;
	position: fixed;
	top: 0;	
	left:0;		  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 10;
}
/*限制股公告*/
.cp_dblink { text-align: right; font-size: 14px; float: right; margin-right: 10px; *margin-top:-38px;  }
.cp_dblink a { font-size: 14px; color: #4cb6ff; font-family: "宋体";} 
.fl_cpdb { width:620px; height: auto; padding: 20px; border-radius: 5px; background: #fff; position: fixed; left: 50%; margin-left: -315px; top: 15%; border: 1px solid #c7c8c7; z-index: 20; } 
.fl_cpdb h2 { width: 100%; height:50px; line-height: 40px; border-bottom: 1px solid #03cdff; text-align: center; font-size: 20px; color: #333; font-weight: normal;}
.fl_cpdblist { width:580px; height: 290px; overflow-y: scroll; margin: 0 auto;}
.fl_cpdblist li { display: block; float: left; width: 240px; height:40px; line-height: 40px; font-size:16px; color: #333; text-align: left; border-bottom: 1px solid #e0e0e0; padding-left: 40px;}
.fl_cpdbtn { width: 301px; height: 50px; margin: 20px auto;   }
.fl_cpdbtn a { display: block;width: 301px; height: 50px; line-height: 50px; text-align: center; font-size:18px; color: #fff; background: url(../images/cp/list_btn.gif) no-repeat; } 
.fl_cpdbtn a:hover { text-decoration: none;}
.fl_mask {
    width: 100%;
	height: 2000px;
	position: fixed;
	top: 0;	
	left:0;		  
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 5;
}
/*抵扣券*/
.cp_tkchoose { text-align: right;  width: 100%; height: 30px; margin: 10px 0 0 ;}
.cp_tkchoose input  { vertical-align: middle;}
.cp_tkchoose i { font-size: 14px; color: #979797; vertical-align: middle; padding-left: 5px;}
.cp_tkchoose select { width: 150px; height: 20px; line-height: 20px; border: 1px solid #ccc; margin-left: 10px; outline:  none; vertical-align: middle; color: #979797;}
.cp_tkchoose select option { line-height: 20px;}
/*最大配资额限制*/
.fl_mnpromt { width:665px; height: auto; background: #fff; border-radius: 5px; padding:85px 0 45px; z-index: 20; position: fixed; top: 20%; left: 50%; margin-left: -332.5px;}
.fl_mnpromt p { width:475px; padding-left:80px; height: auto; background: url(../images/cp/cp_mnicon.gif) no-repeat left top; font-size: 24px; color: #727272; font-family: "微软雅黑"; line-height: 48px; margin: 0 auto; }
.fl_mnpromt p span { font-size:16px; line-height: 20px; }
.fl_mnpromt p i { font-size: 28px; color: #ff8c1a; font-family: "Arial"; }
.fl_mnpromt a { display: block; width:160px; height: 40px; text-align: center; line-height: 40px; background: #ff8c19; color: #fff; font-size: 16px; color: #fff; border-radius: 5px; margin: 40px auto 0;}
.fl_mnpromt a:hover { text-decoration: none;}
/*定制化配资*/
.cp_dzpaypromt { width: auto; height: 38px; line-height: 38px; text-align: center; float: right; margin-right: 30px;} 
.cp_dzpaypromt a { font-size: 14px; color: #36b5e0;}

/*股指期货*/
.sif_paylist li { width: 240.5px; }
.cpx_paylist li { width:443px;}
.sif_paylist2 li { width: 176px;}
.sif_paylist2 li.last { width: 179px;}
.pro_paylist li { width: 221px; }
/* 支付确认 */
.fl_pay { padding:0; border:none;}
.fl_pay .fl_navtitle { background: #fc3;border-radius: 5px 5px 0 0; position: relative;}
.fl_pay .fl_navtitle h3.fl_logintitle { font-size:14px; color:#333;text-indent: 10px; width: 100%; height: 35px; line-height: 35px;}
.fl_pay .fl_navtitle a.close {position: absolute; right: 0; top: 0; width:12px; height:12px; background:url(../images/common/close-chacha.png) no-repeat; margin-top:12px; margin-right:10px; }
.fl_paylist { width:100%; padding:20px 0;}
.fl_paylist li { display:block;height: 34px;line-height: 34px; overflow: hidden;}
.fl_paylist li label { display:block; float:left; width:46%;text-align: right; font-size: 16px; color: #444;}
.fl_paylist li span { display:block; float:left; width:54%; text-align:left; font-seze:16px; color:#fc3;}
.fl_paylist li span i { padding-right:5px;}
.fl_paylist li select { width:115px; height:20px; line-height:20px; float:left; font-size:12px; margin-top:8px; border:1px solid #acaeb4;color: #444; font-family:"微软雅黑";}
.fl_paylist li select option { line-height:20px; color:#444;}
.fl_pay .fl_loginbtn { width: 255px; height:32px; overflow:hidden; text-align: center; margin: 0 auto;}
.fl_pay .fl_loginbtn a {text-decoration: none; display:block; width: 88px; height:30px; float:left; line-height:30px; margin:0 18px; font-size:14px; border-radius: 5px;}
.fl_pay .fl_loginbtn a.fl_pb_cancle { color:#666; border:1px solid #666; background:none; }
.fl_pay .fl_loginbtn a.fl_pb_cancle:hover { background:#f5f5f5; color:#333; border:1px solid #333;}
.fl_pay .fl_loginbtn a.fl_pb_sure { color:#333; border:1px solid #fc3; background:#fc3;} 
.fl_pay .fl_loginbtn a.fl_pb_nosure { color:#fff; border:1px solid #b7b7b7; background:#b7b7b7;} 

/*悬浮*/
.floatlayer { width: 1000px; height: 0; position: relative; margin: 0 auto; z-index: 20;}
.fl_server { width: 50px; height: auto; position: fixed; right: 0px;  bottom: 15%; margin-top: -50px; z-index: 50; }
.fl_server_top {position: fixed;right: 0px;top: 10%;z-index: 50;}
.fl_server_top a {display: block; width: 50px;height: 50px;background: url(../images/common-new/bottom-bottom.png) no-repeat;}
.fl_server_top a:hover {background: url(../images/common-new/bottom-bottom-on.png) no-repeat;}
.fl_server a { display: block; width: 40px; height: 40px; margin-bottom: 5px;}
.fl_sv_tent a { display: block; width: 40px; height: 40px; background: url(../images/common-new/fix_01.png) no-repeat;}
.fl_sv_tent a:hover { background: url(../images/common-new/fix_02.png) no-repeat;}
.fl_sv_up a { display: block; width: 40px; height: 40px; background: url(../images/common-new/bottom-top1.png) no-repeat;}
.fl_sv_up a:hover {cursor: pointer; background: url(../images/common-new/bottom-top-on.png) no-repeat;}
.fl_sv_code a { display: block; width: 40px; height: 40px; background: url(../images/common-new/appxiazai.png) no-repeat;}
.fl_sv_code a:hover {cursor: pointer; background: url(../images/common-new/appxiazai-on.png) no-repeat; }
.fl_sv_notic a { display: block; width: 40px; height: 40px; background: url(../images/common-new/fix_05.png) no-repeat;}
.fl_sv_notic a:hover { background: url(../images/common-new/fix_06.png) no-repeat;}
.fl_sv_codetk { /* background: #fc3;  */right: 52px; bottom: -8px;position: absolute; /* width: 100px; height: 147px; */ /* padding: 12px 24px 2px 14px;  */ }
.fl_sv_codetk img { width: 135px; height: 135px; display: block;}
.fl_sv_codetk p { width: 100px; height: 36px; line-height: 18px; font-size: 12px; color: #fff; text-align: center; padding-top: 5px;  }
.fl_notic { width: 100%; height: auto; background: url(../images/common-new/noticbg.png) repeat; position: fixed; left: 0; bottom: 0; padding: 8px 0; min-width: 1000px;  border-top: 1px solid #b73c40;}
.fl_ntctn { width: 1000px; height:auto; margin: 0 auto; }
.fl_ntctn h3 { width: 100%; height: 22px; line-height: 22px; text-align: left; font-size: 12px; color: #fff;  font-weight: normal; }
.fl_ntctn div { width: 100%; height: auto; line-height: 26px; font-size: 12px; color: #fff; text-align: left; text-indent: 2em; min-height: 52px; }
/*
.fl_ntctn p a { color: #fef700; text-decoration: underline;}
.fl_ntctn p a:hover { text-decoration: none;}
*/
.fl_ntctn .fl_n_close { display: block; width: 34px; height: 32px; background: url(../images/common-new/close.png) no-repeat; position: absolute; left: 50%; margin-left: 520px; top: 50%; margin-top: -16px;}

.top_tel { width: auto; height: 32px; line-height: 32px; /*background: url(../images/common-new/icon_02.mini.gif) no-repeat left center;*/color: #656b6f; float: left; font-size: 14px; color: #999;}
.top_tel em { vertical-align: middle;}
.top_tel i { font-size: 14px; color: #999; vertical-align: middle; font-family: "Arial";}
.top_tel { display: block;}
.fl_mask {
	width: 100%;
	height: 3000px;
	position: fixed;
	top: 0;	
	left:0;		  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,.5);
	z-index: 20;
}
.fl_pay {
    padding: 0;
    border: none;
    width: 420px;
    height: auto;
    /* padding: 10px 10px 30px 10px; */
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    /* border: 1px solid #e7e7e7; */
    z-index: 1000;
    color: #666;
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: -210px;
    min-width: 320px;
}

.fl_pay .fl_loginbtn a.fl_pb_sure:hover { background:#fe3; border: 1px solid #fe3;}
.fl_pay .fl_promtfont { width:100%; height: 35px; line-height:35px; border-top:1px solid #9f9f9f; padding:0; font-size: 12px; color:#555; margin-top:20px; text-align: center;}
.fl_pay .fl_cgpromt { width:380px; height:22px; background:#ffffcc; line-height:22px; font-size:12px; color:#333; border:1px dotted #ff8e43;text-align: center;margin: -10px auto 10px;}
.fl_pay .fl_cgpromt a { color:#fc3; font-size:12px; text-decoration: underline; }
.cp_payrule li { width:482px;}
.cp_paymoneybox { width:100%; height:auto; overflow:hidden;}
.cp_paymoneylist { width: 669px; float:left; }
.cp_paymoneylist li { width:333px;}
.cp_paymoneyic { width:90px; height:78px; float:left; text-align: center; line-height: 78px; font-size: 28px;}
.cp_paymoneyinfo { width:205px; float:right;}
.cp_paymoneyinfo li { width:202px;}
.cp_ovlist li { width:240px; }
.cp_ovlist li.big { width:483px;}
.cp_ovlist li p { height:115px; line-height:54px;}
.cp_ovlist li.big p { height:105px; line-height:20px; width:473px; padding:5px;text-align: left; font-size:12px;}
.cp_ovpayrule li {width:482px;}
.cp_ovpayrule li p { height:110px; line-height:66px;}
.cp_ovpayrule li p.big {height:110px;  width:472px; padding:0 5px; line-height:21px; font-size:12px; text-align: left;}
.cp_ovpayrule li p.big i { font-size:14px;}
.cpp_ovlist li p { height:38px; line-height:38px;}
.cpp_ovlist li.big p { height:28px; text-align: center; line-height:28px; } 
.cpp_ovlist li.big p a { color: #34b3e0;font-size: 14px;text-decoration: underline; }
.cpp_ovpayrule li p {height: 38px; line-height: 38px;}
.cpp_ovpayrule li p.big {line-height: 38px;text-align: center;}
.cpp_ovpayrule li p.big a {  color: #34b3e0; font-size: 14px; text-decoration: underline;}
/* 微信支付 */
#weixinbank .weixin_bind {text-align: center; background: #fc3; border: 1px solid #fc3; border-radius: 3px; padding: 0 10px;}
#weixinbank .weixin_bind:hover{background: #fe3; border: 1px solid #fe3; cursor: pointer;}
#weixinbank .weixin_update {text-align: center; background: #fc3; border: 1px solid #fc3; border-radius: 3px; padding: 0 10px; margin-left: 10px;}
#weixinbank .weixin_update:hover{background: #fe3; border: 1px solid #fe3; cursor: pointer;}

.cp_jja {padding-left: 310px; font-size: 16px; color: #666; margin-top: 10px;}



